Repository FlutterKaigi/2024, changes with the owners that .github/CODEOWNERS names for each.
All owners: @blendthink, @YumNumm, @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

.github/CODEOWNERS:

* @blendthink @YumNumm

/apps/app/ @FlutterKaigi/conference-app-2024
/apps/website/ @FlutterKaigi/conference-website-2024

/packages/app/ @FlutterKaigi/conference-app-2024
/packages/common/ @FlutterKaigi/conference-app-2024 @FlutterKaigi/conference-website-2024

fix: スポンサー画像のバケット名を修正
  apis/website-html-rewriter/src/ogImage.tsx
Owners: @blendthink, @YumNumm

update: タブに応じてScrollControllerを独立 / PageStorageKeyにてScrollの状態を管理
  packages/app/features/session/lib/src/ui/sessions_page.dart
Owners: @FlutterKaigi/conference-app-2024

update: 条件文をsession_dataに記述
  packages/app/features/session/lib/src/data/model/session_date.dart
Owners: @FlutterKaigi/conference-app-2024

add: 文字列を追加
  apps/ticket_web/lib/core/i18n/strings.i18n.json
  apps/ticket_web/lib/core/i18n/strings_en.i18n.json
  apps/ticket_web/lib/gen/i18n/strings.g.dart
Owners: @blendthink, @YumNumm

add: 入場時の注意
  apps/ticket_web/lib/pages/ticket/components/entrance_information_card.dart
  apps/ticket_web/lib/pages/ticket/ticket_page.dart
Owners: @blendthink, @YumNumm

remove: 不要になったコンポーネントを削除
  apps/ticket_web/lib/pages/ticket/components/about_profile_information_card.dart
  apps/ticket_web/lib/pages/ticket/components/profile_edit_restriction.dart
Owners: @blendthink, @YumNumm

regenerate code
  apps/ticket_web/lib/gen/i18n/strings.g.dart
Owners: @blendthink, @YumNumm

add(docs): ネームプレート区画IDの仕様書作成
  packages/common/data/docs/name_plate_section.md
Owners: @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

add: サンプルチケットを作成するSQLを作成
  packages/common/data/supabase/util/add_sample_tickets.sql
Owners: @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

add: ticketsテーブルにsection_idを作成
  packages/common/data/supabase/migrations/20241112162129_alter_ticket_section.sql
Owners: @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

regenerate type
  apis/supabase-types/src/types/index.ts
Owners: @blendthink, @YumNumm

regenerate type
  apis/supabase-types/src/types/index.ts
Owners: @blendthink, @YumNumm

fix: Apple WalletのPassにネームプレート区画IDを追加
  apis/ticket-api/src/routes/v1/wallet.ts
Owners: @blendthink, @YumNumm

add: パスに区画IDを追加
  apis/ticket-api/src/routes/v1/wallet.ts
Owners: @blendthink, @YumNumm

fix: Apple Wallet add button ui
  apps/ticket_web/lib/pages/ticket/components/ticket_qr_code_card.dart
Owners: @blendthink, @YumNumm

add: QRコードの下にUserIdのHeader部分を表示
  apps/ticket_web/lib/pages/ticket/components/ticket_qr_code_card.dart
Owners: @blendthink, @YumNumm

add: sectionId for dart model
  packages/common/data/lib/src/model/ticket.dart
  packages/common/data/lib/src/model/ticket.freezed.dart
  packages/common/data/lib/src/model/ticket.g.dart
Owners: @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

regenerate code
  apps/ticket_web/lib/gen/i18n/strings.g.dart
Owners: @blendthink, @YumNumm

add: 別端末のウォレットに追加する機能を実装
  apps/ticket_web/lib/core/i18n/strings.i18n.json
  apps/ticket_web/lib/core/i18n/strings_en.i18n.json
  apps/ticket_web/lib/gen/i18n/strings.g.dart
  apps/ticket_web/lib/pages/ticket/components/ticket_qr_code_card.dart
  apps/ticket_web/lib/pages/ticket/components/wallet_qr_dialog.dart
Owners: @blendthink, @YumNumm

add: QRコード下のPrefixをT(ticket)に変更
  apis/ticket-api/src/routes/v1/wallet.ts
Owners: @blendthink, @YumNumm

add: 区画IDの表示を追加
  apps/ticket_web/lib/core/i18n/strings.i18n.json
  apps/ticket_web/lib/core/i18n/strings_en.i18n.json
  apps/ticket_web/lib/gen/i18n/strings.g.dart
  apps/ticket_web/lib/pages/ticket/components/ticket_qr_code_card.dart
  apps/ticket_web/lib/pages/ticket/components/ticket_section_card.dart
Owners: @blendthink, @YumNumm

fix: bug
  apps/ticket_web/lib/core/i18n/strings.i18n.json
  apps/ticket_web/lib/gen/i18n/strings.g.dart
Owners: @blendthink, @YumNumm

remove: unused widgets
  apps/ticket_web/lib/pages/ticket/components/entrance_information_card.dart
  apps/ticket_web/lib/pages/ticket/components/warning_for_personal_sponsor_card.dart
  apps/ticket_web/lib/pages/ticket/components/warning_for_speaker_profile_card.dart
  apps/ticket_web/lib/pages/ticket/ticket_page.dart
Owners: @blendthink, @YumNumm

fix: import
  apps/ticket_web/lib/pages/ticket/ticket_page.dart
Owners: @blendthink, @YumNumm

fix: 文字列修正
  apps/ticket_web/lib/core/i18n/strings.i18n.json
  apps/ticket_web/lib/core/i18n/strings_en.i18n.json
  apps/ticket_web/lib/gen/i18n/strings.g.dart
Owners: @blendthink, @YumNumm

fix: profiles_with_sns_for_individual_sponsor のSNSフィールド名を変更
  packages/common/data/supabase/migrations/20241112193700_alter_profiles_with_sns_for_individual_sponsor.sql
Owners: @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

refactor: profiles_with_sns_for_individual_sponsor
  packages/common/data/supabase/migrations/20241112193700_alter_profiles_with_sns_for_individual_sponsor.sql
Owners: @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

add: individualSponosorView
  apps/website/lib/ui/pages/home/components/sponsors.dart
Owners: @FlutterKaigi/conference-website-2024

fix: 個人スポンサーをクリック可能に
  apps/website/lib/feature/sponsor/ui/components/individual_sponsor_card.dart
  apps/website/lib/feature/sponsor/ui/components/individual_sponsor_card.g.dart
  apps/website/lib/feature/sponsor/ui/individual_sponsor_view.dart
Owners: @FlutterKaigi/conference-website-2024

fix: 余白調整
  apps/website/lib/ui/pages/home/components/sponsors.dart
Owners: @FlutterKaigi/conference-website-2024

format
  apps/website/lib/gen/i18n/strings.g.dart
Owners: @FlutterKaigi/conference-website-2024

add: FCM ライブラリ追加
  apps/app/android/app/build.gradle
  apps/app/android/app/src/main/AndroidManifest.xml
  apps/app/android/app/src/main/res/drawable-hdpi/ic_notification.png
  apps/app/android/app/src/main/res/drawable-mdpi/ic_notification.png
  apps/app/android/app/src/main/res/drawable-xhdpi/ic_notification.png
  apps/app/android/app/src/main/res/drawable-xxhdpi/ic_notification.png
  apps/app/android/app/src/main/res/drawable-xxxhdpi/ic_notification.png
  apps/app/android/app/src/main/res/values/colors.xml
  apps/app/android/app/src/main/res/values/strings.xml
  apps/app/defines/production.env
  apps/app/ios/Podfile
  apps/app/ios/Podfile.lock
  apps/app/ios/Runner.xcodeproj/project.pbxproj
  apps/app/ios/Runner/Info.plist
  apps/app/pubspec.lock
  apps/app/pubspec.yaml
Owners: @FlutterKaigi/conference-app-2024

fix: Plugin [id: 'com.google.gms.google-services'] was not found
  apps/app/android/settings.gradle
Owners: @FlutterKaigi/conference-app-2024

refactor: Android FCM 対応
  apps/app/android/app/build.gradle
  apps/app/defines/production.env
  apps/app/lib/app.dart
  apps/app/lib/main.dart
  apps/app/pubspec.lock
  apps/app/pubspec.yaml
  packages/app/cores/core/lib/src/providers/messaging.dart
  packages/app/cores/core/lib/src/providers/messaging.g.dart
  packages/app/cores/core/lib/src/providers/permission.dart
  packages/app/cores/core/lib/src/providers/permission.g.dart
  packages/app/cores/core/lib/src/util/firebase.dart
  packages/app/cores/core/lib/util.dart
  packages/app/cores/core/pubspec.lock
  packages/app/cores/core/pubspec.yaml
Owners: @FlutterKaigi/conference-app-2024

update: pubspec.lock を更新
  packages/app/cores/core/pubspec.lock
  packages/app/cores/designsystem/pubspec.lock
  packages/app/cores/settings/pubspec.lock
  packages/app/features/about/pubspec.lock
  packages/app/features/news/pubspec.lock
  packages/app/features/session/pubspec.lock
  packages/app/features/venue/pubspec.lock
Owners: @FlutterKaigi/conference-app-2024

update: iOS FCM 対応
  apps/app/ios/Podfile
  apps/app/ios/Podfile.lock
  apps/app/ios/Runner/AppDelegate.swift
  packages/app/cores/core/lib/providers.dart
Owners: @FlutterKaigi/conference-app-2024

feat: 設定画面にプッシュ通知の設定を追加
  .vscode/cspell.json
  packages/app/cores/settings/assets/l10n/app_en.arb
  packages/app/cores/settings/assets/l10n/app_ja.arb
  packages/app/cores/settings/lib/src/gen/l10n/l10n.dart
  packages/app/cores/settings/lib/src/gen/l10n/l10n_en.dart
  packages/app/cores/settings/lib/src/gen/l10n/l10n_ja.dart
  packages/app/cores/settings/lib/src/ui/settings_page.dart
  packages/app/cores/settings/pubspec.lock
  packages/app/cores/settings/pubspec.yaml
Owners: @blendthink, @YumNumm, @FlutterKaigi/conference-app-2024

add: 構成ファイルを追加
  apps/app/android/app/google-services.json
  apps/app/ios/Runner/GoogleService-Info.plist
Owners: @FlutterKaigi/conference-app-2024

fix: kIsWeb は不要なので削除
  packages/app/cores/core/lib/src/util/firebase.dart
Owners: @FlutterKaigi/conference-app-2024

fix: 不要な多言語対応分を削除
  packages/app/cores/settings/lib/src/gen/l10n/l10n.dart
  packages/app/cores/settings/lib/src/gen/l10n/l10n_en.dart
  packages/app/cores/settings/lib/src/gen/l10n/l10n_ja.dart
Owners: @FlutterKaigi/conference-app-2024
