Repository FlutterKaigi/2024, changes with the owners that .github/CODEOWNERS names for each.
All owners: @blendthink, @YumNumm, @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

.github/CODEOWNERS:

* @blendthink @YumNumm

/apps/app/ @FlutterKaigi/conference-app-2024
/apps/website/ @FlutterKaigi/conference-website-2024

/packages/app/ @FlutterKaigi/conference-app-2024
/packages/common/ @FlutterKaigi/conference-app-2024 @FlutterKaigi/conference-website-2024

remove: seed.sqlの不要な関数を削除
  packages/common/data/supabase/seed.sql
Owners: @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

fix: sponsorV2を実装
  packages/common/data/lib/src/model/sponsor.dart
  packages/common/data/lib/src/model/sponsor.freezed.dart
  packages/common/data/lib/src/model/sponsor.g.dart
  packages/common/data/lib/src/repository/sponsor_repository.dart
  packages/common/data/lib/src/repository/sponsor_repository.freezed.dart
  packages/common/data/lib/src/repository/sponsor_repository.g.dart
Owners: @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

add: SponsorWithSessionV3 Models
  packages/common/data/lib/src/model/view/sponsor_with_session.dart
  packages/common/data/lib/src/model/view/sponsor_with_session.freezed.dart
  packages/common/data/lib/src/model/view/sponsor_with_session.g.dart
Owners: @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

fix: 不要なところにdeprecatedアノテーションがついていたので削除
  packages/common/data/lib/src/repository/sponsor_repository.dart
Owners: @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

add: fetchSponsorWithSessionV3を実装
  packages/common/data/lib/src/repository/sponsor_repository.dart
Owners: @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

fix(ticket_web): SponsorWithSessionViewV3に対応
  apps/ticket_web/lib/feature/promotion_code/ui/on_invited_promotion_code_entered_dialog/on_invited_promotion_code_entered_sponsor_dialog.dart
  apps/ticket_web/lib/feature/sponsor/data/sponsor_provider.dart
  apps/ticket_web/lib/feature/sponsor/data/sponsor_provider.g.dart
Owners: @blendthink, @YumNumm

add: `special_sponsor`に対応した`session_venues_with_sessions_v3`を作成
  packages/common/data/supabase/migrations/20241110173420_add_sponsor_v2_view.sql
Owners: @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

chore: バージョンとバージョンコード更新
  apps/app/pubspec.yaml
Owners: @FlutterKaigi/conference-app-2024

add(supabase_types): session_venues_with_sessions_v3 の型を追加
  apis/supabase-types/src/types/index.ts
Owners: @blendthink, @YumNumm

add: SessionVenuesWithSessionsV3 Modelを作成
  packages/common/data/lib/src/model/view/session_venues_with_sessions_v3_view.dart
  packages/common/data/lib/src/model/view/session_venues_with_sessions_v3_view.freezed.dart
  packages/common/data/lib/src/model/view/session_venues_with_sessions_v3_view.g.dart
Owners: @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

ci: mapping, native debug symbol ファイルをアップロードするように設定
  .github/workflows/deploy-app-android.yaml
  apps/app/android/fastlane/Fastfile
Owners: @blendthink, @YumNumm, @FlutterKaigi/conference-app-2024

add: SessionVenuesWithSessionV3の実装
  packages/common/data/lib/src/repository/session_repository.dart
Owners: @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

fix: SessionVenuesWithSessionV2をDeprecatedに
  packages/common/data/lib/src/model/view/session_venues_with_sessions_v2_view.dart
  packages/common/data/lib/src/model/view/session_venues_with_sessions_v2_view.freezed.dart
Owners: @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

fix: exportを追加
  packages/common/data/lib/session.dart
Owners: @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

ci: native debug symbol ファイルパスを修正
  .github/workflows/deploy-app-android.yaml
Owners: @blendthink, @YumNumm

fix: SessionVenuesWithSessionsV2 -> SessionVenuesWithSessionsV3 への対応
  apps/website/lib/feature/session/data/sessions_notifier.dart
  apps/website/lib/feature/session/data/sessions_notifier.g.dart
  apps/website/lib/feature/session/ui/components/session_table_grid/model/time_slot.freezed.dart
  apps/website/lib/feature/session/ui/components/session_table_grid/session_grid.dart
  apps/website/lib/feature/session/ui/components/session_table_grid/sessions_row.dart
  apps/website/lib/feature/session/ui/components/session_table_grid/time_slot_row.dart
  apps/website/lib/feature/session/ui/components/session_table_grid/venue_session_card.dart
  apps/website/lib/feature/session/ui/components/session_table_header.dart
  apps/website/lib/feature/session/ui/session_table.dart
  apps/website/lib/feature/sponsor/data/sponsor_notifier.dart
  apps/website/lib/feature/sponsor/data/sponsor_notifier.g.dart
  apps/website/lib/ui/components/sponsor_logo.dart
  apps/website/lib/ui/pages/home/components/sponsors.dart
  apps/website/lib/ui/pages/session/components/session_details_card.dart
  apps/website/lib/ui/pages/sponsor/components/sponsor_type_logo.dart
  apps/website/lib/ui/pages/sponsor/components/sponsor_view.dart
  apps/website/lib/ui/pages/sponsor/sponsor_page.dart
Owners: @FlutterKaigi/conference-website-2024

fix: sponsor_v2 ビューで不足しているフィールドがあったので追加
  packages/common/data/supabase/migrations/20241110173420_add_sponsor_v2_view.sql
Owners: @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

add: Sponsorv2対応
  apps/website/lib/core/i18n/strings.i18n.json
  apps/website/lib/gen/i18n/strings.g.dart
  apps/website/lib/ui/pages/home/components/sponsors.dart
Owners: @FlutterKaigi/conference-website-2024

fix: SponsorIDが重複していたので修正
  packages/common/data/supabase/seed.sql
Owners: @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

fix: SYMBOL_FILE_PATH, MAPPING_FILE_PATH を環境変数から取得するよう修正
  apps/app/android/fastlane/Fastfile
Owners: @FlutterKaigi/conference-app-2024

fix: SponsorTypeV2で追加されたスポンサータイプの表示
  apps/website/lib/ui/pages/sponsor/components/sponsor_type_logo.dart
Owners: @FlutterKaigi/conference-website-2024

regenerate types
  apis/supabase-types/src/types/index.ts
Owners: @blendthink, @YumNumm

formatted code with melos
  apps/website/lib/gen/i18n/strings.g.dart
Owners: @FlutterKaigi/conference-website-2024

fix: HTML Rewriterをsponsor_v2対応
  apis/website-html-rewriter/src/server.ts
Owners: @blendthink, @YumNumm

fix: OG Image Generatorをsponsor_v2対応
  apis/website-html-rewriter/src/ogImage.tsx
Owners: @blendthink, @YumNumm

fix: OG Image Generatorをsponsor_v2対応
  apis/website-html-rewriter/src/ogImage.tsx
Owners: @blendthink, @YumNumm

add: staging環境のlaunch.jsonを追加
  .vscode/launch.json
Owners: @blendthink, @YumNumm

format
  .vscode/launch.json
Owners: @blendthink, @YumNumm

fix: 特別スポンサーのサイズをBronzeと同じにする
  apps/website/lib/ui/pages/home/components/sponsors.dart
Owners: @FlutterKaigi/conference-website-2024

fix: ITMS-90078 に対応
  apps/app/ios/Runner.xcodeproj/project.pbxproj
  apps/app/ios/Runner/Runner.entitlements
Owners: @FlutterKaigi/conference-app-2024

add: profiles_with_sns_for_individual_sponsor VIEW
  packages/common/data/supabase/migrations/20241110173718_alter_profiles_for_personal_sponsor.sql
Owners: @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

add: fetchProfilesForIndividualSponsor function
  packages/common/data/lib/src/repository/profile_repository.dart
Owners: @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

add: individual_sponsor_notifier provider
  apps/website/lib/feature/sponsor/data/individual_sponsor_notifier.dart
  apps/website/lib/feature/sponsor/data/individual_sponsor_notifier.g.dart
Owners: @FlutterKaigi/conference-website-2024

fix: InfoPlist.stringsをInfoPlist.xcstringsへマイグレーション
  apps/app/ios/InfoPlist.xcstrings
  apps/app/ios/Runner.xcodeproj/project.pbxproj
  apps/app/ios/en.lproj/InfoPlist.strings
  apps/app/ios/ja.lproj/InfoPlist.strings
Owners: @FlutterKaigi/conference-app-2024

fix: 直接 Info.plist の値を入力
  apps/app/ios/Runner/Info.plist
Owners: @FlutterKaigi/conference-app-2024

Revert "Add test data of news to db seed"
  packages/common/data/supabase/seed.sql
Owners: @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

fix: 最終的なビルドナンバーまで更新
  apps/app/pubspec.yaml
Owners: @FlutterKaigi/conference-app-2024

move constant to common and use it on all components
  apps/ticket_web/lib/core/components/site_footer.dart
  apps/ticket_web/lib/pages/home/components/ticket_will_be_on_sale_card.dart
  apps/website/lib/ui/components/footer/site_footer.dart
  apps/website/lib/ui/components/header/hamburger_menu.dart
  apps/website/lib/ui/pages/home/components/lead.dart
  apps/website/lib/ui/pages/home/components/sponsor.dart
  packages/app/cores/core/lib/constants.dart
  packages/app/features/about/lib/src/ui/about_page.dart
  packages/common/data/lib/constant.dart
  packages/common/data/lib/constant/official_social_urls.dart
Owners: @blendthink, @YumNumm, @FlutterKaigi/conference-website-2024, @FlutterKaigi/conference-app-2024

chore
  packages/common/data/lib/constant.dart
  packages/common/data/lib/src/constant/official_social_urls.dart
Owners: @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

temp: 個人スポンサーViewの実装
  apps/website/lib/core/i18n/strings.i18n.json
  apps/website/lib/feature/sponsor/ui/components/individual_sponsor_card.dart
  apps/website/lib/feature/sponsor/ui/individual_sponsor_view.dart
  apps/website/lib/gen/i18n/strings.g.dart
Owners: @FlutterKaigi/conference-website-2024
