Repository FlutterKaigi/2024, changes with the owners that .github/CODEOWNERS names for each.
All owners: @blendthink, @YumNumm, @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

fix: 使用する context が異なる問題を修正
  apps/ticket_web/lib/feature/ticket/ui/components/crop_widget/crop_widget_io.dart
  apps/ticket_web/lib/feature/ticket/ui/components/crop_widget/crop_widget_web.dart
  apps/ticket_web/lib/feature/ticket/ui/components/image_cropper_dialog.dart
Owners: @blendthink, @YumNumm

feat: スタッフ４名追加
  packages/common/data/supabase/seed.sql
Owners: @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

feat: スタッフのSNS情報を追加
  packages/common/data/supabase/seed.sql
Owners: @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

feat: スタッフ画像を追加
  packages/common/data/supabase/seed-storage/staffs/granoeste.webp
  packages/common/data/supabase/seed-storage/staffs/jiyuujin.webp
  packages/common/data/supabase/seed-storage/staffs/mightyfrog.webp
  packages/common/data/supabase/seed-storage/staffs/starmAIne777.webp
Owners: @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

fix: 重複データを削除
  packages/common/data/supabase/seed.sql
Owners: @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

fix: InkWellを使用した実装をしました
  packages/app/features/about/lib/src/ui/about_page.dart
Owners: @FlutterKaigi/conference-app-2024

fix: URLを修正しました
  packages/app/cores/core/lib/src/constants/official_social_urls.dart
Owners: @FlutterKaigi/conference-app-2024

fix: iOSとAndroidで不要になった記載を削除しました。
  apps/app/android/app/src/main/AndroidManifest.xml
  apps/app/ios/Runner/Info.plist
Owners: @FlutterKaigi/conference-app-2024

fix: Xアプリの遷移の実装をMeduimの同様に修正しました。
  packages/app/features/about/lib/src/ui/about_page.dart
Owners: @FlutterKaigi/conference-app-2024

fix: Xのアプリの遷移に必要なURLのみにしました
  packages/app/cores/core/lib/src/constants/official_social_urls.dart
  packages/app/features/about/lib/src/ui/about_page.dart
Owners: @FlutterKaigi/conference-app-2024

refactor(session): textDirection と intl の競合を解消
  packages/app/features/session/lib/src/ui/session_page.dart
Owners: @FlutterKaigi/conference-app-2024

fix(session): textPainterを使用してexpandedHeightを設定
  packages/app/features/session/lib/src/ui/session_page.dart
Owners: @FlutterKaigi/conference-app-2024

fix: 不要なimportを削除しました
  packages/app/features/about/lib/src/ui/about_page.dart
Owners: @FlutterKaigi/conference-app-2024

fix: Contributors画面のUIを変更
  packages/app/features/about/lib/src/ui/contributors/contributors_list_item.dart
Owners: @FlutterKaigi/conference-app-2024

update: l10nファイル更新
  packages/app/features/about/assets/l10n/app_en.arb
  packages/app/features/about/assets/l10n/app_ja.arb
  packages/app/features/about/lib/src/gen/l10n/l10n.dart
  packages/app/features/about/lib/src/gen/l10n/l10n_en.dart
  packages/app/features/about/lib/src/gen/l10n/l10n_ja.dart
Owners: @FlutterKaigi/conference-app-2024

fix: analyze修正
  packages/app/features/about/lib/src/ui/about_page.dart
Owners: @FlutterKaigi/conference-app-2024

refactor(session): appBarSize は kToolbarHeight を使用するよう修正
  packages/app/features/session/lib/src/ui/session_page.dart
Owners: @FlutterKaigi/conference-app-2024

お知らせ一覧画面：有効なお知らせのみを表示する
  packages/app/features/news/lib/src/ui/news_page.dart
Owners: @FlutterKaigi/conference-app-2024

fix: sizeOfメソッドを利用する様に変更
  packages/app/features/about/lib/src/ui/contributors/contributors_list_item.dart
Owners: @FlutterKaigi/conference-app-2024

fix: Biomeに怒られていた部分を修正
  apis/website-html-rewriter/src/ogImage.tsx
  apis/website-html-rewriter/src/server.ts
Owners: @blendthink, @YumNumm

chore: website-html-rewriterにcheck, lint, formatのscriptsが存在しなかったので 追加
  apis/website-html-rewriter/package.json
Owners: @blendthink, @YumNumm

fix: `dist/**`ディレクトリをbiomeのignoreに追加
  biome.json
Owners: @blendthink, @YumNumm

fix: formatted with biome
  apis/website-html-rewriter/src/bindings.d.ts
  apis/website-html-rewriter/src/ogImage.tsx
  apis/website-html-rewriter/src/server.ts
  apis/website-html-rewriter/src/util/ogpRewriter.ts
Owners: @blendthink, @YumNumm

fix: `pnpm dev`コマンド実行時に トランスパイルも自動で実行するように修正
  apis/website-html-rewriter/package.json
Owners: @blendthink, @YumNumm

docs: READMEにデバッグ手順を記載
  apis/website-html-rewriter/README.md
Owners: @blendthink, @YumNumm

fix: OG画像のURLを修正
  apis/website-html-rewriter/src/ogImage.tsx
  apis/website-html-rewriter/src/server.ts
  apis/website-html-rewriter/src/util/ogpRewriter.ts
Owners: @blendthink, @YumNumm

format with prettier
  biome.json
Owners: @blendthink, @YumNumm

feat:GithubアイコンタップでGithubを開けるように変更
  packages/app/cores/core/lib/src/constants/official_social_urls.dart
  packages/app/features/about/lib/src/ui/about_page.dart
Owners: @FlutterKaigi/conference-app-2024

Add share function on session detail
  packages/app/features/session/lib/src/ui/session_page.dart
Owners: @FlutterKaigi/conference-app-2024

Update packages/app/features/session/lib/src/ui/session_page.dart
  packages/app/features/session/lib/src/ui/session_page.dart
Owners: @FlutterKaigi/conference-app-2024

fix: GitHubのURLをプロジェクト指定からOrgnization指定に変更
  packages/app/cores/core/lib/src/constants/official_social_urls.dart
Owners: @FlutterKaigi/conference-app-2024

fix: IconButtonを使わずにInkWellだけでGitHubアイコンのタップイベントを実装
  packages/app/features/about/lib/src/ui/about_page.dart
Owners: @FlutterKaigi/conference-app-2024

Add events data
  packages/app/features/session/lib/src/data/model/timeline_item.dart
  packages/app/features/session/lib/src/data/model/timeline_item.freezed.dart
  packages/app/features/session/lib/src/data/providers/session_timeline.dart
  packages/app/features/session/lib/src/data/providers/session_timeline.g.dart
Owners: @FlutterKaigi/conference-app-2024

Add event card
  packages/app/features/session/lib/src/ui/timeline_item_view.dart
Owners: @FlutterKaigi/conference-app-2024

Fix events timezone
  packages/app/features/session/lib/src/data/providers/session_timeline.dart
Owners: @FlutterKaigi/conference-app-2024

Fix generation hash
  packages/app/features/session/lib/src/data/providers/session_timeline.g.dart
Owners: @FlutterKaigi/conference-app-2024

fix: sessions.sponsor_id に ON DELETE CASCADE オプションを適用
  packages/common/data/supabase/migrations/20241110160000_alter_sessions_sponsor_id_on_delete.sql
Owners: @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

Query only available news
  packages/app/features/news/lib/src/ui/news_page.dart
  packages/common/data/lib/src/repository/news_repository.dart
  packages/common/data/lib/src/repository/news_repository_impl.dart
Owners: @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

feat: セマンティックバージョン用の TYPE, DOMAIN, FUNCTION を作成
  packages/common/data/supabase/migrations/20241110162100_add_semver_components.sql
  packages/common/data/supabase/tests/semver_components_test.sql
Owners: @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

feat: アプリの最小バージョンを管理するテーブルを作成
  packages/common/data/supabase/migrations/20241110163100_add_app_version_table.sql
  packages/common/data/supabase/tests/app_minimum_versions_test.sql
Owners: @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

.github/CODEOWNERS:

* @blendthink @YumNumm

/apps/app/ @FlutterKaigi/conference-app-2024
/apps/website/ @FlutterKaigi/conference-website-2024

/packages/app/ @FlutterKaigi/conference-app-2024
/packages/common/ @FlutterKaigi/conference-app-2024 @FlutterKaigi/conference-website-2024
