Repository FlutterKaigi/2024, changes with the owners that .github/CODEOWNERS names for each.
All owners: @blendthink, @YumNumm, @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

.github/CODEOWNERS:

* @blendthink @YumNumm

/apps/app/ @FlutterKaigi/conference-app-2024
/apps/website/ @FlutterKaigi/conference-website-2024
/apps/ticket_reader/ @YumNumm
/apps/ticket_web/ @YumNumm

/packages/app/ @FlutterKaigi/conference-app-2024
/packages/common/ @FlutterKaigi/conference-app-2024 @FlutterKaigi/conference-website-2024

add: labelerの`related/ticket`に`ticket_reader`を追加
  .github/labeler.yaml
Owners: @blendthink, @YumNumm

sort pub dependencies
  apps/ticket_reader/pubspec.yaml
Owners: @YumNumm

add: freezed関連のパッケージを追加
  apps/ticket_reader/pubspec.lock
  apps/ticket_reader/pubspec.yaml
Owners: @YumNumm

add: build.yamlを作成
  apps/ticket_reader/build.yaml
Owners: @YumNumm

fix: `melos bs`を実行し 依存関係を解決
  apps/ticket_reader/pubspec.lock
  apps/ticket_reader/pubspec.yaml
Owners: @YumNumm

fix: MainApp WidgetをProviderScopeで囲う
  apps/ticket_reader/lib/main.dart
Owners: @YumNumm

fix: Development Teamを個人のものからFlutterKaigiのものに変更・アプリ名を`Ticket Reader`に設定
  apps/ticket_reader/ios/Runner.xcodeproj/project.pbxproj
  apps/ticket_reader/ios/Runner/Info.plist
Owners: @YumNumm

remove: iOSのRunnerTest Targetを削除
  apps/ticket_reader/ios/Runner.xcodeproj/project.pbxproj
  apps/ticket_reader/ios/RunnerTests/RunnerTests.swift
Owners: @YumNumm

add: 余白をつけるため、SizedBoxを追加しました
  packages/app/features/about/lib/src/ui/about_page.dart
Owners: @FlutterKaigi/conference-app-2024

fix: AppIconを設定
  apps/ticket_reader/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  apps/ticket_reader/ios/Runner/Assets.xcassets/AppIcon.appiconset/Frame.png
  apps/ticket_reader/ios/Runner/Assets.xcassets/AppIcon.appiconset/Frame2.png
  apps/ticket_reader/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
  apps/ticket_reader/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  apps/ticket_reader/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  apps/ticket_reader/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  apps/ticket_reader/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  apps/ticket_reader/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  apps/ticket_reader/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  apps/ticket_reader/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  apps/ticket_reader/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  apps/ticket_reader/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  apps/ticket_reader/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  apps/ticket_reader/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  apps/ticket_reader/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  apps/ticket_reader/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  apps/ticket_reader/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  apps/ticket_reader/ios/Runner/Assets.xcassets/AppIcon.appiconset/Tint.png
Owners: @YumNumm

add: mediumにもエフェクトの領域を調節しました
  packages/app/features/about/lib/src/ui/about_page.dart
Owners: @FlutterKaigi/conference-app-2024

fix: futabooo さんの画像を変更
  packages/common/data/supabase/seed-storage/speakers/f50c024e-bd44-4740-b343-37a3e6fa71d7.png
  packages/common/data/supabase/seed-storage/speakers/f50c024e-bd44-4740-b343-37a3e6fa71d7.webp
Owners: @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

add: macOSのDerivedDataをgitignore二追加
  apps/ticket_reader/macos/.gitignore
Owners: @YumNumm

add: macOSでネットワーク接続を許可
  apps/ticket_reader/macos/Runner.xcodeproj/project.pbxproj
  apps/ticket_reader/macos/Runner/DebugProfile.entitlements
  apps/ticket_reader/macos/Runner/Release.entitlements
Owners: @YumNumm

fix: iOSアプリの言語をJapaneseに設定
  apps/ticket_reader/ios/Runner.xcodeproj/project.pbxproj
  apps/ticket_reader/ios/Runner/ja.lproj/LaunchScreen.strings
  apps/ticket_reader/ios/Runner/ja.lproj/Main.strings
Owners: @YumNumm

add: README
  apps/ticket_reader/README.md
Owners: @YumNumm

execute prettier
  apps/ticket_reader/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  apps/ticket_reader/ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
  apps/ticket_reader/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
Owners: @YumNumm
