Repository FlutterKaigi/2024, changes with the owners that .github/CODEOWNERS names for each.
All owners: @blendthink, @YumNumm, @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

.github/CODEOWNERS:

* @blendthink @YumNumm

/apps/app/ @FlutterKaigi/conference-app-2024
/apps/website/ @FlutterKaigi/conference-website-2024

/packages/app/ @FlutterKaigi/conference-app-2024
/packages/common/ @FlutterKaigi/conference-app-2024 @FlutterKaigi/conference-website-2024

Fix: Fix the variation in wording
  apps/app/README.md
Owners: @FlutterKaigi/conference-app-2024

Add: Semantics for AboutUs scene
  packages/app/cores/settings/assets/l10n/app_en.arb
  packages/app/cores/settings/assets/l10n/app_ja.arb
  packages/app/cores/settings/lib/src/gen/l10n/l10n.dart
  packages/app/cores/settings/lib/src/gen/l10n/l10n_en.dart
  packages/app/cores/settings/lib/src/gen/l10n/l10n_ja.dart
  packages/app/cores/settings/lib/src/ui/settings_button.dart
  packages/app/features/about/assets/l10n/app_en.arb
  packages/app/features/about/assets/l10n/app_ja.arb
  packages/app/features/about/lib/src/gen/l10n/l10n.dart
  packages/app/features/about/lib/src/gen/l10n/l10n_en.dart
  packages/app/features/about/lib/src/gen/l10n/l10n_ja.dart
  packages/app/features/about/lib/src/ui/about_page.dart
Owners: @FlutterKaigi/conference-app-2024

update: 環境別切り替え対応(iOS)
  apps/app/defines/development.env
  apps/app/ios/Config/dev/GoogleService-Info-dev.plist
  apps/app/ios/Config/prod/GoogleService-Info-prod.plist
  apps/app/ios/Runner.xcodeproj/project.pbxproj
Owners: @FlutterKaigi/conference-app-2024

feat: TKMN さんのスタッフ情報を追加
  packages/common/data/supabase/seed.sql
Owners: @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

feat: TKMN さんのアイコンを追加
  packages/common/data/supabase/seed-storage/staffs/wtkmn.webp
Owners: @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

fix: mainプッシュ時にTicketWebのデプロイ
  .github/workflows/deploy-ticket.yaml
Owners: @blendthink, @YumNumm

fix: Websiteのデプロイ時にCommitHash, Branchが考慮されていなかったので修正
  .github/workflows/deploy-website.yaml
Owners: @blendthink, @YumNumm

update: 環境別切り替え対応(Android)
  apps/app/android/app/build.gradle
  apps/app/android/app/src/development/google-services.json
  apps/app/android/app/src/production/google-services.json
  apps/app/defines/development.env
  apps/app/defines/production.env
Owners: @FlutterKaigi/conference-app-2024

update: 一部構成ファイルを .gitignore へ追加
  apps/app/.gitignore
Owners: @FlutterKaigi/conference-app-2024

delete: 一部構成ファイルを削除
  apps/app/android/app/google-services.json
  apps/app/ios/Runner/GoogleService-Info.plist
Owners: @FlutterKaigi/conference-app-2024

fix: ブランチ名の取得方法を修正 https://stackoverflow.com/a/71158878
  .github/workflows/deploy-website.yaml
Owners: @blendthink, @YumNumm

fix: コミットメッセージに空白が入っていた場合 Websiteデプロイでエラーが起きる問題を修正
  .github/workflows/deploy-website.yaml
Owners: @blendthink, @YumNumm

fix: 環境変数のBaseURLでは 末尾のスラッシュを削除
  apps/ticket_web/defines/production.env
  apps/ticket_web/defines/staging.env.example
Owners: @blendthink, @YumNumm

fix: project id の typo 修正
  apps/app/android/app/src/development/google-services.json
  apps/app/android/app/src/production/google-services.json
  apps/app/defines/development.env
  apps/app/defines/production.env
  apps/app/ios/Config/dev/GoogleService-Info-dev.plist
  apps/app/ios/Config/prod/GoogleService-Info-prod.plist
Owners: @FlutterKaigi/conference-app-2024

delete: 一部構成ファイルの Reference を削除
  apps/app/ios/Runner.xcodeproj/project.pbxproj
Owners: @FlutterKaigi/conference-app-2024

fix: melos format 対応
  packages/app/cores/core/lib/src/util/firebase.dart
  packages/app/cores/settings/lib/src/ui/settings_page.dart
Owners: @FlutterKaigi/conference-app-2024

fix: prettier check 対応
  .vscode/cspell.json
  apps/app/android/app/src/development/google-services.json
  apps/app/android/app/src/production/google-services.json
Owners: @blendthink, @YumNumm, @FlutterKaigi/conference-app-2024

add: 登壇者用のセクションID定義を作成
  packages/common/data/supabase/migrations/20241113192437_alter_get_available_section.sql
Owners: @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

Fix: replace label text
  packages/app/cores/settings/assets/l10n/app_en.arb
  packages/app/cores/settings/assets/l10n/app_ja.arb
  packages/app/cores/settings/lib/src/gen/l10n/l10n.dart
  packages/app/cores/settings/lib/src/gen/l10n/l10n_en.dart
  packages/app/cores/settings/lib/src/gen/l10n/l10n_ja.dart
  packages/app/cores/settings/lib/src/ui/settings_button.dart
Owners: @FlutterKaigi/conference-app-2024

fix: 英文の最後に period を追加
  packages/app/cores/settings/assets/l10n/app_en.arb
  packages/app/cores/settings/lib/src/gen/l10n/l10n_en.dart
Owners: @FlutterKaigi/conference-app-2024

fix: Build Phases で利用するスクリプトを整理
  apps/app/ios/Runner.xcodeproj/project.pbxproj
  apps/app/ios/scripts/set_google_service_info_by_env.sh
Owners: @FlutterKaigi/conference-app-2024

fix: ネストが深いので、一部 private method に切り出す
  packages/app/cores/settings/lib/src/ui/settings_page.dart
Owners: @FlutterKaigi/conference-app-2024

fix: melos format 対応
  packages/app/cores/settings/lib/src/ui/settings_page.dart
Owners: @FlutterKaigi/conference-app-2024

showHeaderNavigationがfalseの時、DrawerButtonも非表示にする
  apps/website/lib/ui/components/header/site_header.dart
Owners: @FlutterKaigi/conference-website-2024

不必要にDrawerが設定されている箇所を修正
  apps/website/lib/ui/pages/job_board/job_board_page.dart
  apps/website/lib/ui/pages/sponsor/sponsor_page.dart
Owners: @FlutterKaigi/conference-website-2024

feat: 言語設定に応じて、フロアマップを切り替える
  packages/app/features/venue/assets/images/floor_map_en.webp
  packages/app/features/venue/assets/images/floor_map_ja.webp
  packages/app/features/venue/lib/src/gen/assets/assets.gen.dart
  packages/app/features/venue/lib/src/ui/venue_page.dart
  packages/app/features/venue/pubspec.lock
  packages/app/features/venue/pubspec.yaml
Owners: @FlutterKaigi/conference-app-2024

Add: excludeFromSemantics parameter in MainLogo
  packages/app/cores/designsystem/lib/src/ui/main_logo.dart
Owners: @FlutterKaigi/conference-app-2024

fix: タップ領域を増やすために、SizedBoxではなく、Paddingを使用して領域を広げてみました
  packages/app/features/about/lib/src/ui/about_page.dart
Owners: @FlutterKaigi/conference-app-2024

add(deps): riverpod関連のパッケージを追加 `fvm flutter pub add hooks_riverpod flutter_hooks riverpod_annotati on dev:riverpod_generator dev:build_runner dev:custom_lint dev:riv erpod_lint`
  apps/ticket_reader/pubspec.lock
  apps/ticket_reader/pubspec.yaml
Owners: @blendthink, @YumNumm

fix: analysis_optionsをプロジェクト全体のものを参照するよう修正
  apps/ticket_reader/analysis_options.yaml
Owners: @blendthink, @YumNumm
