Repository FlutterKaigi/2024, changes with the owners that .github/CODEOWNERS names for each.
All owners: @blendthink, @YumNumm, @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

add: wallet api
  apis/ticket-api/assets/background.png
  apis/ticket-api/assets/icon.png
  apis/ticket-api/package.json
  apis/ticket-api/src/bindings.d.ts
  apis/ticket-api/src/files.d.ts
  apis/ticket-api/src/routes/v1/v1.ts
  apis/ticket-api/src/routes/v1/wallet.ts
  apis/ticket-api/wrangler.toml
  pnpm-lock.yaml
Owners: @blendthink, @YumNumm

fix: sponsor size
  apps/website/lib/feature/session/ui/components/session_table_card/session_card_content.dart
  apps/website/lib/ui/components/sponsor_logo.dart
  apps/website/lib/ui/pages/session/components/session_details_card.dart
Owners: @FlutterKaigi/conference-website-2024

fix: 懇親会の時刻
  apps/website/lib/feature/session/data/special_sessions_notifier.dart
Owners: @FlutterKaigi/conference-website-2024

rebuild code
  apps/website/lib/feature/session/data/model/special_session.g.dart
  apps/website/lib/feature/session/data/special_sessions_notifier.g.dart
Owners: @FlutterKaigi/conference-website-2024

fix: 曜日間違いを修正
  apps/ticket_web/lib/core/i18n/strings.i18n.json
  apps/ticket_web/lib/core/i18n/strings_en.i18n.json
  apps/ticket_web/lib/gen/i18n/strings.g.dart
Owners: @blendthink, @YumNumm

regenerate code
  apps/website/lib/core/router/router.g.dart
  apps/website/lib/feature/session/data/special_sessions_notifier.g.dart
Owners: @FlutterKaigi/conference-website-2024

regenrate code
  apps/website/lib/core/router/router.g.dart
  apps/website/lib/gen/i18n/strings.g.dart
Owners: @FlutterKaigi/conference-website-2024

regenerate code
  apps/website/lib/gen/i18n/strings.g.dart
Owners: @FlutterKaigi/conference-website-2024

regenerate code
  apps/website/lib/gen/i18n/strings.g.dart
Owners: @FlutterKaigi/conference-website-2024

fix: 木曜に変更
  apps/ticket_web/lib/core/i18n/strings.i18n.json
  apps/ticket_web/lib/core/i18n/strings_en.i18n.json
  apps/ticket_web/lib/gen/i18n/strings.g.dart
Owners: @blendthink, @YumNumm

regenerate code
  apps/website/lib/feature/job_board/data/job_board_notifier.g.dart
  apps/website/lib/feature/session/data/model/special_session.g.dart
Owners: @FlutterKaigi/conference-website-2024

fix: duplicate import
  apps/website/lib/core/router/router.dart
  apps/website/lib/gen/i18n/strings.g.dart
Owners: @FlutterKaigi/conference-website-2024

regenerate code
  apps/website/lib/gen/i18n/strings.g.dart
Owners: @FlutterKaigi/conference-website-2024

docs: GET_STARTED に CocoaPods について追記
  docs/GET_STARTED.md
Owners: @blendthink, @YumNumm

chore: cspell.json に Podfile を追加
  .vscode/cspell.json
Owners: @blendthink, @YumNumm

docs: Android Studio に関する捕捉事項を追記
  docs/GET_STARTED.md
Owners: @blendthink, @YumNumm

docs: IDEA の動作保証バージョンを記載
  docs/GET_STARTED.md
Owners: @blendthink, @YumNumm

fix: 学割に中学を追加
  apps/ticket_web/lib/core/i18n/strings.i18n.json
  apps/ticket_web/lib/core/i18n/strings_en.i18n.json
  apps/ticket_web/lib/gen/i18n/strings.g.dart
Owners: @blendthink, @YumNumm

fix: 特殊文字のバリデーションを削除
  apps/ticket_web/lib/feature/ticket/ui/components/ticket_card_edit_dialog.dart
Owners: @blendthink, @YumNumm

fix: プロフィール編集可能日時を11/12に変更
  apps/ticket_web/lib/core/i18n/strings.i18n.json
  apps/ticket_web/lib/core/i18n/strings_en.i18n.json
  apps/ticket_web/lib/gen/i18n/strings.g.dart
Owners: @blendthink, @YumNumm

fix: lock
  pnpm-lock.yaml
Owners: @blendthink, @YumNumm

fix: format
  apis/ticket-api/src/routes/v1/wallet.ts
Owners: @blendthink, @YumNumm

fix: format
  apis/ticket-api/src/routes/v1/wallet.ts
Owners: @blendthink, @YumNumm

fix: api
  apis/ticket-api/src/routes/v1/wallet.ts
Owners: @blendthink, @YumNumm

rename constants to official_social_urls
  packages/app/cores/core/lib/constants.dart
  packages/app/cores/core/lib/src/constants/constants.dart
  packages/app/cores/core/lib/src/constants/official_social_urls.dart
  packages/app/features/about/lib/src/ui/about_page.dart
Owners: @FlutterKaigi/conference-app-2024

fix: APIの修正
  apis/ticket-api/src/routes/v1/wallet.ts
Owners: @blendthink, @YumNumm

add: AddToAppleWallet image
  apps/ticket_web/assets/images/add_to_apple_wallet.webp
  apps/ticket_web/lib/core/gen/assets.gen.dart
Owners: @blendthink, @YumNumm

add: supabaseAccessTokenProvider
  apps/ticket_web/lib/feature/auth/data/auth_notifier.dart
  apps/ticket_web/lib/feature/auth/data/auth_notifier.g.dart
Owners: @blendthink, @YumNumm

add: strings
  apps/ticket_web/lib/core/i18n/strings.i18n.json
  apps/ticket_web/lib/core/i18n/strings_en.i18n.json
  apps/ticket_web/lib/gen/i18n/strings.g.dart
Owners: @blendthink, @YumNumm

add: deps
  apps/ticket_web/pubspec.lock
  apps/ticket_web/pubspec.yaml
Owners: @blendthink, @YumNumm

add: ticket_qr_code_card
  apps/ticket_web/lib/pages/ticket/components/ticket_qr_code_card.dart
  apps/ticket_web/lib/pages/ticket/ticket_page.dart
Owners: @blendthink, @YumNumm

add: Xアプリを直接開けるようにするための記載
  apps/app/ios/Runner/Info.plist
Owners: @FlutterKaigi/conference-app-2024

add: AndroidのXアプリを直接開けるようにするための記載
  apps/app/android/app/src/main/AndroidManifest.xml
Owners: @FlutterKaigi/conference-app-2024

add: アプリ用とWeb用のURLを追加しました
  packages/app/cores/core/lib/src/constants/official_social_urls.dart
Owners: @FlutterKaigi/conference-app-2024

add: About画面のXアイコンのタップイベントを実装しました
  packages/app/features/about/lib/src/ui/about_page.dart
Owners: @FlutterKaigi/conference-app-2024

feat: リサイズ処理を worker を使って並列処理化
  apps/ticket_web/assets/workers/resize_worker.js
  apps/ticket_web/assets/workers/resize_worker.js.deps
  apps/ticket_web/assets/workers/resize_worker.js.map
  apps/ticket_web/lib/feature/ticket/ui/components/image_cropper_dialog.dart
  apps/ticket_web/lib/feature/ticket/ui/workers/resize.dart
  apps/ticket_web/lib/feature/ticket/ui/workers/resize_worker.dart
  apps/ticket_web/pubspec.yaml
Owners: @blendthink, @YumNumm

fix: macOS でビルド可能に修正
  apps/ticket_web/lib/feature/ticket/ui/components/crop_widget/crop_widget.dart
  apps/ticket_web/lib/feature/ticket/ui/components/crop_widget/crop_widget_io.dart
  apps/ticket_web/lib/feature/ticket/ui/components/crop_widget/crop_widget_web.dart
  apps/ticket_web/lib/feature/ticket/ui/components/image_cropper_dialog.dart
Owners: @blendthink, @YumNumm

fix: 不要なアセット指定を削除
  apps/ticket_web/pubspec.yaml
Owners: @blendthink, @YumNumm

feat: web パッケージを追加
  apps/ticket_web/pubspec.lock
  apps/ticket_web/pubspec.yaml
Owners: @blendthink, @YumNumm

fix: リネーム漏れを修正
  apps/ticket_web/lib/feature/ticket/ui/components/crop_widget/crop_widget_web.dart
Owners: @blendthink, @YumNumm

.github/CODEOWNERS:

* @blendthink @YumNumm

/apps/app/ @FlutterKaigi/conference-app-2024
/apps/website/ @FlutterKaigi/conference-website-2024

/packages/app/ @FlutterKaigi/conference-app-2024
/packages/common/ @FlutterKaigi/conference-app-2024 @FlutterKaigi/conference-website-2024
