Repository FlutterKaigi/2024, changes with the owners that .github/CODEOWNERS names for each.
All owners: @blendthink, @YumNumm, @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

chore: app_minimum_versions に created_at を追加
  packages/common/data/supabase/migrations/20241110163100_add_app_version_table.sql
Owners: @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

Add test data of news to db seed
  packages/common/data/supabase/seed.sql
Owners: @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

Remove the code on the website side that filters for available news
  apps/website/lib/feature/news/data/news_data_state.dart
  apps/website/lib/feature/news/ui/news_component.dart
Owners: @FlutterKaigi/conference-website-2024

fix: typo を修正（replace-contributors）
  .github/workflows/deploy-supabase.yaml
Owners: @blendthink, @YumNumm

refactor: ログが分かりやすくなるように step 名を追記
  .github/workflows/deploy-supabase.yaml
Owners: @blendthink, @YumNumm

add: special_sponsor table
  packages/common/data/supabase/migrations/20241110164438_add_special_sponsor_table.sql
Owners: @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

move: sponsorsディレクトリを作成
  packages/common/data/supabase/tests/sponsors/sponsors_test.sql
Owners: @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

fix: テーブル名を修正
  packages/common/data/supabase/migrations/20241110164438_add_special_sponsor_table.sql
Owners: @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

add: special_sponsorsのテストを追加
  packages/common/data/supabase/tests/special_sponsors/special_sponsors_test.sql
Owners: @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

add: special sponsor logo
  packages/common/data/supabase/seed-storage/sponsors/1cbc8ff6-882d-4df5-8fab-e3f2ff294149.webp
  packages/common/data/supabase/seed-storage/sponsors/dd6f30c4-fc43-4ccc-b48d-04991a3482a3.webp
Owners: @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

add: PNG版のスポンサー画像を追加
  packages/common/data/supabase/seed-storage/sponsors/1cbc8ff6-882d-4df5-8fab-e3f2ff294149.png
  packages/common/data/supabase/seed-storage/sponsors/dd6f30c4-fc43-4ccc-b48d-04991a3482a3.png
Owners: @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

add: sponsor_v2 view, sponsor_with_sessions_v3 view
  packages/common/data/supabase/migrations/20241110173420_add_sponsor_v2_view.sql
Owners: @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

add: seed.sql
  packages/common/data/supabase/seed.sql
Owners: @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

fix: publicディレクトリをbiomeの対象外に
  biome.json
Owners: @blendthink, @YumNumm

fix: types
  apis/supabase-types/src/types/index.ts
Owners: @blendthink, @YumNumm

fix: 画像を差し替え
  packages/common/data/supabase/seed-storage/sponsors/1cbc8ff6-882d-4df5-8fab-e3f2ff294149.png
  packages/common/data/supabase/seed-storage/sponsors/1cbc8ff6-882d-4df5-8fab-e3f2ff294149.webp
  packages/common/data/supabase/seed-storage/sponsors/dd6f30c4-fc43-4ccc-b48d-04991a3482a3.png
  packages/common/data/supabase/seed-storage/sponsors/dd6f30c4-fc43-4ccc-b48d-04991a3482a3.webp
Owners: @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

fix: sponsorsとspecial_sponsorsテーブルのIDは重複しないように
  packages/common/data/supabase/seed.sql
Owners: @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

rename: sponsor_v2 -> sponsors_v2
  packages/common/data/supabase/migrations/20241110173420_add_sponsor_v2_view.sql
Owners: @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

add: 個人スポンサーで公開設定にしているプロフィールを公開
  packages/common/data/supabase/migrations/20241110173718_alter_profiles_for_personal_sponsor.sql
Owners: @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

fix: 検査項目を追加
  packages/common/data/supabase/migrations/20241110173718_alter_profiles_for_personal_sponsor.sql
Owners: @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

Fix comment
  packages/common/data/lib/src/repository/news_repository.dart
Owners: @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

fix: app_minimum_versionsを閲覧できるユーザーを匿名ユーザーに絞る
  packages/common/data/supabase/migrations/20241111131632_alter_app_minimum_versions_policy.sql
Owners: @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

feat: Realtime のパブリケーション用のマイグレーションファイルを作成
  packages/common/data/supabase/migrations/20241111131940_alter_realtime_publication.sql
Owners: @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

Add registration session to calendar
  packages/app/features/session/lib/src/ui/session_page.dart
  packages/app/features/session/pubspec.lock
  packages/app/features/session/pubspec.yaml
Owners: @FlutterKaigi/conference-app-2024

add melos.yaml schema
  .vscode/settings.json
Owners: @blendthink, @YumNumm

fix: 匿名ユーザーでのテストに限定するように修正
  packages/common/data/supabase/tests/app_minimum_versions_test.sql
Owners: @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

fix: 開発環境のanonkey を設定
  apps/app/defines/development.env
Owners: @FlutterKaigi/conference-app-2024

feat: app に flutter_hooks を追加
  apps/app/pubspec.lock
  apps/app/pubspec.yaml
Owners: @FlutterKaigi/conference-app-2024

feat: AppMinimumVersionRepository クラスとその Provider を作成
  packages/common/data/lib/src/repository/app_minimum_version_repository.dart
  packages/common/data/lib/src/repository/app_minimum_version_repository.g.dart
Owners: @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

feat: AppMinimumVersion 関連の Provider を作成
  packages/common/data/lib/app_minimum_version.dart
  packages/common/data/lib/src/provider/app_minimum_version_provider.dart
  packages/common/data/lib/src/provider/app_minimum_version_provider.g.dart
Owners: @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

fix: melos bs を実行
  packages/app/features/about/pubspec.lock
  packages/app/features/news/pubspec.lock
Owners: @FlutterKaigi/conference-app-2024

feat: AppMinimumVersion クラスを作成
  packages/common/data/lib/src/model/app_minimum_version.dart
  packages/common/data/lib/src/model/app_minimum_version.freezed.dart
  packages/common/data/lib/src/model/app_minimum_version.g.dart
Owners: @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

feat: pub_semver を common_data パッケージへ追加
  melos.yaml
  packages/common/data/pubspec.lock
  packages/common/data/pubspec.yaml
Owners: @blendthink, @YumNumm, @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

fix: getAppMinimumVersion の戻り値の型を nullable に修正
  packages/common/data/lib/src/provider/app_minimum_version_provider.dart
  packages/common/data/lib/src/provider/app_minimum_version_provider.g.dart
  packages/common/data/lib/src/repository/app_minimum_version_repository.dart
Owners: @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

feat: 強制バージョンアップ機能を実装
  apps/app/lib/main_page.dart
Owners: @FlutterKaigi/conference-app-2024

fix: Android Emulator 対応
  apps/app/lib/main.dart
Owners: @FlutterKaigi/conference-app-2024

feat: 強制バージョンアップダイアログ用の文言を用意
  apps/app/assets/l10n/app_en.arb
  apps/app/assets/l10n/app_ja.arb
  apps/app/lib/gen/l10n/l10n.dart
  apps/app/lib/gen/l10n/l10n_en.dart
  apps/app/lib/gen/l10n/l10n_ja.dart
Owners: @FlutterKaigi/conference-app-2024

feat: app に pub_semver を追加
  apps/app/pubspec.lock
  apps/app/pubspec.yaml
Owners: @FlutterKaigi/conference-app-2024

feat: 強制バージョンアップダイアログを実装
  apps/app/lib/force_update_dialog.dart
Owners: @FlutterKaigi/conference-app-2024

fix: デバッグ用の print を削除
  packages/common/data/lib/src/repository/app_minimum_version_repository.dart
Owners: @FlutterKaigi/conference-app-2024, @FlutterKaigi/conference-website-2024

.github/CODEOWNERS:

* @blendthink @YumNumm

/apps/app/ @FlutterKaigi/conference-app-2024
/apps/website/ @FlutterKaigi/conference-website-2024

/packages/app/ @FlutterKaigi/conference-app-2024
/packages/common/ @FlutterKaigi/conference-app-2024 @FlutterKaigi/conference-website-2024
