Repository FlutterKaigi/2024, changes with the labels that .github/labeler.yaml gives for each.
All labels: related/app, related/website, related/ticket, related/data, related/test, related/github, related/documentation

sort pub dependencies
  apps/ticket_reader/pubspec.yaml
Labels: related/ticket

add: freezed関連のパッケージを追加
  apps/ticket_reader/pubspec.lock
  apps/ticket_reader/pubspec.yaml
Labels: related/ticket

add: build.yamlを作成
  apps/ticket_reader/build.yaml
Labels: related/ticket

fix: `melos bs`を実行し 依存関係を解決
  apps/ticket_reader/pubspec.lock
  apps/ticket_reader/pubspec.yaml
Labels: related/ticket

fix: MainApp WidgetをProviderScopeで囲う
  apps/ticket_reader/lib/main.dart
Labels: related/ticket

fix: Development Teamを個人のものからFlutterKaigiのものに変更・アプリ名を`Ticket Reader`に設定
  apps/ticket_reader/ios/Runner.xcodeproj/project.pbxproj
  apps/ticket_reader/ios/Runner/Info.plist
Labels: related/ticket

remove: iOSのRunnerTest Targetを削除
  apps/ticket_reader/ios/Runner.xcodeproj/project.pbxproj
  apps/ticket_reader/ios/RunnerTests/RunnerTests.swift
Labels: related/ticket

add: 余白をつけるため、SizedBoxを追加しました
  packages/app/features/about/lib/src/ui/about_page.dart
Labels: related/app

fix: AppIconを設定
  apps/ticket_reader/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  apps/ticket_reader/ios/Runner/Assets.xcassets/AppIcon.appiconset/Frame.png
  apps/ticket_reader/ios/Runner/Assets.xcassets/AppIcon.appiconset/Frame2.png
  apps/ticket_reader/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
  apps/ticket_reader/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  apps/ticket_reader/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  apps/ticket_reader/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  apps/ticket_reader/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  apps/ticket_reader/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  apps/ticket_reader/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  apps/ticket_reader/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  apps/ticket_reader/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  apps/ticket_reader/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  apps/ticket_reader/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  apps/ticket_reader/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  apps/ticket_reader/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  apps/ticket_reader/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  apps/ticket_reader/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  apps/ticket_reader/ios/Runner/Assets.xcassets/AppIcon.appiconset/Tint.png
Labels: related/ticket

add: mediumにもエフェクトの領域を調節しました
  packages/app/features/about/lib/src/ui/about_page.dart
Labels: related/app

fix: futabooo さんの画像を変更
  packages/common/data/supabase/seed-storage/speakers/f50c024e-bd44-4740-b343-37a3e6fa71d7.png
  packages/common/data/supabase/seed-storage/speakers/f50c024e-bd44-4740-b343-37a3e6fa71d7.webp
Labels: related/data

add: macOSのDerivedDataをgitignore二追加
  apps/ticket_reader/macos/.gitignore
Labels: related/ticket

add: macOSでネットワーク接続を許可
  apps/ticket_reader/macos/Runner.xcodeproj/project.pbxproj
  apps/ticket_reader/macos/Runner/DebugProfile.entitlements
  apps/ticket_reader/macos/Runner/Release.entitlements
Labels: related/ticket

fix: iOSアプリの言語をJapaneseに設定
  apps/ticket_reader/ios/Runner.xcodeproj/project.pbxproj
  apps/ticket_reader/ios/Runner/ja.lproj/LaunchScreen.strings
  apps/ticket_reader/ios/Runner/ja.lproj/Main.strings
Labels: related/ticket

add: README
  apps/ticket_reader/README.md
Labels: related/ticket, related/documentation

execute prettier
  apps/ticket_reader/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  apps/ticket_reader/ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
  apps/ticket_reader/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
Labels: related/ticket

.github/labeler.yaml:

related/app:
  - changed-files:
      - any-glob-to-any-file:
          - "apps/app/**"
          - "packages/app/**"
related/website:
  - changed-files:
      - any-glob-to-any-file:
          - "apps/website/**"
          - "packages/website/**"
related/ticket:
  - changed-files:
      - any-glob-to-any-file:
          - "apps/ticket_web/**"
          - "apps/ticket_reader/**"
          - "packages/common/ticket_api/**"
related/data:
  - changed-files:
      - any-glob-to-any-file:
          - "packages/common/data/**"
related/test:
  - changed-files:
      - any-glob-to-any-file:
          - "apps/**/test/**"
          - "packages/**/test/**"
related/github:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**"
related/documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**"
          - "**/*.md"
type/feature:
  - head-branch:
      - "feature/*"
type/bug:
  - head-branch:
      - "fix/*"
type/improvement:
  - head-branch:
      - "improvement/*"
type/release:
  - head-branch:
      - "release/*"
