Repository FlutterKaigi/2024, changes with the labels that .github/labeler.yaml gives for each.
All labels: app, website, test, github, documentation

.github/labeler.yaml:

app:
  - changed-files:
      - any-glob-to-any-file:
          - "apps/app/**"
          - "packages/app/**"
website:
  - changed-files:
      - any-glob-to-any-file:
          - "apps/website/**"
          - "packages/website/**"
test:
  - changed-files:
      - any-glob-to-any-file:
          - "apps/**/test/**"
          - "packages/**/test/**"
github:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**"
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**"
          - "**/*.md"
feature:
  - head-branch:
      - "feature/*"
bug:
  - head-branch:
      - "fix/*"
improvement:
  - head-branch:
      - "improvement/*"
release:
  - head-branch:
      - "release/*"

fix: launch.json経由で起動した時のportを8080に固定
  .vscode/launch.json
Labels: none

add: collection
  apps/website/pubspec.lock
  apps/website/pubspec.yaml
Labels: website

remove: google fontのcss読み込み
  apps/website/web/index.html
Labels: website

add: theme
  apps/website/lib/main.dart
  apps/website/lib/ui/home/home_page.dart
  apps/website/lib/ui/theme/extension/theme_extension.dart
  apps/website/lib/ui/theme/extension/theme_extension.tailor.dart
  apps/website/lib/ui/theme/theme.dart
Labels: website

fix: launch json
  .vscode/launch.json
Labels: none

fix: launch.json style
  .vscode/launch.json
Labels: none

add: svg
  apps/website/assets/svg/bg_bottom.svg
  apps/website/assets/svg/bg_top.svg
Labels: website

add: vector_graphics and transformer
  apps/website/pubspec.lock
  apps/website/pubspec.yaml
Labels: website

add: background
  apps/website/lib/ui/home/components/background/background_bottom.dart
  apps/website/lib/ui/home/components/background/background_top.dart
  apps/website/lib/ui/home/home_page.dart
Labels: website

add: link package
  apps/website/pubspec.lock
  apps/website/pubspec.yaml
Labels: website

add: gradient theme
  apps/website/lib/ui/theme/extension/theme_extension.dart
  apps/website/lib/ui/theme/extension/theme_extension.tailor.dart
Labels: website

add: app button component
  apps/website/lib/ui/components/button/app_button.dart
  apps/website/lib/ui/home/home_page.dart
Labels: website

move: favicon
  apps/website/assets/images/icon.png
  apps/website/web/index.html
Labels: website

add: assets
  apps/website/pubspec.yaml
Labels: website

add: 利用可能なフォントを公開するように
  apps/website/lib/ui/theme/extension/theme_extension.dart
  apps/website/lib/ui/theme/extension/theme_extension.tailor.dart
Labels: website

add: Title and logo
  apps/website/lib/ui/home/components/title_and_logo.dart
  apps/website/lib/ui/home/home_page.dart
Labels: website

fix: allFonts
  apps/website/lib/ui/theme/extension/theme_extension.dart
Labels: website

remove: google_fonts
  apps/website/pubspec.lock
  apps/website/pubspec.yaml
Labels: website

add: fonts
  apps/website/assets/fonts/NotoSansJP/NotoSansJP-Bold.otf
  apps/website/assets/fonts/NotoSansJP/NotoSansJP-Medium.otf
  apps/website/assets/fonts/NotoSansJP/NotoSansJP-Regular.otf
  apps/website/assets/fonts/NotoSansJP/OFL.txt
  apps/website/assets/fonts/Poppins/OFL.txt
  apps/website/assets/fonts/Poppins/Poppins-Bold.ttf
  apps/website/assets/fonts/Poppins/Poppins-Medium.ttf
  apps/website/assets/fonts/Poppins/Poppins-Regular.ttf
Labels: website

fix: textStyle
  apps/website/lib/main.dart
  apps/website/lib/ui/theme/extension/theme_extension.dart
Labels: website

remove: google_fonts
  apps/website/assets/fonts/NotoSansJP/NotoSansJP-Bold.otf
  apps/website/assets/fonts/NotoSansJP/NotoSansJP-Medium.otf
  apps/website/assets/fonts/NotoSansJP/NotoSansJP-Regular.otf
  apps/website/assets/fonts/NotoSansJP/OFL.txt
  apps/website/assets/fonts/Poppins/OFL.txt
  apps/website/assets/fonts/Poppins/Poppins-Bold.ttf
  apps/website/assets/fonts/Poppins/Poppins-Medium.ttf
  apps/website/assets/fonts/Poppins/Poppins-Regular.ttf
  apps/website/lib/main.dart
  apps/website/lib/ui/theme/extension/theme_extension.dart
  apps/website/pubspec.lock
  apps/website/pubspec.yaml
Labels: website

fix: remove unused prefetch
  apps/website/web/index.html
Labels: website

Squashed commit of the following:
  apps/website/web/index.html
Labels: website

fix: html
  apps/website/web/index.html
Labels: website

fix: Fix markdownlint warnings
  packages/common/data/README.md
Labels: documentation

fix: Ignore .git dir
  .markdownlint-cli2.jsonc
Labels: none

index.html を更新
  apps/website/web/index.html
Labels: website

Update docs/GET_STARTED.md
  docs/GET_STARTED.md
Labels: documentation

Update docs/GET_STARTED.md
  docs/GET_STARTED.md
Labels: documentation

Update docs/GET_STARTED.md
  docs/GET_STARTED.md
Labels: documentation

Update docs/GET_STARTED.md
  docs/GET_STARTED.md
Labels: documentation

Update docs/GET_STARTED.md
  docs/GET_STARTED.md
Labels: documentation

Update docs/GET_STARTED.md
  docs/GET_STARTED.md
Labels: documentation

Update docs/GET_STARTED.md
  docs/GET_STARTED.md
Labels: documentation

Update GET_STARTED.md
  docs/GET_STARTED.md
Labels: documentation

feat: Update flutter sdk version to 3.23.0-9.0.pre
  .fvmrc
  apps/app/pubspec.lock
  apps/app/pubspec.yaml
  apps/website/pubspec.lock
  apps/website/pubspec.yaml
  melos.yaml
  packages/common/data/pubspec.lock
  packages/common/data/pubspec.yaml
Labels: app, website

chore: Build iOS app
  apps/app/ios/Runner/AppDelegate.swift
Labels: app

chore: Add website dependencies to melos.yaml
  melos.yaml
Labels: none

fix: Add channel info to fvm config
  .fvmrc
Labels: none

fix: Change channel to master
  .fvmrc
Labels: none
