Repository FlutterKaigi/2024, changes with the labels that .github/labeler.yaml gives for each.
All labels: app, website, test, github, documentation

.github/labeler.yaml:

app:
  - changed-files:
      - any-glob-to-any-file:
          - "apps/app/**"
          - "packages/app/**"
website:
  - changed-files:
      - any-glob-to-any-file:
          - "apps/website/**"
          - "packages/website/**"
test:
  - changed-files:
      - any-glob-to-any-file:
          - "apps/**/test/**"
          - "packages/**/test/**"
github:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**"
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**"
          - "**/*.md"
feature:
  - head-branch:
      - "feature/*"
bug:
  - head-branch:
      - "fix/*"
improvement:
  - head-branch:
      - "improvement/*"
release:
  - head-branch:
      - "release/*"

chore: Add bierner.markdown-mermaid to extensions.json
  .vscode/extensions.json
Labels: none

docs: Create the BRANCH.md
  docs/BRANCH.md
Labels: documentation

fix: Fix github action image to ubuntu-22.04
  .github/workflows/check-markdownlint.yaml
  .github/workflows/check-prettier.yaml
  .github/workflows/labeler.yaml
Labels: github

docs: Create an Issue template for Flutterkaigi staff
  .github/ISSUE_TEMPLATE/config.yaml
  .github/ISSUE_TEMPLATE/task_for_app_staff.yaml
  .github/ISSUE_TEMPLATE/task_for_website_staff.yaml
  .vscode/settings.json
Labels: github

docs: Create the pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: github, documentation

feat: Create the common data package
  melos.yaml
  packages/common/data/.gitignore
  packages/common/data/CHANGELOG.md
  packages/common/data/README.md
  packages/common/data/analysis_options.yaml
  packages/common/data/example/data_example.dart
  packages/common/data/lib/data.dart
  packages/common/data/lib/src/data_base.dart
  packages/common/data/pubspec.yaml
  packages/common/data/test/data_test.dart
Labels: test, documentation

chore: Add pubspec.lock to git management
  packages/common/data/.gitignore
  packages/common/data/pubspec.lock
Labels: none

chore: Update pubspec.yaml of common_data package
  packages/common/data/example/common_data_example.dart
  packages/common/data/lib/common_data.dart
  packages/common/data/lib/src/common_data_base.dart
  packages/common/data/pubspec.yaml
  packages/common/data/test/common_data_test.dart
Labels: test

chore: Change the way version constraints are specified
  apps/app/pubspec.lock
  apps/app/pubspec.yaml
  apps/website/pubspec.lock
  apps/website/pubspec.yaml
Labels: app, website

fix: Fix typo in yaml.schemas
  .vscode/settings.json
Labels: none

style: Create a Linter config file to be used throughout this project
  analysis_options.yaml
  apps/app/analysis_options.yaml
  apps/app/pubspec.lock
  apps/app/pubspec.yaml
  apps/website/analysis_options.yaml
  apps/website/pubspec.lock
  apps/website/pubspec.yaml
  packages/common/data/analysis_options.yaml
  packages/common/data/example/common_data_example.dart
  packages/common/data/pubspec.lock
  packages/common/data/pubspec.yaml
Labels: app, website

fix: Update prettier_options in the check-prettier workflow
  .github/workflows/check-prettier.yaml
Labels: github

fix: Fix warning
  .prettierrc.yaml
  apps/app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  apps/app/ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
  apps/app/pubspec.yaml
  apps/website/pubspec.yaml
  apps/website/web/manifest.json
Labels: app, website

fix: Change trailingComma to none
  .prettierrc.yaml
Labels: none

chore: Add the .prettierignore
  .prettierignore
Labels: none

fix: Fix workflow name
  .github/workflows/check-prettier.yaml
Labels: github

add: workflow
  .github/actions/setup-application-runtime/action.yaml
  .github/workflows/deploy-web-on-pr.yaml
Labels: github

fix: working-directory
  .github/workflows/deploy-web-on-pr.yaml
Labels: github

fix: working-directory
  .github/workflows/deploy-web-on-pr.yaml
Labels: github

fix: actionを変更
  .github/workflows/deploy-web-on-pr.yaml
Labels: github

fix: Workflowの実行条件修正
  .github/workflows/deploy-web-on-pr.yaml
Labels: github

fix: Workflowの実行条件修正 ミス
  .github/workflows/deploy-web-on-pr.yaml
Labels: github

fix: Workflowの実行条件修正 ミス
  .github/workflows/deploy-web-on-pr.yaml
Labels: github

fix: prettierに怒られていたところの修正
  .github/workflows/deploy-web-on-pr.yaml
Labels: github

Update .github/workflows/deploy-web-on-pr.yaml
  .github/workflows/deploy-web-on-pr.yaml
Labels: github

[add].idea ignore file
  .idea/.gitignore
Labels: none

[add]dependencies
  apps/website/pubspec.lock
  apps/website/pubspec.yaml
Labels: website

[add]go_router
  apps/website/pubspec.lock
  apps/website/pubspec.yaml
Labels: website

[add]files
  apps/website/l10n.yaml
  apps/website/lib/data/data_provider.dart
  apps/website/lib/domain/models/model.dart
  apps/website/lib/domain/models/model.freezed.dart
  apps/website/lib/domain/repository/repository_provider.dart
  apps/website/lib/l10n/intl_ja.arb
  apps/website/lib/main.dart
  apps/website/lib/ui/home/home_page.dart
  apps/website/lib/ui/home/home_page_notifier.dart
  apps/website/lib/ui/home/home_page_state.dart
  apps/website/lib/ui/router/router.dart
Labels: website

Create GET_STARTED.md
  docs/GET_STARTED.md
Labels: documentation

[fix]lint
  apps/website/l10n.yaml
Labels: website

remove: 不要なファイルを削除
  apps/website/web/icons/Icon-192.png
  apps/website/web/icons/Icon-512.png
  apps/website/web/icons/Icon-maskable-192.png
  apps/website/web/icons/Icon-maskable-512.png
  apps/website/web/manifest.json
Labels: website

add: faviconとogpを追加
  apps/website/web/favicon.png
  apps/website/web/ogp.png
Labels: website

fix: index.htmlのヘッダー編集 * OGPの対応 * faviconの追加 * PWA対応を削除
  apps/website/web/index.html
Labels: website

add: font
  apps/website/web/index.html
Labels: website

fix: comment out
  apps/website/web/index.html
Labels: website

add: theme_tailor
  apps/website/pubspec.lock
  apps/website/pubspec.yaml
Labels: website

remove: l10n
  apps/website/l10n.yaml
  apps/website/lib/l10n/intl_ja.arb
  apps/website/lib/ui/home/home_page.dart
  apps/website/pubspec.yaml
Labels: website

fix: main.dart
  apps/website/lib/main.dart
Labels: website

fix: main.dart
  apps/website/lib/main.dart
Labels: website
