Repository FlutterKaigi/2024, pull requests merged in 2024-10, with the labels that each got.

#281 [website] スポンサー詳細画面の実装 Part 2
  .gitignore
  apps/website/defines/.gitignore
  apps/website/lib/core/extension/size_ex.dart
  apps/website/lib/core/router/router.dart
  apps/website/lib/feature/sponsor/ui/sponsor_logo.dart
  apps/website/lib/ui/components/header/site_header.dart
  apps/website/lib/ui/home/home_page_notifier.dart
  apps/website/lib/ui/home/home_page_state.dart
  apps/website/lib/ui/pages/home/components/background/background_bottom.dart
  apps/website/lib/ui/pages/home/components/background/background_top.dart
  apps/website/lib/ui/pages/home/components/coming_soon.dart
  apps/website/lib/ui/pages/home/components/lead.dart
  apps/website/lib/ui/pages/home/components/sponsor.dart
  apps/website/lib/ui/pages/home/components/sponsors.dart
  apps/website/lib/ui/pages/home/components/title_and_logo.dart
  apps/website/lib/ui/pages/home/home_page.dart
  apps/website/lib/ui/pages/sponsor/components/sponsor_type_logo.dart
  apps/website/lib/ui/pages/sponsor/components/sponsor_view.dart
  apps/website/lib/ui/pages/sponsor/sponsor_page.dart
Labels: feature, website, size/L

#295 [all] 依存関係のアップデート
  apps/app/pubspec.lock
  apps/ticket_web/pubspec.lock
  apps/ticket_web/pubspec.yaml
  apps/website/pubspec.lock
  apps/website/pubspec.yaml
  packages/app/cores/core/pubspec.lock
  packages/app/cores/designsystem/pubspec.lock
  packages/app/cores/settings/pubspec.lock
  packages/app/features/about/pubspec.lock
  packages/app/features/debug/pubspec.lock
  packages/app/features/news/pubspec.lock
  packages/app/features/session/pubspec.lock
  packages/common/data/pubspec.lock
  packages/common/data/pubspec.yaml
Labels: bug, app, website, github, data, ticket, size/L

#292 [ticket] デバッグ画面を実装
  apps/ticket_web/lib/app.dart
  apps/ticket_web/lib/core/provider/environment.dart
  apps/ticket_web/lib/core/provider/environment.g.dart
  apps/ticket_web/lib/core/router/router.dart
  apps/ticket_web/lib/core/router/router.g.dart
  apps/ticket_web/lib/feature/payment/data/payment_service.dart
  apps/ticket_web/lib/feature/payment/data/payment_service.g.dart
  apps/ticket_web/lib/feature/promotion_code/data/promotion_code_service.dart
  apps/ticket_web/lib/feature/promotion_code/data/promotion_code_service.g.dart
  apps/ticket_web/lib/gen/i18n/strings.g.dart
  apps/ticket_web/lib/pages/debug/components/navigation_debug_page.dart
  apps/ticket_web/lib/pages/debug/debug_page.dart
  apps/ticket_web/lib/pages/home/home_page.dart
  apps/ticket_web/lib/pages/home/home_page.g.dart
  apps/website/lib/core/router/router.g.dart
  apps/website/lib/gen/i18n/strings.g.dart
  packages/app/cores/designsystem/lib/src/theme.g.dart
  packages/common/data/lib/src/model/view/profile_with_sns.freezed.dart
  packages/common/data/lib/src/model/view/profile_with_sns.g.dart
Labels: feature, app, website, data, ticket, size/L

#290 [ticket] 決済後の検証画面を作成
  api/src/index.ts
  api/src/routes/v1/v1.ts
  api/src/util/user.ts
  apps/ticket_web/defines/development.env
  apps/ticket_web/lib/core/components/error/error_card.dart
  apps/ticket_web/lib/core/components/site_header.dart
  apps/ticket_web/lib/core/components/site_scaffold.dart
  apps/ticket_web/lib/core/i18n/strings.i18n.json
  apps/ticket_web/lib/core/i18n/strings_en.i18n.json
  apps/ticket_web/lib/core/router/router.dart
  apps/ticket_web/lib/core/router/router.g.dart
  apps/ticket_web/lib/core/util/setup_web_environment.dart
  apps/ticket_web/lib/core/util/setup_web_environment/setup_web_environment_io.dart
  apps/ticket_web/lib/core/util/setup_web_environment/setup_web_environment_web.dart
  apps/ticket_web/lib/feature/auth/data/auth_notifier.dart
  apps/ticket_web/lib/feature/auth/data/auth_notifier.g.dart
  apps/ticket_web/lib/feature/profile/data/profile_notifier.dart
  apps/ticket_web/lib/feature/ticket/data/ticket_notifier.dart
  apps/ticket_web/lib/feature/ticket/data/ticket_notifier.g.dart
  apps/ticket_web/lib/gen/i18n/strings.g.dart
  apps/ticket_web/lib/main.dart
  apps/ticket_web/lib/pages/debug/components/ticket_debug_list_tile.dart
  apps/ticket_web/lib/pages/debug/debug_page.dart
  apps/ticket_web/lib/pages/ticket/ticket_page.dart
  apps/ticket_web/lib/pages/verify_purchase/components/verify_purchase_error_card.dart
  apps/ticket_web/lib/pages/verify_purchase/components/verify_purchase_processed_card.dart
  apps/ticket_web/lib/pages/verify_purchase/components/verify_purchase_processing_card.dart
  apps/ticket_web/lib/pages/verify_purchase/verify_purchase_page.dart
  apps/ticket_web/pubspec.lock
  apps/ticket_web/pubspec.yaml
  packages/common/data/lib/src/model/ticket.dart
  packages/common/data/lib/src/model/ticket.g.dart
  packages/common/data/lib/src/repository/auth_repository.dart
  packages/common/data/lib/src/repository/ticket_repository.dart
  packages/common/data/supabase/migrations/20240930170731_alter_ticket_stripe_checkout_session_id_unique.sql
Labels: feature, data, ticket, size/XL

#296 [data] Postgres VIEWのリファクタリング
  packages/common/data/supabase/migrations/20241001085856_replace_views_for_null.sql
Labels: bug, data, size/M

#287 [App-Staff]: スポンサーデータのつなぎこみ対応しました
  packages/app/features/about/lib/src/ui/sponsors/extensions/sponser_type_extension.dart
  packages/app/features/about/lib/src/ui/sponsors/model/sponsor.dart
  packages/app/features/about/lib/src/ui/sponsors/model/sponsor.freezed.dart
  packages/app/features/about/lib/src/ui/sponsors/model/sponsor.g.dart
  packages/app/features/about/lib/src/ui/sponsors/notifier/sponsors_notifier.dart
  packages/app/features/about/lib/src/ui/sponsors/sponsors_item.dart
  packages/app/features/about/lib/src/ui/sponsors/sponsors_page.dart
  packages/app/features/news/lib/src/ui/news_page.dart
  packages/app/features/news/lib/src/ui/notifer/state/news_notifier.dart
Labels: feature, app, size/XL

#299 [ticket] fix(UI): Verify Purchase画面のOverflowを修正
  apps/ticket_web/lib/app.dart
  apps/ticket_web/lib/core/router/router.dart
  apps/ticket_web/lib/core/router/router.g.dart
  apps/ticket_web/lib/feature/ticket/data/ticket_notifier.g.dart
  apps/ticket_web/lib/pages/ticket/ticket_page.dart
  apps/ticket_web/lib/pages/verify_purchase/components/verify_purchase_error_card.dart
  apps/ticket_web/lib/pages/verify_purchase/components/verify_purchase_processed_card.dart
  apps/ticket_web/lib/pages/verify_purchase/components/verify_purchase_processing_card.dart
  apps/ticket_web/lib/pages/verify_purchase/verify_purchase_page.dart
Labels: bug, ticket, size/L

#297 [ticket] CDの修正(stagingのデプロイ環境作成・APIをGitHub Actionsでビルドするようにしました)
  .github/workflows/deploy-ticket.yaml
Labels: bug, github, size/L

#300 [ticket] チケットカードのUI Part 2
  apps/ticket_web/lib/core/i18n/strings.i18n.json
  apps/ticket_web/lib/core/i18n/strings_en.i18n.json
  apps/ticket_web/lib/core/router/router.g.dart
  apps/ticket_web/lib/feature/auth/data/auth_notifier.dart
  apps/ticket_web/lib/feature/profile/data/profile_notifier.dart
  apps/ticket_web/lib/feature/profile/data/profile_notifier.g.dart
  apps/ticket_web/lib/feature/ticket/ui/components/profile_avatar.dart
  apps/ticket_web/lib/feature/ticket/ui/components/profile_avatar_choice_dialog.dart
  apps/ticket_web/lib/feature/ticket/ui/components/ticket_card_app_bar.dart
  apps/ticket_web/lib/feature/ticket/ui/components/ticket_card_edit_dialog.dart
  apps/ticket_web/lib/feature/ticket/ui/components/ticket_card_x_account.dart
  apps/ticket_web/lib/feature/ticket/ui/components/ticket_comment_card.dart
  apps/ticket_web/lib/feature/ticket/ui/ticket_card.dart
  apps/ticket_web/lib/gen/i18n/strings.g.dart
  apps/ticket_web/lib/pages/home/components/ticket_cards/general_ticket_card.dart
  apps/ticket_web/lib/pages/home/components/ticket_cards/personal_sponsor_ticket_card.dart
  apps/ticket_web/lib/pages/home/home_page.dart
  apps/ticket_web/lib/pages/ticket/components/about_profile_information_card.dart
  apps/ticket_web/lib/pages/ticket/components/profile_edit_restriction.dart
  apps/ticket_web/lib/pages/ticket/components/thank_you_for_purchase_ticket.dart
  apps/ticket_web/lib/pages/ticket/components/warning_for_personal_sponsor_card.dart
  apps/ticket_web/lib/pages/ticket/components/warning_for_speaker_profile_card.dart
  apps/ticket_web/lib/pages/ticket/ticket_page.dart
  apps/ticket_web/pubspec.lock
  apps/ticket_web/pubspec.yaml
  packages/common/data/lib/profile.dart
  packages/common/data/lib/src/model/profile.dart
  packages/common/data/lib/src/model/profile.freezed.dart
  packages/common/data/lib/src/model/profile.g.dart
  packages/common/data/lib/src/model/profile_social_networking_service.dart
  packages/common/data/lib/src/model/view/profile_with_sns.dart
  packages/common/data/lib/src/model/view/profile_with_sns.freezed.dart
  packages/common/data/lib/src/model/view/profile_with_sns.g.dart
  packages/common/data/lib/src/model/view/session_venues_with_sessions.dart
  packages/common/data/lib/src/model/view/session_venues_with_sessions.freezed.dart
  packages/common/data/lib/src/model/view/session_venues_with_sessions.g.dart
  packages/common/data/lib/src/model/view/sponsor_with_session.dart
  packages/common/data/lib/src/model/view/sponsor_with_session.freezed.dart
  packages/common/data/lib/src/model/view/sponsor_with_session.g.dart
  packages/common/data/lib/src/repository/auth_repository.dart
  packages/common/data/lib/src/repository/profile_repository.dart
  packages/common/data/pubspec.lock
  packages/common/data/pubspec.yaml
Labels: feature, data, ticket, size/XXL

#301 [ticket] チケットカードのUI 微調整 Part 3
  apps/ticket_web/lib/core/i18n/strings.i18n.json
  apps/ticket_web/lib/core/i18n/strings_en.i18n.json
  apps/ticket_web/lib/core/router/router.dart
  apps/ticket_web/lib/feature/auth/data/auth_notifier.g.dart
  apps/ticket_web/lib/feature/profile/data/profile_notifier.g.dart
  apps/ticket_web/lib/feature/ticket/ui/components/profile_avatar.dart
  apps/ticket_web/lib/feature/ticket/ui/components/ticket_card_app_bar.dart
  apps/ticket_web/lib/feature/ticket/ui/components/ticket_card_x_account.dart
  apps/ticket_web/lib/gen/i18n/strings.g.dart
  apps/ticket_web/lib/pages/ticket/components/about_profile_information_card.dart
  apps/ticket_web/lib/pages/ticket/components/warning_for_personal_sponsor_card.dart
  packages/app/cores/designsystem/lib/src/gen/assets/assets.gen.dart
  packages/app/features/about/pubspec.lock
  packages/app/features/news/pubspec.lock
  packages/common/data/lib/src/model/profile.dart
  packages/common/data/lib/src/model/view/profile_with_sns.dart
Labels: bug, app, data, ticket, size/L

#302 ci: 生成ファイルの最新チェック用のワークフローを作成
  .github/workflows/check-pr.yaml
  .github/workflows/wc-check-changes.yaml
  .github/workflows/wc-check-diff.yaml
Labels: github, improvement, size/M

#305 Revert "[data] Postgres VIEWのリファクタリング"
  packages/common/data/supabase/migrations/20241001085856_replace_views_for_null.sql
Labels: bug, data, size/M

#306 [ticket] (db) #296([data] Postgres VIEWのリファクタリング) の再作成
  packages/common/data/supabase/migrations/20241003170401_replace_views_for_null.sql
Labels: bug, data, size/M

#307 [ticket] 多言語化対応
  apps/ticket_web/lib/app.dart
  apps/ticket_web/lib/core/components/language_selector.dart
  apps/ticket_web/lib/core/components/responsive_content_container.dart
  apps/ticket_web/lib/core/components/site_header.dart
  apps/ticket_web/lib/core/components/site_scaffold.dart
  apps/ticket_web/lib/core/i18n/strings_en.i18n.json
  apps/ticket_web/lib/core/provider/language_provider.dart
  apps/ticket_web/lib/core/provider/language_provider.g.dart
  apps/ticket_web/lib/core/util/riverpod_observer.dart
  apps/ticket_web/lib/feature/ticket/data/ticket_notifier.dart
  apps/ticket_web/lib/feature/ticket/data/ticket_notifier.g.dart
  apps/ticket_web/lib/feature/ticket/ui/components/profile_avatar_choice_dialog.dart
  apps/ticket_web/lib/feature/ticket/ui/components/ticket_card_app_bar.dart
  apps/ticket_web/lib/feature/ticket/ui/components/ticket_card_edit_dialog.dart
  apps/ticket_web/lib/feature/ticket/ui/components/ticket_card_x_account.dart
  apps/ticket_web/lib/feature/ticket/ui/components/ticket_comment_card.dart
  apps/ticket_web/lib/feature/ticket/ui/ticket_card.dart
  apps/ticket_web/lib/gen/i18n/strings.g.dart
  apps/ticket_web/lib/main.dart
  apps/ticket_web/lib/pages/home/components/already_logged_in_card.dart
  apps/ticket_web/lib/pages/home/components/auth_state_card.dart
  apps/ticket_web/lib/pages/home/home_page.dart
  apps/ticket_web/lib/pages/ticket/components/about_profile_information_card.dart
  apps/ticket_web/lib/pages/ticket/components/profile_edit_restriction.dart
  apps/ticket_web/lib/pages/ticket/ticket_page.dart
  apps/ticket_web/lib/pages/verify_purchase/verify_purchase_page.dart
Labels: feature, ticket, size/XL

#308 [ticket] AppBarへログイン状況を移動
  apps/ticket_web/lib/app.dart
  apps/ticket_web/lib/feature/profile/ui/app_bar_avatar.dart
  apps/ticket_web/lib/feature/ticket/ui/components/profile_avatar.dart
  apps/ticket_web/lib/feature/ticket/ui/components/profile_avatar_choice_dialog.dart
  apps/ticket_web/lib/pages/home/home_page.dart
  apps/ticket_web/lib/pages/ticket/ticket_page.dart
Labels: feature, ticket, size/L

#309 [ticket] チケットはまだ販売していませんカードを追加
  .github/workflows/deploy-ticket.yaml
  apps/ticket_web/defines/production.env
  apps/ticket_web/lib/core/i18n/strings.i18n.json
  apps/ticket_web/lib/core/i18n/strings_en.i18n.json
  apps/ticket_web/lib/gen/i18n/strings.g.dart
  apps/ticket_web/lib/pages/home/components/ticket_will_be_on_sale_card.dart
  apps/ticket_web/lib/pages/home/home_page.dart
  apps/ticket_web/web/index.html
Labels: feature, github, ticket, size/L, release

#311 [ticket] 細かいUI修正
  apps/ticket_web/lib/core/i18n/strings.i18n.json
  apps/ticket_web/lib/feature/profile/ui/app_bar_avatar.dart
  apps/ticket_web/lib/gen/i18n/strings.g.dart
  apps/ticket_web/lib/pages/home/home_page.dart
  packages/common/data/supabase/migrations/20241003170401_replace_views_for_null.sql
Labels: bug, data, ticket, size/S

#312 [ticket] OGP画像を追加
  apps/ticket_web/web/ogp.png
Labels: bug, ticket, size/XS

#314 [App] News関連の多言語対応（初期リリース分）
  packages/app/features/news/assets/l10n/app_ja.arb
  packages/app/features/news/lib/src/gen/l10n/l10n.dart
  packages/app/features/news/lib/src/gen/l10n/l10n_ja.dart
Labels: feature, app, size/XS

#310 [ticket] ログイン機能を時刻で出し分け
  api/src/index.ts
  apps/ticket_web/lib/app.dart
  apps/ticket_web/lib/core/i18n/strings.i18n.json
  apps/ticket_web/lib/core/i18n/strings_en.i18n.json
  apps/ticket_web/lib/core/util/riverpod_observer.dart
  apps/ticket_web/lib/gen/i18n/strings.g.dart
  apps/ticket_web/lib/pages/debug/components/ticket_debug_list_tile.dart
  apps/ticket_web/lib/pages/home/home_page.dart
Labels: bug, ticket, size/M, release

#316 [ticket] チケット画面の軽微なバグを修正
  apps/ticket_web/lib/core/util/full_screen_loading.dart
  apps/ticket_web/lib/feature/profile/data/profile_notifier.dart
  apps/ticket_web/lib/feature/profile/data/profile_notifier.g.dart
  apps/ticket_web/lib/feature/ticket/ui/components/profile_avatar_choice_dialog.dart
Labels: bug, ticket, size/S

#317 [ticket] プロフィール画像のアップロード周りの機能改善
  apps/ticket_web/lib/core/i18n/strings.i18n.json
  apps/ticket_web/lib/core/i18n/strings_en.i18n.json
  apps/ticket_web/lib/core/provider/image_picker_provider.dart
  apps/ticket_web/lib/core/provider/image_picker_provider.g.dart
  apps/ticket_web/lib/feature/profile/data/profile_notifier.dart
  apps/ticket_web/lib/feature/profile/data/profile_notifier.g.dart
  apps/ticket_web/lib/feature/profile/ui/app_bar_avatar.dart
  apps/ticket_web/lib/feature/ticket/ui/components/image_cropper_dialog.dart
  apps/ticket_web/lib/feature/ticket/ui/components/profile_avatar.dart
  apps/ticket_web/lib/feature/ticket/ui/components/profile_avatar_choice_dialog.dart
  apps/ticket_web/lib/gen/i18n/strings.g.dart
  apps/ticket_web/macos/Flutter/GeneratedPluginRegistrant.swift
  apps/ticket_web/macos/Podfile.lock
  apps/ticket_web/macos/Runner/DebugProfile.entitlements
  apps/ticket_web/macos/Runner/Release.entitlements
  apps/ticket_web/pubspec.lock
  apps/ticket_web/pubspec.yaml
  packages/common/data/lib/src/model/profile.dart
  packages/common/data/lib/src/model/profile.freezed.dart
  packages/common/data/lib/src/model/profile.g.dart
  packages/common/data/lib/src/model/view/profile_with_sns.dart
  packages/common/data/lib/src/model/view/profile_with_sns.freezed.dart
  packages/common/data/lib/src/model/view/profile_with_sns.g.dart
  packages/common/data/lib/src/repository/profile_repository.dart
  packages/common/data/supabase/migrations/20241005171418_alter_profile_avatars_storage_delete.sql
Labels: bug, data, ticket, size/XL

#318 [ticket] 成人しているかどうかのフラグ
  apps/ticket_web/lib/core/i18n/strings.i18n.json
  apps/ticket_web/lib/core/i18n/strings_en.i18n.json
  apps/ticket_web/lib/feature/ticket/ui/components/ticket_is_adult_card.dart
  apps/ticket_web/lib/feature/ticket/ui/ticket_card.dart
  apps/ticket_web/lib/gen/i18n/strings.g.dart
  apps/ticket_web/lib/pages/ticket/components/about_profile_information_card.dart
Labels: bug, ticket, size/L

#319 [ticket] fix: 警告対応
  apps/ticket_web/lib/core/provider/image_picker_provider.dart
  apps/ticket_web/lib/feature/ticket/ui/components/ticket_is_adult_card.dart
Labels: bug, ticket, size/S

#320 [api] fix: cookie を 0.7.1 以上で上書き
  api/package.json
  api/pnpm-lock.yaml
Labels: bug, size/S

#322 [ticket] macOSでビルドできない問題を修正
  apps/ticket_web/lib/core/provider/image_picker/image_picker_for_io.dart
  apps/ticket_web/lib/core/provider/image_picker/image_picker_for_io.g.dart
  apps/ticket_web/lib/core/provider/image_picker/image_picker_for_web.dart
  apps/ticket_web/lib/core/provider/image_picker/image_picker_for_web.g.dart
  apps/ticket_web/lib/core/provider/image_picker_provider.dart
  apps/ticket_web/lib/feature/profile/data/profile_notifier.dart
  apps/ticket_web/pubspec.lock
  apps/ticket_web/pubspec.yaml
Labels: bug, ticket, size/M

#323 [ticket] 文字列を修正
  apps/ticket_web/lib/core/i18n/strings.i18n.json
  apps/ticket_web/lib/core/i18n/strings_en.i18n.json
  apps/ticket_web/lib/gen/i18n/strings.g.dart
Labels: bug, ticket, size/XS

#324 [ticket] 個人スポンサーチケットの検証フローを修正
  api/src/routes/v1/v1.ts
Labels: bug, size/XS

#325 [ticket] 注文前に注意事項ダイアログを表示
  apps/ticket_web/assets/docs/pre_purchase_warning.md
  apps/ticket_web/lib/core/gen/assets.gen.dart
  apps/ticket_web/lib/core/i18n/strings.i18n.json
  apps/ticket_web/lib/core/i18n/strings_en.i18n.json
  apps/ticket_web/lib/gen/i18n/strings.g.dart
  apps/ticket_web/lib/pages/home/components/pre_purchase_warning_dialog.dart
  apps/ticket_web/lib/pages/home/components/ticket_cards.dart
  apps/ticket_web/pubspec.yaml
Labels: bug, documentation, ticket, size/L

#326 [ticket] (db) public.profiles の`is_adult`をNull許容型に変更・デフォルト値をNULLに変更
  apps/ticket_web/lib/pages/ticket/components/about_profile_information_card.dart
  packages/common/data/lib/src/model/profile.dart
  packages/common/data/lib/src/model/profile.freezed.dart
  packages/common/data/lib/src/model/profile.g.dart
  packages/common/data/lib/src/model/view/profile_with_sns.dart
  packages/common/data/lib/src/model/view/profile_with_sns.freezed.dart
  packages/common/data/lib/src/model/view/profile_with_sns.g.dart
  packages/common/data/supabase/migrations/20241006164606_alter_profile_is_adult_set_default_null.sql
Labels: bug, data, ticket, size/L

#327 [ticket] NULLの場合に、成人選択ダイアログを表示
  apps/ticket_web/lib/pages/ticket/components/about_profile_information_card.dart
  packages/common/data/supabase/migrations/20241003170401_replace_views_for_null.sql
Labels: bug, data, ticket, size/M

#328 regenerate supabase types
  api/src/util/supabaseSchema.ts
Labels: bug, size/XXL

#329 [ticket] 個人スポンサーの公開設定
  apps/ticket_web/lib/feature/profile/data/profile_notifier.dart
  apps/ticket_web/lib/pages/ticket/components/warning_for_personal_sponsor_card.dart
  packages/common/data/lib/src/model/profile.dart
  packages/common/data/lib/src/model/profile.freezed.dart
  packages/common/data/lib/src/model/profile.g.dart
  packages/common/data/lib/src/model/view/profile_with_sns.dart
  packages/common/data/lib/src/model/view/profile_with_sns.freezed.dart
  packages/common/data/lib/src/model/view/profile_with_sns.g.dart
  packages/common/data/lib/src/repository/profile_repository.dart
  packages/common/data/supabase/migrations/20241006202025_alter_profile_is_published.sql
Labels: feature, data, ticket, size/L

#330 [ticket] (chore): 学割の対象機関を修正
  apps/ticket_web/lib/core/i18n/strings.i18n.json
  apps/ticket_web/lib/core/i18n/strings_en.i18n.json
  apps/ticket_web/lib/feature/profile/data/profile_notifier.g.dart
  apps/ticket_web/lib/gen/i18n/strings.g.dart
Labels: bug, ticket, size/XS

#332 [all] ci: Dart/Flutter パッケージをチェックするワークフローを追加
  .github/workflows/check-pr.yaml
  .github/workflows/wc-check-changes.yaml
  .github/workflows/wc-check-packages.yaml
  .vscode/cspell.json
  melos.yaml
  pubspec.lock
  pubspec.yaml
Labels: github, improvement, size/M

#340 [Ticket] チケット販売枚数を知らせるSlack Webhook を作成/毎日21時に通知
  api/.dev.vars.example
  api/package.json
  api/pnpm-lock.yaml
  api/src/bindings.d.ts
  api/src/features/cron/scheduled.ts
  api/src/index.ts
  api/wrangler.toml
Labels: feature, size/L

#342 [data, website]: ニュース周りの微調整 (型定義修正・UI調整)
  apps/website/lib/feature/news/data/news_data_state.dart
  apps/website/lib/feature/news/ui/news_component.dart
  packages/common/data/lib/src/repository/news_repository_impl.dart
  packages/common/data/lib/src/repository/news_repository_impl.freezed.dart
  packages/common/data/lib/src/repository/news_repository_impl.g.dart
Labels: bug, website, data, size/L

#341 [website] チケット販売開始のWidgetを追加
  apps/website/lib/core/i18n/strings.i18n.json
  apps/website/lib/gen/i18n/strings.g.dart
  apps/website/lib/ui/pages/home/components/ticket.dart
  apps/website/lib/ui/pages/home/home_page.dart
Labels: feature, website, size/M

#345 [App] パッケージ名や依存関係の記述形式を修正
  apps/app/lib/main.dart
  apps/app/lib/routing/router.dart
  apps/app/pubspec.lock
  apps/app/pubspec.yaml
  apps/ticket_web/lib/pages/ticket/components/warning_for_personal_sponsor_card.dart
  packages/app/features/about/lib/src/ui/about_page.dart
  packages/app/features/about/lib/src/ui/sponsors/sponsors_item.dart
  packages/app/features/about/lib/src/ui/sponsors/sponsors_page.dart
  packages/app/features/about/lib/src/ui/staff/contributors_page.dart
  packages/app/features/about/lib/src/ui/staff/staff_page.dart
  packages/app/features/about/pubspec.yaml
  packages/app/features/debug/lib/src/routing/router.dart
  packages/app/features/debug/lib/src/ui/components/route_dropdown_menu.dart
  packages/app/features/debug/lib/src/ui/debug_page.dart
  packages/app/features/debug/pubspec.yaml
  packages/app/features/news/lib/src/ui/news_page.dart
  packages/app/features/news/pubspec.yaml
  packages/app/features/session/lib/src/routing/router.dart
  packages/app/features/session/lib/src/ui/bookmarked_sessions_page.dart
  packages/app/features/session/lib/src/ui/session_item.dart
  packages/app/features/session/lib/src/ui/session_page.dart
  packages/app/features/session/lib/src/ui/sessions_page.dart
  packages/app/features/session/pubspec.yaml
  packages/app/features/venue/lib/src/ui/venue_page.dart
  packages/app/features/venue/pubspec.yaml
Labels: app, improvement, ticket, size/L

#344 [App] Upgrade AGP to 8.1.2
  apps/app/android/app/build.gradle
  apps/app/android/gradle.properties
  apps/app/android/gradle/wrapper/gradle-wrapper.properties
  apps/app/android/settings.gradle
Labels: app, size/S

#347 [all] ci: build_runner のキャッシュについて build ディレクトリごとキャッシュするように変更
  .github/workflows/update-application-cache.yaml
  .github/workflows/wc-check-diff.yaml
Labels: github, improvement, size/XS

#346 [all] スペルについての警告を修正
  .vscode/cspell.json
  packages/app/cores/core/pubspec.yaml
  packages/app/features/about/lib/src/ui/sponsors/extensions/sponsor_type_extension.dart
  packages/app/features/about/lib/src/ui/sponsors/sponsors_item.dart
  packages/app/features/about/lib/src/ui/staff/notifier/staff_notifier.dart
  packages/app/features/about/lib/src/ui/staff/staff_page.dart
  packages/app/features/about/pubspec.yaml
  packages/app/features/debug/pubspec.yaml
  packages/app/features/news/lib/src/ui/news_page.dart
  packages/app/features/news/lib/src/ui/notifier/state/news_notifier.dart
  packages/app/features/news/pubspec.yaml
  packages/app/features/session/pubspec.yaml
  packages/app/features/venue/pubspec.yaml
Labels: bug, app, improvement, size/L

#354 [all] docs: プロジェクトの README を更新
  README.md
  docs/ARCHITECTURE.md
  docs/CONTRIBUTING.md
Labels: documentation, improvement, size/M

#336 [App]: OS標準地図アプリを優先し、会場の地図をスムーズに見られるようにしました。
  .vscode/cspell.json
  packages/app/features/about/assets/l10n/app_en.arb
  packages/app/features/about/assets/l10n/app_ja.arb
  packages/app/features/about/lib/src/gen/l10n/l10n.dart
  packages/app/features/about/lib/src/gen/l10n/l10n_en.dart
  packages/app/features/about/lib/src/gen/l10n/l10n_ja.dart
  packages/app/features/about/lib/src/ui/about_page.dart
  packages/app/features/about/lib/src/ui/map/map_item_widget.dart
Labels: feature, app, size/L

#355 [all] ci: パッケージのチェックワークフローに循環依存チェックを追加
  .github/workflows/wc-check-packages.yaml
Labels: github, improvement, size/XS

#349 [data] session_venues_with_sessionsの型を修正
  packages/common/data/lib/session.dart
  packages/common/data/lib/src/model/view/session_venues_with_sessions.dart
  packages/common/data/lib/src/model/view/session_venues_with_sessions.freezed.dart
  packages/common/data/lib/src/model/view/session_venues_with_sessions.g.dart
  packages/common/data/lib/src/model/view/session_venues_with_sessions_view.dart
  packages/common/data/lib/src/model/view/session_venues_with_sessions_view.freezed.dart
  packages/common/data/lib/src/model/view/session_venues_with_sessions_view.g.dart
  packages/common/data/lib/src/repository/profile_repository.dart
  packages/common/data/lib/src/repository/session_repository.dart
  packages/common/data/lib/src/repository/session_repository.g.dart
  packages/common/data/lib/src/repository/sponsor_repository.dart
  packages/common/data/supabase/migrations/20241013093513_alter_session_venues_with_sessions.sql
Labels: feature, data, size/XXL

#358 add: 404.htmlを追加し Pathを指定した時の挙動を修正
  apps/website/web/404.html
Labels: bug, website, size/M

#359 add: 404.htmlを追加し Pathを指定した時の挙動を修正 (index.htmlの対応)
  apps/website/web/index.html
Labels: size/M

#361 [data] スポンサー情報を投入
  packages/common/data/supabase/config.toml
  packages/common/data/supabase/seed-storage/sponsors/02ad860c-e534-44ad-80ad-8395e5304b9f.webp
  packages/common/data/supabase/seed-storage/sponsors/0458e1bc-5ed3-4d9c-9248-e28e3eba2d41.webp
  packages/common/data/supabase/seed-storage/sponsors/05353993-22b1-42af-a6e7-764b398db1aa.webp
  packages/common/data/supabase/seed-storage/sponsors/1b973626-11e4-4784-8e01-ebc6268c8bb6.webp
  packages/common/data/supabase/seed-storage/sponsors/2a4cbb69-3500-475a-bfc2-980782f619bb.webp
  packages/common/data/supabase/seed-storage/sponsors/2bb85cc7-64ec-43dc-a75b-9d9d685e2595.webp
  packages/common/data/supabase/seed-storage/sponsors/2df416d3-584a-4493-8595-0d5a52d8f174.webp
  packages/common/data/supabase/seed-storage/sponsors/2f556387-3f38-4635-b4f0-aef28efd5d67.webp
  packages/common/data/supabase/seed-storage/sponsors/35b0d521-e0c6-40a7-947c-f72e9ac404ff.webp
  packages/common/data/supabase/seed-storage/sponsors/42723fb3-273a-413c-893f-89bb9c99eea5.webp
  packages/common/data/supabase/seed-storage/sponsors/515688d1-9863-4e23-a498-2a3d2d66b96a.webp
  packages/common/data/supabase/seed-storage/sponsors/5524fd15-566f-4b4b-9a4b-f12f7a387d00.webp
  packages/common/data/supabase/seed-storage/sponsors/6cb7afa5-74e0-4a4b-b94e-1ff06825097c.webp
  packages/common/data/supabase/seed-storage/sponsors/6d78a8fc-51d3-4acc-ad68-c8352be446e2.webp
  packages/common/data/supabase/seed-storage/sponsors/7412f8b3-ec67-4298-a272-126f55762ae6.webp
  packages/common/data/supabase/seed-storage/sponsors/77bea69d-5a57-426d-922a-c9e85155eb84.webp
  packages/common/data/supabase/seed-storage/sponsors/8bbbbbf5-a458-4081-a041-d888a800174f.webp
  packages/common/data/supabase/seed-storage/sponsors/908c645c-d118-4595-8a5c-3ae27f52b9c4.webp
  packages/common/data/supabase/seed-storage/sponsors/97c3bfb9-9eae-4227-91d3-c3325d7a76e9.webp
  packages/common/data/supabase/seed-storage/sponsors/9a91510b-08c9-41d4-bb11-f2a19d58a425.webp
  packages/common/data/supabase/seed-storage/sponsors/bc0103fb-98c5-4c17-ae9d-e0e2e357ad0f.webp
  packages/common/data/supabase/seed-storage/sponsors/c832ede4-9c96-4d3f-9a5e-ab2a66497280.webp
  packages/common/data/supabase/seed-storage/sponsors/cfa6da7f-bf7b-4767-976d-3e41a1678759.webp
  packages/common/data/supabase/seed-storage/sponsors/dc3c5be6-a166-4ef0-ac82-ba7d18120ad1.webp
  packages/common/data/supabase/seed-storage/sponsors/e1341f82-460a-466d-8464-cb133417072e.webp
  packages/common/data/supabase/seed-storage/sponsors/f3a49eb1-2662-4264-862e-a902fd17d7ee.webp
  packages/common/data/supabase/seed.sql
Labels: data, size/L

#348 [App] アプリアイコンの差し替え&アプリ名の変更
  .prettierignore
  apps/app/android/app/build.gradle
  apps/app/android/app/src/main/AndroidManifest.xml
  apps/app/android/app/src/main/res/drawable-hdpi/ic_launcher_foreground.png
  apps/app/android/app/src/main/res/drawable-mdpi/ic_launcher_foreground.png
  apps/app/android/app/src/main/res/drawable-xhdpi/ic_launcher_foreground.png
  apps/app/android/app/src/main/res/drawable-xxhdpi/ic_launcher_foreground.png
  apps/app/android/app/src/main/res/drawable-xxxhdpi/ic_launcher_foreground.png
  apps/app/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  apps/app/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  apps/app/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  apps/app/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  apps/app/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  apps/app/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  apps/app/android/app/src/main/res/values/colors.xml
  apps/app/assets/images/main_logo.png
  apps/app/assets/images/main_logo_white.png
  apps/app/defines/development.env
  apps/app/defines/production.env
  apps/app/flutter_launcher_icons.yaml
  apps/app/ios/.gitignore
  apps/app/ios/Flutter/Debug.xcconfig
  apps/app/ios/Flutter/Release.xcconfig
  apps/app/ios/Runner.xcodeproj/project.pbxproj
  apps/app/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  apps/app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  apps/app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
  apps/app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  apps/app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  apps/app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  apps/app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  apps/app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  apps/app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  apps/app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  apps/app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  apps/app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  apps/app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-50x50@1x.png
  apps/app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-50x50@2x.png
  apps/app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-57x57@1x.png
  apps/app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-57x57@2x.png
  apps/app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  apps/app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  apps/app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-72x72@1x.png
  apps/app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-72x72@2x.png
  apps/app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  apps/app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  apps/app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  apps/app/ios/Runner/Info.plist
  apps/app/ios/scripts/extract_dart_defines.sh
  apps/app/pubspec.lock
  apps/app/pubspec.yaml
Labels: feature, app, size/L, release

#363 fix: 最大枚数が不明なチケット種別ががある時の例外処理
  api/src/features/cron/scheduled.ts
Labels: bug, size/S

#362 [App-Staff]: モックデータで表示している箇所を実データに差し替える&表示上のリリース準備
  packages/app/cores/core/lib/src/ui/coming_soon_cover.dart
  packages/app/cores/core/lib/ui.dart
  packages/app/features/about/lib/src/ui/about_page.dart
  packages/app/features/about/lib/src/ui/sponsors/sponsors_item.dart
  packages/app/features/about/lib/src/ui/staff/contributors_page.dart
  packages/app/features/about/lib/src/ui/staff/staff_card_widget.dart
  packages/app/features/news/lib/src/ui/news_page.dart
  packages/app/features/session/lib/src/ui/sessions_page.dart
  packages/app/features/venue/.gitignore
  packages/app/features/venue/lib/src/ui/venue_page.dart
  packages/app/features/venue/pubspec.lock
  packages/app/features/venue/pubspec.yaml
Labels: feature, app, size/L, release

#364 ci: ラベルを整理
  .github/ISSUE_TEMPLATE/task_for_app_staff.yaml
  .github/ISSUE_TEMPLATE/task_for_data_staff.yaml
  .github/ISSUE_TEMPLATE/task_for_ticket_staff.yaml
  .github/ISSUE_TEMPLATE/task_for_website_staff.yaml
  .github/dependabot.yaml
  .github/labeler.yaml
  .github/workflows/wc-check-sql-format.yaml
Labels: size/M, github, improvement

#365 [All] ci: Issue テンプレートと Issue 作成時にラベル付与するワークフローを作成
  .github/ISSUE_TEMPLATE/task_for_contributor.yaml
  .github/ISSUE_TEMPLATE/task_for_staff.yaml
  .github/labeler-issue.yaml
  .github/workflows/labeler-issue.yaml
  .vscode/cspell.json
Labels: related/github, type/improvement, size/L

#366 [Data] feature: Contributors の table, functions, github workflow を作成
  .github/workflows/deploy-supabase.yaml
  .github/workflows/replace-contributors.yaml
  .prettierignore
  .vscode/tasks.json
  packages/common/data/supabase/functions/.env.example
  packages/common/data/supabase/functions/replace-contributors/index.ts
  packages/common/data/supabase/migrations/20241019121805_add_contributors_table.sql
  packages/common/data/supabase/migrations/20241019231717_add_replace_contributors_function.sql
  packages/common/data/supabase/tests/contributors_test.sql
Labels: type/feature, related/github, related/data, size/L

#370 fix: 不足している環境変数宣言を追加
  .github/workflows/deploy-supabase.yaml
Labels: type/bug, related/github, size/XS

#371 fix: コントリビューター一覧の取得方法を修正
  .github/workflows/deploy-supabase.yaml
  .github/workflows/replace-contributors.yaml
Labels: type/bug, related/github, size/S

#369 fix: advanced-issue-labeler の設定ファイルの指定方法ミスを修正
  .github/workflows/labeler-issue.yaml
Labels: type/bug, related/github, size/XS

#368 [App] feat: コントリビューター一覧のデータ繋ぎ込み
  packages/app/features/about/analysis_options.yaml
  packages/app/features/about/lib/src/data/contributors_provider.dart
  packages/app/features/about/lib/src/data/contributors_provider.g.dart
  packages/app/features/about/lib/src/ui/staff/contributors_page.dart
  packages/app/features/about/pubspec.lock
  packages/app/features/about/pubspec.yaml
  packages/common/data/lib/contributor.dart
  packages/common/data/lib/src/model/contributor.dart
  packages/common/data/lib/src/model/contributor.freezed.dart
  packages/common/data/lib/src/model/contributor.g.dart
  packages/common/data/lib/src/repository/contributor_repository.dart
  packages/common/data/lib/src/repository/contributor_repository.g.dart
Labels: type/feature, related/app, related/data, size/L

#373 fix: Webサイトのデプロイ先をCloudflare Pagesのみに修正
  .github/workflows/deploy-web.yaml
  .github/workflows/deploy-website.yaml
Labels: type/bug, related/github, size/M

#374 [ticket-api] `flutterkaigi.jp`ドメインをCORSの`Access-Control-Allow-Origin`に追加
  api/src/index.ts
Labels: type/bug, size/XS

#376 [All] docs: CONTRIBUTING.md の内容を更新
  docs/CONTRIBUTING.md
  docs/GET_STARTED.md
Labels: related/documentation, type/improvement, size/M

#377 [App(Web)] refactor: 可能な限り common_data パッケージに provider を集約
  apps/website/lib/feature/staff/data/staff_notifier.dart
  packages/app/features/about/analysis_options.yaml
  packages/app/features/about/lib/src/ui/about_page.dart
  packages/app/features/about/lib/src/ui/contributors/contributors_list_item.dart
  packages/app/features/about/lib/src/ui/contributors/contributors_page.dart
  packages/app/features/about/lib/src/ui/sponsors/notifier/sponsors_notifier.dart
  packages/app/features/about/lib/src/ui/sponsors/sponsors_list_item.dart
  packages/app/features/about/lib/src/ui/sponsors/sponsors_page.dart
  packages/app/features/about/lib/src/ui/staff/notifier/staff_notifier.dart
  packages/app/features/about/lib/src/ui/staff/staff_list_item.dart
  packages/app/features/about/lib/src/ui/staff/staff_page.dart
  packages/app/features/about/pubspec.lock
  packages/app/features/about/pubspec.yaml
  packages/app/features/news/lib/src/ui/news_list_item.dart
  packages/app/features/news/lib/src/ui/news_page.dart
  packages/app/features/news/lib/src/ui/notifier/state/news_notifier.dart
  packages/common/data/lib/contributor.dart
  packages/common/data/lib/news.dart
  packages/common/data/lib/sponsor.dart
  packages/common/data/lib/src/provider/contributors_provider.dart
  packages/common/data/lib/src/provider/contributors_provider.g.dart
  packages/common/data/lib/src/provider/news_provider.dart
  packages/common/data/lib/src/provider/news_provider.g.dart
  packages/common/data/lib/src/provider/sponsors_provider.dart
  packages/common/data/lib/src/provider/sponsors_provider.g.dart
  packages/common/data/lib/src/provider/staff_members_provider.dart
  packages/common/data/lib/src/provider/staff_members_provider.g.dart
  packages/common/data/lib/src/repository/staff_repository.dart
  packages/common/data/lib/staff.dart
  packages/common/data/test/connection_test/staff_repository_test.dart
Labels: related/app, related/website, type/improvement, related/test, related/data, size/XL

#378 [All] chore: cursorignore ファイルを作成
  .cursorignore
Labels: type/improvement, size/M

#388 [All] chore: CODEOWNERS で packages 配下の設定追加
  .github/CODEOWNERS
Labels: related/github, type/improvement, size/XS

#387 [All] chore: すべてに関係する Issue を作成できるように改善
  .github/ISSUE_TEMPLATE/task_for_contributor.yaml
  .github/ISSUE_TEMPLATE/task_for_staff.yaml
  .github/labeler-issue.yaml
Labels: related/github, type/improvement, size/S

#393 [App] 設定初期化
  packages/app/cores/designsystem/lib/providers.dart
  packages/app/cores/designsystem/lib/src/providers/localization_mode.dart
  packages/app/cores/designsystem/lib/src/providers/localization_mode.g.dart
  packages/app/cores/settings/assets/l10n/app_en.arb
  packages/app/cores/settings/assets/l10n/app_ja.arb
  packages/app/cores/settings/lib/src/gen/l10n/l10n.dart
  packages/app/cores/settings/lib/src/gen/l10n/l10n_en.dart
  packages/app/cores/settings/lib/src/gen/l10n/l10n_ja.dart
  packages/app/cores/settings/lib/src/ui/settings_page.dart
  packages/app/cores/settings/pubspec.lock
  packages/app/cores/settings/pubspec.yaml
Labels: type/feature, related/app, size/L

#372 [website] スタッフ一覧の実装
  apps/website/assets/svg/products/note.svg
  apps/website/assets/svg/products/qiita.svg
  apps/website/assets/svg/products/zenn.svg
  apps/website/lib/core/extension/iterable_ex.dart
  apps/website/lib/core/i18n/strings.i18n.json
  apps/website/lib/feature/staff/ui/components/staff_card.dart
  apps/website/lib/feature/staff/ui/staff_view.dart
  apps/website/lib/gen/i18n/strings.g.dart
  apps/website/lib/ui/components/sns_icon.dart
  apps/website/lib/ui/pages/home/home_page.dart
Labels: type/feature, related/website, size/L

#404 [App]: 言語設定を反映&設定値をすべて設定画面に表示する
  apps/app/lib/main.dart
  packages/app/cores/settings/lib/src/ui/settings_page.dart
Labels: type/feature, related/app, size/S

#406 fetch contributions in descending order
  packages/common/data/lib/src/repository/contributor_repository.dart
Labels: type/feature, related/data, size/XS

#407 add SafeArea to Staffs, Contributors and Sponsors page
  packages/app/features/about/lib/src/ui/contributors/contributors_page.dart
  packages/app/features/about/lib/src/ui/sponsors/sponsors_page.dart
  packages/app/features/about/lib/src/ui/staff/staff_page.dart
Labels: type/feature, related/app, size/L

#408 fix: PR作成時にStaging-Ticket APIのデプロイを行わないように修正
  .github/workflows/deploy-ticket.yaml
Labels: type/bug, related/github, size/S

#414 [App] feat: パッケージ名を環境ごとに設定
  apps/app/android/app/build.gradle
  apps/app/defines/development.env
  apps/app/lib/main.dart
  apps/app/pubspec.lock
  melos.yaml
  packages/app/cores/core/lib/providers.dart
  packages/app/cores/core/lib/src/providers/package_info_instance.dart
  packages/app/cores/core/lib/src/providers/package_info_instance.g.dart
  packages/app/cores/core/pubspec.lock
  packages/app/cores/core/pubspec.yaml
  packages/app/cores/designsystem/pubspec.lock
  packages/app/cores/settings/pubspec.lock
  packages/app/features/about/lib/src/ui/about_page.dart
  packages/app/features/about/pubspec.lock
  packages/app/features/news/pubspec.lock
  packages/app/features/session/pubspec.lock
  packages/app/features/venue/pubspec.lock
Labels: related/app, type/improvement, size/L

#419 [ticket-web] 全角記号を入力可能に
  .github/workflows/deploy-ticket.yaml
  apps/ticket_web/lib/feature/ticket/ui/components/ticket_card_edit_dialog.dart
Labels: type/bug, related/github, related/ticket, size/M

#422 [App] chore: アプリの appbundle のビルド設定を追加
  .github/workflows/deploy-app-android.yaml
  .vscode/cspell.json
  apps/app/android/app/build.gradle
  apps/app/android/fastlane/Fastfile
  apps/app/android/gradle/wrapper/gradle-wrapper.properties
  apps/app/android/settings.gradle
  melos.yaml
Labels: related/app, related/github, type/improvement, size/M

#425 [Data] fix: セッションデータの微修正
  packages/common/data/supabase/seed.sql
Labels: type/bug, related/data, size/XL

#424 [Data] fix: minn さんの medium を削除
  packages/common/data/supabase/seed.sql
Labels: type/bug, related/data, size/XS

#420 [data] JobBoardのテーブル・Bucketを作成・データ投入
  packages/common/data/supabase/migrations/20241028153630_add_job_board_table.sql
  packages/common/data/supabase/seed-storage/job_boards/0698a998-3c0a-43ac-bbfe-abfbe2310e68.webp
  packages/common/data/supabase/seed-storage/job_boards/085b198f-3e76-4969-9985-dc9c3881d369.webp
  packages/common/data/supabase/seed-storage/job_boards/14f88bf5-0e66-483f-81f9-36055c8f4549.webp
  packages/common/data/supabase/seed-storage/job_boards/17b1802e-cde1-40c2-8bcd-9ad096d997a5.webp
  packages/common/data/supabase/seed-storage/job_boards/1edb6f3c-db3f-4e47-9e55-013c18da146a.webp
  packages/common/data/supabase/seed-storage/job_boards/29cf52c9-c300-4e48-a2ff-030c5b345406.webp
  packages/common/data/supabase/seed-storage/job_boards/2d67bee5-f0a0-4acb-9311-d37cc56792c5.webp
  packages/common/data/supabase/seed-storage/job_boards/3393faac-27df-441f-8471-b7ba55f55ab4.webp
  packages/common/data/supabase/seed-storage/job_boards/40eac7d4-70a8-4315-b481-a4374e05e478.webp
  packages/common/data/supabase/seed-storage/job_boards/421389ec-a9e0-4b7c-9d44-eb41fbf6ef94.webp
  packages/common/data/supabase/seed-storage/job_boards/609e3530-355e-4c0e-bf96-e468e946434b.webp
  packages/common/data/supabase/seed-storage/job_boards/6b499f14-ee11-4fb2-b3c3-599fcde24d38.webp
  packages/common/data/supabase/seed-storage/job_boards/75684811-4a97-4f98-8915-ce1336c89993.webp
  packages/common/data/supabase/seed-storage/job_boards/920d5844-4a38-4603-8a48-c9cac0b3a276.webp
  packages/common/data/supabase/seed-storage/job_boards/9b0b0760-24c5-489c-9ed1-66594b3e3d7e.webp
  packages/common/data/supabase/seed-storage/job_boards/c2acc453-9fe9-47cf-b8a9-98f87a02494c.webp
  packages/common/data/supabase/seed-storage/job_boards/ccc7765b-b4bd-42aa-ac95-482ca7302fcb.webp
  packages/common/data/supabase/seed-storage/job_boards/d64e27af-a422-427d-862a-3f536a512dc5.webp
  packages/common/data/supabase/seed-storage/job_boards/d8511aad-221d-4954-8014-9f15582497bf.webp
  packages/common/data/supabase/seed-storage/job_boards/fb3f471f-9ba2-4d50-a3ef-5a544fc9e195.webp
  packages/common/data/supabase/seed-storage/job_boards/fd4aedc5-8cc6-45f1-9260-0523d8a1fc01.webp
  packages/common/data/supabase/seed.sql
Labels: related/data, size/L

#421 [data] JobBoard Repositoryを作成
  packages/common/data/lib/job_board.dart
  packages/common/data/lib/src/model/job_board.dart
  packages/common/data/lib/src/model/job_board.freezed.dart
  packages/common/data/lib/src/model/job_board.g.dart
  packages/common/data/lib/src/repository/job_board_repository.dart
  packages/common/data/lib/src/repository/job_board_repository.g.dart
  packages/common/data/lib/src/supabase_client.dart
  packages/common/data/lib/src/supabase_client.g.dart
Labels: related/data, size/XL

#427 [App] cd: Android アプリを内部テストへアップするワークフロー実装
  .github/workflows/deploy-app-android.yaml
Labels: related/github, type/improvement, size/M

#432 [App]: フロアガイドを追加
  packages/app/features/venue/assets/images/floor_map.webp
  packages/app/features/venue/assets/l10n/app_en.arb
  packages/app/features/venue/assets/l10n/app_ja.arb
  packages/app/features/venue/lib/src/gen/assets/assets.gen.dart
  packages/app/features/venue/lib/src/gen/l10n/l10n.dart
  packages/app/features/venue/lib/src/gen/l10n/l10n_en.dart
  packages/app/features/venue/lib/src/gen/l10n/l10n_ja.dart
  packages/app/features/venue/lib/src/ui/venue_page.dart
  packages/app/features/venue/pubspec.lock
  packages/app/features/venue/pubspec.yaml
Labels: type/feature, related/app, size/XL

#433 [App] スタッフメンバー一覧のタップイベントを追加
  packages/app/features/about/lib/src/ui/staff/staff_list_item.dart
Labels: related/app, size/XS

#430 [App]: セッション一覧で表示する日付の切り替えができるようにする
  packages/app/features/session/lib/src/data/model/session_date.dart
  packages/app/features/session/lib/src/ui/sessions_page.dart
  packages/app/features/session/pubspec.lock
  packages/app/features/session/pubspec.yaml
Labels: type/feature, related/app, size/L

#435 chore: バージョンとバージョンコード更新
  apps/app/pubspec.yaml
Labels: related/app, size/XS, type/release
