Repository FlutterKaigi/2024, pull requests merged in 2024-09, with the labels that each got.

#203 feat: Add sync shared_preferences provider
  apps/app/lib/main.dart
  packages/app/cores/core/lib/src/providers/shared_preferences_instance.dart
  packages/app/cores/core/lib/src/providers/shared_preferences_instance.g.dart
  packages/app/cores/designsystem/lib/src/font_family.dart
  packages/app/cores/designsystem/lib/src/font_family.g.dart
Labels: app

#192 [Website] chore: NewsDataNotifierにフォーマッターを適用
  apps/website/lib/ui/home/notifier/news_data_notifier.dart
Labels: bug, website

#193 [Website] Staff Notifierを追加
  apps/website/lib/state/staff_notifier.dart
  apps/website/lib/state/staff_notifier.g.dart
Labels: feature, website

#191 [Website] Spnsor Notifierを追加
  apps/.DS_Store
  apps/website/lib/state/sponsor_notifier.dart
  apps/website/lib/state/sponsor_notifier.g.dart
  packages/common/data/lib/sponsor.dart
Labels: feature, website, data

#205 [App] 外観モードの切り替え設定 + メインロゴのダークモード対応
  apps/app/lib/main.dart
  packages/app/cores/designsystem/assets/logo/main_logo_dark.svg
  packages/app/cores/designsystem/assets/logo/main_logo_light.svg
  packages/app/cores/designsystem/lib/font_family.dart
  packages/app/cores/designsystem/lib/providers.dart
  packages/app/cores/designsystem/lib/src/gen/assets/assets.gen.dart
  packages/app/cores/designsystem/lib/src/providers/font_family.dart
  packages/app/cores/designsystem/lib/src/providers/font_family.g.dart
  packages/app/cores/designsystem/lib/src/providers/theme_mode.dart
  packages/app/cores/designsystem/lib/src/providers/theme_mode.g.dart
  packages/app/cores/designsystem/lib/src/theme.dart
  packages/app/cores/designsystem/lib/src/ui/main_logo.dart
  packages/app/cores/designsystem/lib/ui.dart
  packages/app/cores/designsystem/pubspec.lock
  packages/app/cores/designsystem/pubspec.yaml
  packages/app/cores/settings/assets/l10n/app_en.arb
  packages/app/cores/settings/assets/l10n/app_ja.arb
  packages/app/cores/settings/lib/src/gen/l10n/l10n.dart
  packages/app/cores/settings/lib/src/gen/l10n/l10n_en.dart
  packages/app/cores/settings/lib/src/gen/l10n/l10n_ja.dart
  packages/app/cores/settings/lib/src/ui/settings_page.dart
  packages/app/features/about/lib/src/ui/about_page.dart
  packages/app/features/about/lib/src/ui/staff/staff_card_widget.dart
  packages/app/features/about/pubspec.lock
  packages/app/features/about/pubspec.yaml
  packages/app/features/news/lib/src/ui/news_page.dart
Labels: feature, app

#209 [ticket, data, web] fix(ci): tag指定ではなくCommit ID指定に変更
  .github/workflows/check-database.yaml
  .github/workflows/check-sql-format.yaml
  .github/workflows/deploy-supabase.yaml
  .github/workflows/deploy-ticket.yaml
  .github/workflows/deploy-web-on-pr.yaml
  .github/workflows/deploy-web.yaml
Labels: bug, github

#210 [data, ticket] stripe data connectのセットアップ
  packages/common/data/supabase/migrations/20240904185013_add_stripe_wrapper.sql
  packages/common/data/supabase/tests/stripe/rls_test_as_anon.sql
  packages/common/data/supabase/tests/stripe/rls_test_as_authenticated.sql
  packages/common/data/supabase/tests/stripe/stripe_basic_test.sql
Labels: feature, data

#207 [data, ticket] チケット管理用テーブルの作成
  apps/ticket_web/docs/stripe_connect.md
  packages/common/data/docs/ticket_system.md
  packages/common/data/supabase/migrations/20240823101451_add_tickets_table.sql
  packages/common/data/supabase/tests/tickets/rls_test_as_admin_role.sql
  packages/common/data/supabase/tests/tickets/rls_test_as_user_role.sql
  packages/common/data/supabase/tests/tickets/tickets_basic_test.sql
Labels: documentation, feature, data, ticket

#217 [data] 認証周りのRepositoryを作成
  packages/common/data/lib/auth.dart
  packages/common/data/lib/src/model/auth/auth_change_event.dart
  packages/common/data/lib/src/model/auth/user.dart
  packages/common/data/lib/src/model/auth/user.freezed.dart
  packages/common/data/lib/src/model/auth/user.g.dart
  packages/common/data/lib/src/repository/auth_repository.dart
Labels: feature, data

#218 [WIP; ticket] 認証周りの実装
  apps/ticket_web/README.md
  apps/ticket_web/analytics_options.yaml
  apps/ticket_web/assets/fonts/NotoSansJP/NotoSansJP-Bold.otf
  apps/ticket_web/assets/fonts/NotoSansJP/NotoSansJP-Medium.otf
  apps/ticket_web/assets/fonts/NotoSansJP/NotoSansJP-Regular.otf
  apps/ticket_web/assets/fonts/NotoSansJP/OFL.txt
  apps/ticket_web/assets/fonts/Poppins/OFL.txt
  apps/ticket_web/assets/fonts/Poppins/Poppins-Bold.ttf
  apps/ticket_web/assets/fonts/Poppins/Poppins-Medium.ttf
  apps/ticket_web/assets/fonts/Poppins/Poppins-Regular.ttf
  apps/ticket_web/assets/images/icon.webp
  apps/ticket_web/build.yaml
  apps/ticket_web/lib/app.dart
  apps/ticket_web/lib/core/i18n/strings.i18n.json
  apps/ticket_web/lib/core/i18n/strings_en.i18n.json
  apps/ticket_web/lib/core/router/router.dart
  apps/ticket_web/lib/core/router/router.g.dart
  apps/ticket_web/lib/core/theme/extension/theme_extension.dart
  apps/ticket_web/lib/core/theme/extension/theme_extension.tailor.dart
  apps/ticket_web/lib/core/theme/theme.dart
  apps/ticket_web/lib/feature/.keep
  apps/ticket_web/lib/gen/assets.gen.dart
  apps/ticket_web/lib/gen/fonts.gen.dart
  apps/ticket_web/lib/gen/i18n/strings.g.dart
  apps/ticket_web/lib/pages/home/home_page.dart
  apps/ticket_web/lib/pages/home/home_page.g.dart
  apps/ticket_web/pubspec.lock
  apps/ticket_web/pubspec.yaml
Labels: documentation, data, ticket

#215 [ticket] サイトのベース部分を作成
  apps/ticket_web/README.md
  apps/ticket_web/analytics_options.yaml
  apps/ticket_web/assets/fonts/NotoSansJP/NotoSansJP-Bold.otf
  apps/ticket_web/assets/fonts/NotoSansJP/NotoSansJP-Medium.otf
  apps/ticket_web/assets/fonts/NotoSansJP/NotoSansJP-Regular.otf
  apps/ticket_web/assets/fonts/NotoSansJP/OFL.txt
  apps/ticket_web/assets/fonts/Poppins/OFL.txt
  apps/ticket_web/assets/fonts/Poppins/Poppins-Bold.ttf
  apps/ticket_web/assets/fonts/Poppins/Poppins-Medium.ttf
  apps/ticket_web/assets/fonts/Poppins/Poppins-Regular.ttf
  apps/ticket_web/assets/images/icon.webp
  apps/ticket_web/build.yaml
  apps/ticket_web/lib/app.dart
  apps/ticket_web/lib/core/i18n/strings.i18n.json
  apps/ticket_web/lib/core/i18n/strings_en.i18n.json
  apps/ticket_web/lib/core/router/router.dart
  apps/ticket_web/lib/core/router/router.g.dart
  apps/ticket_web/lib/core/theme/extension/theme_extension.dart
  apps/ticket_web/lib/core/theme/extension/theme_extension.tailor.dart
  apps/ticket_web/lib/core/theme/theme.dart
  apps/ticket_web/lib/feature/.keep
  apps/ticket_web/lib/gen/assets.gen.dart
  apps/ticket_web/lib/gen/fonts.gen.dart
  apps/ticket_web/lib/gen/i18n/strings.g.dart
  apps/ticket_web/lib/pages/home/home_page.dart
  apps/ticket_web/lib/pages/home/home_page.g.dart
  apps/ticket_web/pubspec.lock
  apps/ticket_web/pubspec.yaml
Labels: documentation, feature, ticket

#216 セッションページのカードWidgetを作成しました
  packages/app/cores/settings/pubspec.lock
  packages/app/features/session/.gitignore
  packages/app/features/session/lib/src/ui/session_item.dart
  packages/app/features/session/lib/src/ui/sessions_page.dart
  packages/app/features/session/pubspec.lock
  packages/app/features/session/pubspec.yaml
Labels: feature, app

#223 セッションのタイムラインのUI
  .vscode/cspell.json
  packages/app/features/session/lib/src/ui/session_item.dart
  packages/app/features/session/lib/src/ui/sessions_page.dart
  packages/app/features/session/pubspec.lock
  packages/app/features/session/pubspec.yaml
Labels: feature, app

#227 [App] セッションお気に入り登録
  apps/app/lib/routing/routes/main/sessions/sessions_shell_branch.dart
  packages/app/features/session/analysis_options.yaml
  packages/app/features/session/lib/src/providers/bookmarked_sessions.dart
  packages/app/features/session/lib/src/providers/bookmarked_sessions.freezed.dart
  packages/app/features/session/lib/src/providers/bookmarked_sessions.g.dart
  packages/app/features/session/lib/src/ui/session_item.dart
  packages/app/features/session/lib/src/ui/session_page.dart
  packages/app/features/session/pubspec.lock
  packages/app/features/session/pubspec.yaml
Labels: feature, app

#234 [ticket, data]: 認証周りの関数を実装・チケットサイトの基盤整備 Part2
  .github/workflows/check-database.yaml
  .github/workflows/deploy-ticket.yaml
  .vscode/launch.json
  apps/ticket_web/defines/development.env
  apps/ticket_web/defines/production.env
  apps/ticket_web/lib/core/provider/supabase_client.dart
  apps/ticket_web/lib/feature/auth/data/current_user.dart
  apps/ticket_web/lib/feature/auth/data/current_user.g.dart
  apps/ticket_web/lib/main.dart
  apps/ticket_web/lib/pages/home/home_page.dart
  apps/ticket_web/pubspec.yaml
  packages/common/data/.env.example
  packages/common/data/.envrc
  packages/common/data/.gitignore
  packages/common/data/README.md
  packages/common/data/lib/auth.dart
  packages/common/data/lib/src/repository/auth_repository.dart
  packages/common/data/lib/src/repository/auth_repository.g.dart
  packages/common/data/lib/supabase_client.dart
  packages/common/data/supabase/README.md
  packages/common/data/supabase/config.toml
  packages/common/data/supabase/migrations/20240921073250_alter_profiles_table.sql
Labels: documentation, feature, github, data, ticket

#239 fix: 構文ミスを修正
  apps/ticket_web/lib/pages/home/home_page.dart
Labels: bug, ticket

#235 [data] セッション関連のテーブル作成
  packages/common/data/supabase/config.toml
  packages/common/data/supabase/migrations/20240921100451_add_profile_social_networking_services_table.sql
  packages/common/data/supabase/migrations/20240921100801_add_session_table.sql
  packages/common/data/supabase/tests/profile_social_networking_services/profile_social_networking_services_basic_test.sql
  packages/common/data/supabase/tests/profile_social_networking_services/rls_test_as_admin_role.sql
  packages/common/data/supabase/tests/profile_social_networking_services/rls_test_as_user_role.sql
  packages/common/data/supabase/util/add_sample_sessions.sql
  packages/common/data/supabase/util/add_sample_sponsors.sql
  packages/common/data/supabase/util/add_sample_users.sql
Labels: feature, data, size/XL

#240 [app] (chore) 80文字の文字数制限警告を無視
  packages/app/features/about/lib/src/ui/sponsors/sponsors_page.dart
Labels: bug, app

#237 [data] sponsor_with_sessions VIEWの作成
  packages/common/data/supabase/migrations/20240921100801_add_session_table.sql
  packages/common/data/supabase/migrations/20240921113018_add_sponsor_with_sessions_view.sql
Labels: feature, data, size/M

#241 [ticket] デバッグ用にmacOSへ対応
  .vscode/launch.json
  apps/ticket_web/.gitignore
  apps/ticket_web/.metadata
  apps/ticket_web/lib/pages/home/home_page.dart
  apps/ticket_web/macos/.gitignore
  apps/ticket_web/macos/Flutter/Flutter-Debug.xcconfig
  apps/ticket_web/macos/Flutter/Flutter-Release.xcconfig
  apps/ticket_web/macos/Flutter/GeneratedPluginRegistrant.swift
  apps/ticket_web/macos/Podfile
  apps/ticket_web/macos/Podfile.lock
  apps/ticket_web/macos/Runner.xcodeproj/project.pbxproj
  apps/ticket_web/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  apps/ticket_web/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  apps/ticket_web/macos/Runner.xcworkspace/contents.xcworkspacedata
  apps/ticket_web/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  apps/ticket_web/macos/Runner/AppDelegate.swift
  apps/ticket_web/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  apps/ticket_web/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
  apps/ticket_web/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
  apps/ticket_web/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
  apps/ticket_web/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
  apps/ticket_web/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
  apps/ticket_web/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
  apps/ticket_web/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
  apps/ticket_web/macos/Runner/Base.lproj/MainMenu.xib
  apps/ticket_web/macos/Runner/Configs/AppInfo.xcconfig
  apps/ticket_web/macos/Runner/Configs/Debug.xcconfig
  apps/ticket_web/macos/Runner/Configs/Release.xcconfig
  apps/ticket_web/macos/Runner/Configs/Warnings.xcconfig
  apps/ticket_web/macos/Runner/DebugProfile.entitlements
  apps/ticket_web/macos/Runner/Info.plist
  apps/ticket_web/macos/Runner/MainFlutterWindow.swift
  apps/ticket_web/macos/Runner/Release.entitlements
  packages/common/data/supabase/config.toml
Labels: feature, data, ticket, size/XXL

#242 [ticket] ホームページの作成 Part 1
  apps/ticket_web/analysis_options.yaml
  apps/ticket_web/build.yaml
  apps/ticket_web/lib/app.dart
  apps/ticket_web/lib/core/components/app_header.dart
  apps/ticket_web/lib/core/components/responsive_content_container.dart
  apps/ticket_web/lib/core/extension/is_mobile.dart
  apps/ticket_web/lib/core/i18n/strings.i18n.json
  apps/ticket_web/lib/core/i18n/strings_en.i18n.json
  apps/ticket_web/lib/feature/auth/data/current_user.dart
  apps/ticket_web/lib/feature/auth/data/current_user.g.dart
  apps/ticket_web/lib/gen/i18n/strings.g.dart
  apps/ticket_web/lib/pages/home/components/title_and_logo.dart
  apps/ticket_web/lib/pages/home/home_page.dart
Labels: feature, ticket, size/L

#243 [ticket] ホームページの作成 Part 2
  apps/ticket_web/assets/images/sns/discord.svg
  apps/ticket_web/assets/images/sns/github.svg
  apps/ticket_web/assets/images/sns/medium.svg
  apps/ticket_web/assets/images/sns/x.svg
  apps/ticket_web/lib/core/components/site_footer.dart
  apps/ticket_web/lib/core/components/site_header.dart
  apps/ticket_web/lib/core/components/site_scaffold.dart
  apps/ticket_web/lib/core/i18n/strings.i18n.json
  apps/ticket_web/lib/core/i18n/strings_en.i18n.json
  apps/ticket_web/lib/core/theme/extension/theme_extension.dart
  apps/ticket_web/lib/feature/auth/data/current_user.dart
  apps/ticket_web/lib/feature/auth/data/current_user.g.dart
  apps/ticket_web/lib/gen/assets.gen.dart
  apps/ticket_web/lib/gen/i18n/strings.g.dart
  apps/ticket_web/lib/pages/home/home_page.dart
  apps/ticket_web/pubspec.lock
  apps/ticket_web/pubspec.yaml
Labels: ticket, size/XL

#245 [all] Flutterを`3.26.0-0.1.pre`へアップデート
  .fvmrc
  .gitattributes
  apps/app/pubspec.lock
  apps/app/pubspec.yaml
  apps/ticket_web/pubspec.lock
  apps/ticket_web/pubspec.yaml
  apps/website/lib/ui/components/header/hamburger_menu.dart
  apps/website/lib/ui/components/header/site_header.dart
  apps/website/lib/ui/home/components/lead.dart
  apps/website/lib/ui/home/components/news_component.dart
  apps/website/pubspec.lock
  apps/website/pubspec.yaml
  melos.yaml
  packages/app/cores/core/pubspec.lock
  packages/app/cores/core/pubspec.yaml
  packages/app/cores/designsystem/pubspec.lock
  packages/app/cores/designsystem/pubspec.yaml
  packages/app/cores/settings/pubspec.lock
  packages/app/cores/settings/pubspec.yaml
  packages/app/features/about/pubspec.lock
  packages/app/features/about/pubspec.yaml
  packages/app/features/debug/pubspec.lock
  packages/app/features/debug/pubspec.yaml
  packages/app/features/news/pubspec.lock
  packages/app/features/news/pubspec.yaml
  packages/app/features/session/pubspec.lock
  packages/app/features/session/pubspec.yaml
  packages/app/features/venue/pubspec.lock
  packages/app/features/venue/pubspec.yaml
  packages/common/data/pubspec.lock
  packages/common/data/pubspec.yaml
  pubspec.lock
Labels: app, website, data, ticket, size/XXL

#246 [ticket] ホームページの作成 Part 3 (チケットの種別をカードで表示)
  .gitignore
  apps/ticket_web/.gitignore
  apps/ticket_web/build.yaml
  apps/ticket_web/lib/core/i18n/strings.i18n.json
  apps/ticket_web/lib/core/i18n/strings_en.i18n.json
  apps/ticket_web/lib/gen/i18n/strings.g.dart
  apps/ticket_web/lib/pages/home/components/ticket_cards.dart
  apps/ticket_web/lib/pages/home/components/transit_to_home_page.dart
  apps/ticket_web/lib/pages/home/home_page.dart
  apps/ticket_web/macos/Runner/AppDelegate.swift
  apps/ticket_web/pubspec.lock
  apps/ticket_web/pubspec.yaml
Labels: feature, ticket, size/L

#247 [ticket] (api): チケット購入を検証しチケットを発行する`/v1/verify_purchase`エンドポイントを作成
  api/package.json
  api/pnpm-lock.yaml
  api/src/bindings.d.ts
  api/src/features/coupon/coupon.ts
  api/src/index.ts
  api/src/routes/v1/v1.ts
  api/src/util/authorizationSchema.ts
  api/src/util/supabaseSchema.ts
  packages/common/data/supabase/config.toml
  packages/common/data/supabase/migrations/20240922085450_alter_ticket_table.sql
Labels: feature, data, size/XXL

#250 [data] セッション関連のRepositoryを作成
  packages/common/data/lib/session.dart
  packages/common/data/lib/src/model/profile_social_networking_service.dart
  packages/common/data/lib/src/model/profile_social_networking_service.freezed.dart
  packages/common/data/lib/src/model/profile_social_networking_service.g.dart
  packages/common/data/lib/src/model/session.dart
  packages/common/data/lib/src/model/session.freezed.dart
  packages/common/data/lib/src/model/session.g.dart
  packages/common/data/lib/src/model/session_speaker.dart
  packages/common/data/lib/src/model/session_speaker.freezed.dart
  packages/common/data/lib/src/model/session_speaker.g.dart
  packages/common/data/lib/src/model/session_venue.dart
  packages/common/data/lib/src/model/session_venue.freezed.dart
  packages/common/data/lib/src/model/session_venue.g.dart
  packages/common/data/lib/src/model/sns.dart
  packages/common/data/lib/src/model/sns.freezed.dart
  packages/common/data/lib/src/model/sns.g.dart
  packages/common/data/lib/src/model/view/profile_with_sns.dart
  packages/common/data/lib/src/model/view/profile_with_sns.freezed.dart
  packages/common/data/lib/src/model/view/profile_with_sns.g.dart
  packages/common/data/lib/src/model/view/session_venues_with_sessions.dart
  packages/common/data/lib/src/model/view/session_venues_with_sessions.freezed.dart
  packages/common/data/lib/src/model/view/session_venues_with_sessions.g.dart
  packages/common/data/lib/src/repository/session_repository.dart
  packages/common/data/lib/src/repository/session_repository.g.dart
  packages/common/data/lib/src/repository/staff_repository.dart
Labels: feature, data, size/XXL

#253 [data] Profile関連のRepositoryを作成
  packages/common/data/lib/profile.dart
  packages/common/data/lib/src/model/profile.dart
  packages/common/data/lib/src/model/profile.freezed.dart
  packages/common/data/lib/src/model/profile.g.dart
  packages/common/data/lib/src/repository/profile_repository.dart
  packages/common/data/lib/src/repository/profile_repository.g.dart
  packages/common/data/supabase/migrations/20240922161135_add_sns_update_function.sql
Labels: feature, data, size/XL

#259 [data, ticket] Ticket Repositoryを作成
  packages/common/data/lib/src/model/ticket.dart
  packages/common/data/lib/src/model/ticket.freezed.dart
  packages/common/data/lib/src/model/ticket.g.dart
  packages/common/data/lib/src/repository/ticket_repository.dart
  packages/common/data/lib/src/repository/ticket_repository.g.dart
  packages/common/data/lib/ticket.dart
Labels: feature, app, data, size/L

#260 [data, ticket] チケットAPIのクライアントを作成
  packages/common/data/lib/src/repository/ticket_repository.g.dart
  packages/common/data/lib/ticket.dart
  packages/common/ticket_api/.gitignore
  packages/common/ticket_api/README.md
  packages/common/ticket_api/analysis_options.yaml
  packages/common/ticket_api/build.yaml
  packages/common/ticket_api/lib/model/verify_purchase_response.dart
  packages/common/ticket_api/lib/model/verify_purchase_response.freezed.dart
  packages/common/ticket_api/lib/model/verify_purchase_response.g.dart
  packages/common/ticket_api/lib/ticket_api.dart
  packages/common/ticket_api/lib/ticket_api.g.dart
  packages/common/ticket_api/pubspec.yaml
Labels: documentation, feature, data, size/L

#261 [ticket] (api) プロモーションコード周りのAPIを作成
  api/package.json
  api/pnpm-lock.yaml
  api/src/bindings.d.ts
  api/src/middleware/rateLimiter.ts
  api/src/routes/v1/v1.ts
  api/wrangler.toml
Labels: feature, size/L

#262 [ticket] チケットAPI(promotion周り)のClientを作成しました
  packages/common/ticket_api/build.yaml
  packages/common/ticket_api/lib/model/ticket/get_promotion_response.dart
  packages/common/ticket_api/lib/model/ticket/get_promotion_response.freezed.dart
  packages/common/ticket_api/lib/model/ticket/get_promotion_response.g.dart
  packages/common/ticket_api/lib/model/ticket/post_promotion_request.dart
  packages/common/ticket_api/lib/model/ticket/post_promotion_request.freezed.dart
  packages/common/ticket_api/lib/model/ticket/post_promotion_request.g.dart
  packages/common/ticket_api/lib/model/ticket/post_promotion_response.dart
  packages/common/ticket_api/lib/model/ticket/post_promotion_response.freezed.dart
  packages/common/ticket_api/lib/model/ticket/post_promotion_response.g.dart
  packages/common/ticket_api/lib/model/ticket/promotion_metadata.dart
  packages/common/ticket_api/lib/model/ticket/promotion_metadata.freezed.dart
  packages/common/ticket_api/lib/model/ticket/promotion_metadata.g.dart
  packages/common/ticket_api/lib/model/verify_purchase_response.g.dart
  packages/common/ticket_api/lib/ticket_api.dart
  packages/common/ticket_api/lib/ticket_api.g.dart
  packages/common/ticket_api/pubspec.yaml
Labels: feature, size/XXL

#252 [App-Staff]: Newsのデータ繋ぎ込み対応しました
  packages/app/features/news/assets/l10n/app_en.arb
  packages/app/features/news/assets/l10n/app_ja.arb
  packages/app/features/news/lib/src/gen/l10n/l10n.dart
  packages/app/features/news/lib/src/gen/l10n/l10n_en.dart
  packages/app/features/news/lib/src/gen/l10n/l10n_ja.dart
  packages/app/features/news/lib/src/ui/news_page.dart
  packages/app/features/news/lib/src/ui/notifer/state/news_notifer.dart
  packages/app/features/news/pubspec.lock
  packages/app/features/news/pubspec.yaml
Labels: feature, app, size/L

#267 [ticket] (api, chore): Workers Logを有効化・各種依存関係の更新
  api/package.json
  api/pnpm-lock.yaml
  api/wrangler.toml
Labels: size/L

#268 [App] お気に入りセッション一覧画面の実装
  apps/app/.gitignore
  apps/app/ios/Podfile.lock
  apps/app/lib/routing/router.dart
  apps/app/lib/routing/router.g.dart
  apps/app/lib/routing/routes/main/sessions/sessions_shell_branch.dart
  packages/app/features/news/lib/src/gen/l10n/l10n_en.dart
  packages/app/features/session/assets/l10n/app_en.arb
  packages/app/features/session/assets/l10n/app_ja.arb
  packages/app/features/session/lib/routing.dart
  packages/app/features/session/lib/src/gen/l10n/l10n.dart
  packages/app/features/session/lib/src/gen/l10n/l10n_en.dart
  packages/app/features/session/lib/src/gen/l10n/l10n_ja.dart
  packages/app/features/session/lib/src/providers/bookmarked_sessions.g.dart
  packages/app/features/session/lib/src/routing/router.dart
  packages/app/features/session/lib/src/routing/router.g.dart
  packages/app/features/session/lib/src/ui/bookmarked_sessions_page.dart
  packages/app/features/session/lib/src/ui/session_item.dart
  packages/app/features/session/lib/src/ui/sessions_page.dart
  packages/app/features/session/lib/ui.dart
  packages/app/features/session/pubspec.lock
  packages/app/features/session/pubspec.yaml
Labels: feature, app, size/L

#270 [website] yet_another_json_isolate, vector_graphicsを修正版にoverride
  apps/app/pubspec.lock
  apps/ticket_web/pubspec.lock
  apps/ticket_web/pubspec.yaml
  apps/website/pubspec.lock
  apps/website/pubspec.yaml
  packages/app/features/news/pubspec.yaml
  packages/common/data/pubspec.lock
  packages/common/data/pubspec.yaml
  pubspec.lock
Labels: bug, app, website, data, ticket, size/L

#272 Improvement/integrate check jobs
  .github/workflows/check-pr.yaml
  .github/workflows/wc-check-changes.yaml
  .github/workflows/wc-check-database.yaml
  .github/workflows/wc-check-markdownlint.yaml
  .github/workflows/wc-check-prettier.yaml
  .github/workflows/wc-check-sql-format.yaml
  .github/workflows/wc-check-textlint.yaml
  .vscode/cspell.json
Labels: github, improvement, size/L

#204 [Website] Sponsorsセクションの実装
  apps/website/lib/i18n/strings.g.dart
  apps/website/lib/i18n/strings.i18n.json
  apps/website/lib/ui/components/header/hamburger_menu.dart
  apps/website/lib/ui/components/header/site_header.dart
  apps/website/lib/ui/home/components/sponsors.dart
  apps/website/lib/ui/home/home_page.dart
  apps/website/pubspec.lock
  apps/website/pubspec.yaml
Labels: feature, website, size/L

#258 [web] ディレクトリ構成のリファクタリング
  apps/website/build.yaml
  apps/website/lib/core/i18n/strings.i18n.json
  apps/website/lib/core/router/router.dart
  apps/website/lib/core/util/scroll_to_section.dart
  apps/website/lib/data/data_provider.dart
  apps/website/lib/domain/models/model.dart
  apps/website/lib/domain/models/model.freezed.dart
  apps/website/lib/domain/repository/repository_provider.dart
  apps/website/lib/feature/news/data/news_data_notifier.dart
  apps/website/lib/feature/news/data/news_data_notifier.g.dart
  apps/website/lib/feature/news/data/news_data_state.dart
  apps/website/lib/feature/news/data/news_data_state.freezed.dart
  apps/website/lib/feature/news/ui/news_component.dart
  apps/website/lib/feature/sponsor/data/sponsor_notifier.dart
  apps/website/lib/feature/sponsor/data/sponsor_notifier.g.dart
  apps/website/lib/feature/staff/data/staff_notifier.dart
  apps/website/lib/feature/staff/data/staff_notifier.g.dart
  apps/website/lib/gen/i18n/strings.g.dart
  apps/website/lib/main.dart
  apps/website/lib/ui/components/footer/site_footer.dart
  apps/website/lib/ui/components/header/hamburger_menu.dart
  apps/website/lib/ui/components/header/site_header.dart
  apps/website/lib/ui/home/components/coming_soon.dart
  apps/website/lib/ui/home/components/lead.dart
  apps/website/lib/ui/home/components/speaker_wanted.dart
  apps/website/lib/ui/home/components/sponsor.dart
  apps/website/lib/ui/home/components/sponsors.dart
  apps/website/lib/ui/home/components/title_and_logo.dart
  apps/website/lib/ui/home/home_page.dart
Labels: website, size/L

#279 [website] Speaker Wantedを削除
  apps/website/lib/core/i18n/strings.i18n.json
  apps/website/lib/gen/i18n/strings.g.dart
  apps/website/lib/ui/components/header/hamburger_menu.dart
  apps/website/lib/ui/components/header/site_header.dart
  apps/website/lib/ui/home/components/speaker_wanted.dart
  apps/website/lib/ui/home/components/sponsors.dart
  apps/website/lib/ui/home/home_page.dart
Labels: bug, website, size/M

#276 [data] `sponsor_with_sessions` viewのrepositoryを追加
  packages/common/data/lib/session.dart
  packages/common/data/lib/sponsor.dart
  packages/common/data/lib/src/model/view/sponsor_with_session.dart
  packages/common/data/lib/src/model/view/sponsor_with_session.freezed.dart
  packages/common/data/lib/src/model/view/sponsor_with_session.g.dart
  packages/common/data/lib/src/repository/sponsor_repository.dart
Labels: feature, data, size/XL

#280 fix: フォーマット
  apps/ticket_web/analysis_options.yaml
  apps/ticket_web/lib/core/provider/supabase_client.dart
  apps/ticket_web/lib/feature/auth/data/auth_notifier.g.dart
  apps/ticket_web/lib/gen/i18n/strings.g.dart
  apps/website/analysis_options.yaml
  apps/website/lib/gen/i18n/strings.g.dart
  apps/website/lib/ui/components/header/hamburger_menu.dart
  melos.yaml
  packages/common/data/lib/auth.dart
  packages/common/data/lib/src/model/session_venue.dart
  packages/common/data/lib/src/model/view/session_venues_with_sessions.dart
  packages/common/data/lib/src/model/view/sponsor_with_session.dart
  packages/common/data/lib/src/repository/news_repository.dart
  packages/common/ticket_api/lib/model/ticket/get_promotion_response.dart
Labels: website, improvement, data, ticket, size/S

#289 [ticket] 環境変数周りの整理・環境に応じてBannerを表示
  .github/workflows/deploy-ticket.yaml
  apps/ticket_web/defines/development.env
  apps/ticket_web/defines/production.env
  apps/ticket_web/defines/staging.env.example
  apps/ticket_web/lib/app.dart
  apps/ticket_web/lib/core/provider/environment.dart
  apps/ticket_web/lib/core/provider/environment.g.dart
  apps/ticket_web/lib/core/provider/ticket_api_base_url_provider.dart
  apps/ticket_web/lib/core/provider/ticket_api_base_url_provider.g.dart
  apps/ticket_web/lib/feature/payment/data/payment_service.dart
  apps/ticket_web/lib/feature/payment/data/payment_service.g.dart
  apps/ticket_web/lib/feature/promotion_code/data/promotion_code_service.dart
  apps/ticket_web/lib/main.dart
  apps/website/lib/ui/pages/sponsor/components/sponsor_type_logo.dart
  apps/website/lib/ui/pages/sponsor/components/sponsor_view.dart
Labels: feature, website, github, ticket, size/L

#277 [website] スポンサー詳細画面の実装 Part 1
  apps/website/lib/core/app.dart
  apps/website/lib/core/i18n/strings.i18n.json
  apps/website/lib/core/router/router.dart
  apps/website/lib/core/router/router.g.dart
  apps/website/lib/core/util/setup_web_environment.dart
  apps/website/lib/core/util/setup_web_environment/setup_web_environment_io.dart
  apps/website/lib/core/util/setup_web_environment/setup_web_environment_web.dart
  apps/website/lib/feature/sponsor/data/sponsor_notifier.dart
  apps/website/lib/feature/sponsor/data/sponsor_notifier.g.dart
  apps/website/lib/gen/i18n/strings.g.dart
  apps/website/lib/main.dart
  apps/website/lib/ui/home/components/sponsors.dart
  apps/website/lib/ui/pages/home_page.dart
  apps/website/lib/ui/pages/sponsor_page.dart
  apps/website/macos/Runner.xcodeproj/project.pbxproj
  apps/website/macos/Runner/DebugProfile.entitlements
  apps/website/macos/Runner/Release.entitlements
  apps/website/pubspec.lock
  apps/website/pubspec.yaml
Labels: feature, website, size/L

#282 [data] `public.profiles`に 成人しているかどうかを示す`is_adult`フラグを追加
  api/src/util/supabaseSchema.ts
  packages/common/data/lib/src/model/profile.dart
  packages/common/data/lib/src/model/profile.freezed.dart
  packages/common/data/lib/src/model/profile.g.dart
  packages/common/data/lib/src/model/view/profile_with_sns.dart
  packages/common/data/lib/src/model/view/profile_with_sns.freezed.dart
  packages/common/data/lib/src/model/view/profile_with_sns.g.dart
  packages/common/data/lib/src/repository/profile_repository.dart
  packages/common/data/supabase/migrations/20240929145508_alter_profile_is_adult_column.sql
Labels: feature, data, size/XXL

#286 [ticket] Stripeへの遷移実装
  api/src/index.ts
  api/src/middleware/rateLimiter.ts
  api/src/routes/v1/v1.ts
  apps/ticket_web/defines/development.env
  apps/ticket_web/defines/production.env
  apps/ticket_web/lib/core/components/error/error_dialog.dart
  apps/ticket_web/lib/core/i18n/strings.i18n.json
  apps/ticket_web/lib/core/i18n/strings_en.i18n.json
  apps/ticket_web/lib/core/provider/shared_preferences.dart
  apps/ticket_web/lib/core/provider/shared_preferences.g.dart
  apps/ticket_web/lib/core/provider/ticket_api_base_url_provider.dart
  apps/ticket_web/lib/core/provider/ticket_api_base_url_provider.g.dart
  apps/ticket_web/lib/core/util/full_screen_loading.dart
  apps/ticket_web/lib/core/util/result.dart
  apps/ticket_web/lib/feature/payment/data/model/payment_url.dart
  apps/ticket_web/lib/feature/payment/data/model/payment_url.freezed.dart
  apps/ticket_web/lib/feature/payment/data/model/payment_url.g.dart
  apps/ticket_web/lib/feature/payment/data/payment_service.dart
  apps/ticket_web/lib/feature/payment/data/payment_service.g.dart
  apps/ticket_web/lib/feature/payment/data/payment_url_provider.dart
  apps/ticket_web/lib/feature/payment/data/payment_url_provider.g.dart
  apps/ticket_web/lib/feature/promotion_code/data/invited_promotion_selected_session.dart
  apps/ticket_web/lib/feature/promotion_code/data/invited_promotion_selected_session.g.dart
  apps/ticket_web/lib/feature/promotion_code/data/invited_promotion_selected_sponsor.dart
  apps/ticket_web/lib/feature/promotion_code/data/invited_promotion_selected_sponsor.g.dart
  apps/ticket_web/lib/feature/promotion_code/data/promotion_code_service.dart
  apps/ticket_web/lib/feature/promotion_code/data/promotion_code_service.g.dart
  apps/ticket_web/lib/feature/promotion_code/ui/on_invited_promotion_code_entered_dialog/on_invited_promotion_code_entered_session_dialog.dart
  apps/ticket_web/lib/feature/promotion_code/ui/on_invited_promotion_code_entered_dialog/on_invited_promotion_code_entered_sponsor_dialog.dart
  apps/ticket_web/lib/feature/promotion_code/ui/on_invited_promotion_code_entered_dialog/on_invited_promotion_code_entered_sponsor_session_dialog.dart
  apps/ticket_web/lib/feature/promotion_code/ui/on_promotion_code_verified_dialog.dart
  apps/ticket_web/lib/feature/session/data/session_provider.dart
  apps/ticket_web/lib/feature/session/data/session_provider.g.dart
  apps/ticket_web/lib/feature/sponsor/data/sponsor_provider.dart
  apps/ticket_web/lib/feature/sponsor/data/sponsor_provider.g.dart
  apps/ticket_web/lib/gen/i18n/strings.g.dart
  apps/ticket_web/lib/main.dart
  apps/ticket_web/lib/pages/home/components/already_logged_in_card.dart
  apps/ticket_web/lib/pages/home/components/ticket_cards.dart
  apps/ticket_web/lib/pages/home/components/ticket_cards/information_for_students.dart
  apps/ticket_web/lib/pages/home/components/ticket_cards/normal_ticket.dart
  apps/ticket_web/lib/pages/home/components/ticket_cards/personal_sponsor_ticket.dart
  apps/ticket_web/lib/pages/home/home_page.dart
  apps/ticket_web/pubspec.lock
  apps/ticket_web/pubspec.yaml
  packages/common/data/lib/src/model/view/sponsor_with_session.dart
  packages/common/data/lib/src/model/view/sponsor_with_session.freezed.dart
  packages/common/data/lib/src/model/view/sponsor_with_session.g.dart
  packages/common/data/lib/src/repository/sponsor_repository.dart
  packages/common/data/supabase/migrations/20240929183723_replace_sponsor_with_sessions_view.sql
  packages/common/ticket_api/lib/ticket_api.dart
  packages/common/ticket_api/lib/ticket_api.g.dart
Labels: feature, data, ticket, size/XXL

#293 #286のあまり
  apps/ticket_web/lib/pages/home/components/ticket_cards.dart
  apps/ticket_web/lib/pages/home/components/ticket_cards/general_ticket_card.dart
  apps/ticket_web/lib/pages/home/components/ticket_cards/personal_sponsor_ticket_card.dart
Labels: feature, ticket, size/S
