Repository FlutterKaigi/2024, pull requests merged in 2024-07, with the labels that each got.

#128 [Data] Spnsor周りのデータベース整備
  packages/common/data/supabase/.gitignore
  packages/common/data/supabase/config.toml
  packages/common/data/supabase/migrations/20240703170630_add_sponsor_bucket.sql
  packages/common/data/supabase/migrations/20240703170636_add_sponsor_table.sql
  packages/common/data/supabase/schema.sql
  packages/common/data/supabase/seed.sql
Labels: feature, data

#131 feat: Flutter SDK バージョンを 3.23.0-13.0.pre に更新
  .fvmrc
  .vscode/launch.json
  apps/app/l10n.yaml
  apps/app/lib/gen/l10n/l10n.dart
  apps/app/lib/gen/l10n/l10n_en.dart
  apps/app/lib/gen/l10n/l10n_ja.dart
  apps/app/pubspec.lock
  apps/app/pubspec.yaml
  apps/website/pubspec.lock
  apps/website/pubspec.yaml
  melos.yaml
  packages/app/features/about/l10n.yaml
  packages/app/features/about/lib/src/gen/l10n/l10n.dart
  packages/app/features/about/lib/src/gen/l10n/l10n_en.dart
  packages/app/features/about/lib/src/gen/l10n/l10n_ja.dart
  packages/app/features/about/pubspec.lock
  packages/app/features/about/pubspec.yaml
  packages/app/features/debug/l10n.yaml
  packages/app/features/debug/lib/src/gen/l10n/l10n.dart
  packages/app/features/debug/lib/src/gen/l10n/l10n_en.dart
  packages/app/features/debug/lib/src/gen/l10n/l10n_ja.dart
  packages/app/features/debug/pubspec.lock
  packages/app/features/debug/pubspec.yaml
  packages/app/features/news/l10n.yaml
  packages/app/features/news/lib/src/gen/l10n/l10n.dart
  packages/app/features/news/lib/src/gen/l10n/l10n_en.dart
  packages/app/features/news/lib/src/gen/l10n/l10n_ja.dart
  packages/app/features/news/pubspec.lock
  packages/app/features/news/pubspec.yaml
  packages/app/features/session/l10n.yaml
  packages/app/features/session/lib/src/gen/l10n/l10n.dart
  packages/app/features/session/lib/src/gen/l10n/l10n_en.dart
  packages/app/features/session/lib/src/gen/l10n/l10n_ja.dart
  packages/app/features/session/pubspec.lock
  packages/app/features/session/pubspec.yaml
  packages/app/features/venue/l10n.yaml
  packages/app/features/venue/lib/src/gen/l10n/l10n.dart
  packages/app/features/venue/lib/src/gen/l10n/l10n_en.dart
  packages/app/features/venue/lib/src/gen/l10n/l10n_ja.dart
  packages/app/features/venue/pubspec.lock
  packages/app/features/venue/pubspec.yaml
  packages/common/data/pubspec.lock
  packages/common/data/pubspec.yaml
Labels: feature, app, website, data

#132 [Data] SQLのフォーマッターを設定
  .github/workflows/check-sql-format.yaml
  .sqlformatrc.json
  .vscode/extensions.json
  .vscode/settings.json
  packages/common/data/supabase/migrations/20240703170630_add_sponsor_bucket.sql
  packages/common/data/supabase/migrations/20240703170636_add_sponsor_table.sql
  packages/common/data/supabase/schema.sql
  packages/common/data/supabase/seed.sql
Labels: feature, github, data

#136 chore: tasks.json を作成して supabase 関連のよく使うコマンドを設定
  .vscode/tasks.json
Labels: feature

#138 [Data] スタッフ関連のテーブル設計
  .textlintrc
  .vscode/cspell.json
  packages/common/data/docs/entity_relationship_diagram.md
  packages/common/data/supabase/migrations/20240703170630_add_sponsor_bucket.sql
  packages/common/data/supabase/migrations/20240703170630_add_sponsors_bucket.sql
  packages/common/data/supabase/migrations/20240703170636_add_sponsors_table.sql
  packages/common/data/supabase/migrations/20240713092051_add_staffs_bucket.sql
  packages/common/data/supabase/migrations/20240713092216_add_staffs_table.sql
  packages/common/data/supabase/migrations/20240713093646_staff_social_networking_services_table.sql
  packages/common/data/supabase/seed-storage/staffs/ENDOTAKUMI.webp
  packages/common/data/supabase/seed-storage/staffs/K9i-0.webp
  packages/common/data/supabase/seed-storage/staffs/KTmifune.webp
  packages/common/data/supabase/seed-storage/staffs/Kurogoma4D.webp
  packages/common/data/supabase/seed-storage/staffs/TK-Guitar.webp
  packages/common/data/supabase/seed-storage/staffs/YumNumm.webp
  packages/common/data/supabase/seed-storage/staffs/a-skua.webp
  packages/common/data/supabase/seed-storage/staffs/akeybako.webp
  packages/common/data/supabase/seed-storage/staffs/blendthink.webp
  packages/common/data/supabase/seed-storage/staffs/cardseditor.webp
  packages/common/data/supabase/seed-storage/staffs/cch-robo.webp
  packages/common/data/supabase/seed-storage/staffs/daiki1003.webp
  packages/common/data/supabase/seed-storage/staffs/darallium.webp
  packages/common/data/supabase/seed-storage/staffs/heyhey1028.webp
  packages/common/data/supabase/seed-storage/staffs/iseruuuuu.webp
  packages/common/data/supabase/seed-storage/staffs/j1522158.webp
  packages/common/data/supabase/seed-storage/staffs/k-inoue-github.webp
  packages/common/data/supabase/seed-storage/staffs/kitashio.webp
  packages/common/data/supabase/seed-storage/staffs/koji-1009.webp
  packages/common/data/supabase/seed-storage/staffs/okaryo.webp
  packages/common/data/supabase/seed-storage/staffs/santa112358.webp
  packages/common/data/supabase/seed-storage/staffs/shcahill.webp
  packages/common/data/supabase/seed-storage/staffs/sinjikoro.webp
  packages/common/data/supabase/seed-storage/staffs/sohichiro.webp
  packages/common/data/supabase/seed-storage/staffs/tucur-prg.webp
  packages/common/data/supabase/seed-storage/staffs/umechanhika.webp
  packages/common/data/supabase/seed-storage/staffs/yukisakai1225.webp
  packages/common/data/supabase/seed-storage/staffs/yuta-ike.webp
  packages/common/data/supabase/seed.sql
Labels: documentation, feature, data

#146 【App】News Widgetを作成しました
  .vscode/cspell.json
  apps/app/ios/Podfile.lock
  apps/app/ios/Runner.xcodeproj/project.pbxproj
  apps/app/pubspec.lock
  packages/app/cores/designsystem/assets/logo/main_logo_mono.svg
  packages/app/cores/designsystem/lib/common_assets.dart
  packages/app/cores/designsystem/lib/src/gen/assets/assets.gen.dart
  packages/app/cores/designsystem/pubspec.lock
  packages/app/cores/designsystem/pubspec.yaml
  packages/app/features/about/lib/src/ui/staff/staff_card_widget.dart
  packages/app/features/news/.gitignore
  packages/app/features/news/lib/src/ui/news_item_widget.dart
  packages/app/features/news/lib/src/ui/news_page.dart
  packages/app/features/news/pubspec.lock
  packages/app/features/news/pubspec.yaml
Labels: feature, app

#135 Feature: Add news table
  packages/common/data/supabase/migrations/20240713062755_add_news_table.sql
  packages/common/data/supabase/migrations/20240720001533_alter_timezone.sql
Labels: feature, data

#156 [Data] スタッフ関連のデータ更新
  packages/common/data/supabase/seed-storage/staffs/Haru-Kobayashi073.webp
  packages/common/data/supabase/seed-storage/staffs/SoutaTanaka.webp
  packages/common/data/supabase/seed-storage/staffs/TK-Guitar.webp
  packages/common/data/supabase/seed-storage/staffs/hiropeng.webp
  packages/common/data/supabase/seed-storage/staffs/keitokusano.webp
  packages/common/data/supabase/seed-storage/staffs/kikuchy.webp
  packages/common/data/supabase/seed-storage/staffs/kno3a87.webp
  packages/common/data/supabase/seed-storage/staffs/mafreud.webp
  packages/common/data/supabase/seed.sql
Labels: feature, data

#157 fix(chore): sort imports alphabetically
  packages/app/cores/designsystem/pubspec.yaml
  packages/app/features/news/lib/src/ui/news_page.dart
  packages/common/data/pubspec.yaml
Labels: bug, app, data

#158 [Data] data package の基盤を整備
  melos.yaml
  packages/common/data/analysis_options.yaml
  packages/common/data/example/common_data_example.dart
  packages/common/data/lib/common_data.dart
  packages/common/data/lib/src/common_data_base.dart
  packages/common/data/lib/src/supabase_client.dart
  packages/common/data/lib/src/supabase_client.g.dart
  packages/common/data/lib/supabase_initializer.dart
  packages/common/data/pubspec.lock
  packages/common/data/pubspec.yaml
  packages/common/data/test/common_data_test.dart
Labels: feature, test, data

#159 [Website] slang.yamlからbuild.yamlに設定ファイルを変更
  apps/website/build.yaml
  apps/website/slang.yaml
Labels: bug, website

#160 [Data] Unit Testの追加・Supabase周りのCI/CD構築
  .github/workflows/check-database.yaml
  .github/workflows/deploy-supabase.yaml
  packages/common/data/supabase/migrations/20240707061911_add_dbdev_extension.sql
  packages/common/data/supabase/tests/README.md
  packages/common/data/supabase/tests/_base_test.sql
  packages/common/data/supabase/tests/sponsors_test.sql
  packages/common/data/supabase/tests/staff_social_networking_services_test.sql
  packages/common/data/supabase/tests/staffs_test.sql
Labels: documentation, feature, github, data

#163 [Data] スタッフ関連データを利用するために必要なものを準備
  .vscode/cspell.json
  .vscode/launch.json
  apps/app/defines/development.env
  apps/app/defines/production.env
  apps/app/ios/Podfile.lock
  apps/app/lib/main.dart
  apps/app/pubspec.lock
  apps/app/pubspec.yaml
  apps/website/lib/domain/models/model.freezed.dart
  apps/website/pubspec.lock
  apps/website/pubspec.yaml
  melos.yaml
  packages/common/data/.gitignore
  packages/common/data/analysis_options.yaml
  packages/common/data/lib/src/model/sns.dart
  packages/common/data/lib/src/model/sns.freezed.dart
  packages/common/data/lib/src/model/staff.dart
  packages/common/data/lib/src/model/staff.freezed.dart
  packages/common/data/lib/src/repository/staff_repository.dart
  packages/common/data/lib/src/repository/staff_repository.freezed.dart
  packages/common/data/lib/src/repository/staff_repository.g.dart
  packages/common/data/lib/src/supabase_client.dart
  packages/common/data/lib/src/supabase_client.g.dart
  packages/common/data/lib/staff.dart
  packages/common/data/lib/supabase_initializer.dart
  packages/common/data/pubspec.lock
  packages/common/data/pubspec.yaml
  packages/common/data/test/connection_test/staff_repository_test.dart
Labels: feature, app, website, test, data

#164 Feature/about us
  packages/app/cores/designsystem/assets/logo/github_logo.svg
  packages/app/cores/designsystem/assets/logo/main_logo.svg
  packages/app/cores/designsystem/assets/logo/medium_logo.svg
  packages/app/cores/designsystem/assets/logo/x_logo.svg
  packages/app/cores/designsystem/lib/src/gen/assets/assets.gen.dart
  packages/app/features/about/assets/l10n/app_en.arb
  packages/app/features/about/assets/l10n/app_ja.arb
  packages/app/features/about/lib/src/gen/l10n/l10n.dart
  packages/app/features/about/lib/src/gen/l10n/l10n_en.dart
  packages/app/features/about/lib/src/gen/l10n/l10n_ja.dart
  packages/app/features/about/lib/src/ui/about_page.dart
  packages/app/features/about/lib/src/ui/staff/contributors_page.dart
  packages/app/features/about/lib/src/ui/staff/staff_page.dart
  packages/app/features/about/pubspec.lock
  packages/app/features/about/pubspec.yaml
Labels: feature, app

#168 [DATA] SponsorのDart Clientを作成
  packages/common/data/build.yaml
  packages/common/data/lib/src/model/sponsor.dart
  packages/common/data/lib/src/model/sponsor.freezed.dart
  packages/common/data/lib/src/model/sponsor.g.dart
  packages/common/data/lib/src/repository/sponsor_repository.dart
  packages/common/data/lib/src/repository/sponsor_repository.freezed.dart
  packages/common/data/lib/src/repository/sponsor_repository.g.dart
  packages/common/data/lib/src/repository/staff_repository.g.dart
  packages/common/data/lib/src/supabase_client.dart
  packages/common/data/lib/src/supabase_client.g.dart
  packages/common/data/test/connection_test/sponsor_repository_test.dart
Labels: test, data

#171 docs: スタッフ関連データの更新手順を作成
  packages/common/data/docs/procedures_for_updating_staff_related_data.md
Labels: documentation, improvement, data
