Repository FlutterKaigi/2024, pull requests merged in 2024-11, with the labels that each got.

#442 [ticket_web] 前夜祭の記述を追加
  apps/ticket_web/lib/core/i18n/strings.i18n.json
  apps/ticket_web/lib/core/i18n/strings_en.i18n.json
  apps/ticket_web/lib/gen/i18n/strings.g.dart
  apps/ticket_web/lib/pages/home/components/ticket_cards/general_ticket_card.dart
  apps/ticket_web/lib/pages/home/components/ticket_cards/personal_sponsor_ticket_card.dart
Labels: type/feature, related/ticket, size/M

#446 [App] fix: key.properties ファイルが存在するときのみ記載するように修正
  apps/app/android/app/build.gradle
Labels: type/bug, related/app, size/S

#445 [data] sponsorの並び順を格納する`sort_id`列を追加
  packages/common/data/lib/src/model/view/sponsor_with_session.dart
  packages/common/data/lib/src/model/view/sponsor_with_session.freezed.dart
  packages/common/data/lib/src/model/view/sponsor_with_session.g.dart
  packages/common/data/lib/src/repository/sponsor_repository.dart
  packages/common/data/supabase/migrations/20241101175220_alter_sponsor_sort_id.sql
  packages/common/data/supabase/seed.sql
Labels: related/data, size/L

#441 [app + website + ticket_web] #440 でdeprecatedになったメンバを新しいものに移行
  apps/ticket_web/lib/feature/promotion_code/ui/on_invited_promotion_code_entered_dialog/on_invited_promotion_code_entered_sponsor_dialog.dart
  apps/ticket_web/lib/feature/promotion_code/ui/on_invited_promotion_code_entered_dialog/on_invited_promotion_code_entered_sponsor_session_dialog.dart
  apps/ticket_web/lib/feature/sponsor/data/sponsor_provider.dart
  apps/ticket_web/lib/feature/sponsor/data/sponsor_provider.g.dart
  apps/website/lib/feature/sponsor/data/sponsor_notifier.dart
  apps/website/lib/feature/sponsor/data/sponsor_notifier.g.dart
  apps/website/lib/ui/pages/home/components/sponsors.dart
  apps/website/lib/ui/pages/sponsor/components/sponsor_view.dart
  apps/website/lib/ui/pages/sponsor/sponsor_page.dart
  packages/app/features/session/lib/src/data/model/timeline_item.dart
  packages/app/features/session/lib/src/data/model/timeline_item.freezed.dart
  packages/app/features/session/lib/src/data/providers/session_timeline.dart
  packages/app/features/session/lib/src/data/providers/session_timeline.g.dart
  packages/app/features/session/lib/src/ui/session_page.dart
  packages/app/features/session/lib/src/ui/session_speaker_icon.dart
Labels: type/bug, related/app, related/website, related/ticket, size/L

#448 fix: 一部自動生成コードが最新になっていない問題を修正
  apps/ticket_web/lib/gen/i18n/strings.g.dart
Labels: type/bug, related/ticket, size/XS

#447 [App]: スマホ以外の画面サイズに対応する
  apps/app/lib/main.dart
  apps/app/lib/main_page.dart
  packages/app/cores/designsystem/lib/src/ui/screen_size_provider.dart
  packages/app/cores/designsystem/lib/ui.dart
  packages/app/features/about/lib/src/ui/sponsors/sponsors_list_item.dart
  packages/app/features/about/lib/src/ui/sponsors/sponsors_page.dart
Labels: type/feature, related/app, size/L

#449 #418 About ページのカレンダーのタップイベント
  apps/app/ios/Podfile.lock
  apps/app/ios/Runner.xcodeproj/project.pbxproj
  apps/app/ios/Runner/Info.plist
  apps/app/ios/en.lproj/InfoPlist.strings
  apps/app/ios/ja.lproj/InfoPlist.strings
  apps/app/pubspec.lock
  melos.yaml
  packages/app/features/about/assets/l10n/app_en.arb
  packages/app/features/about/assets/l10n/app_ja.arb
  packages/app/features/about/lib/src/gen/l10n/l10n.dart
  packages/app/features/about/lib/src/gen/l10n/l10n_en.dart
  packages/app/features/about/lib/src/gen/l10n/l10n_ja.dart
  packages/app/features/about/lib/src/ui/about_page.dart
  packages/app/features/about/pubspec.lock
  packages/app/features/about/pubspec.yaml
Labels: type/feature, related/app, size/L

#451 [ticket-api] APIディレクトリのリファクタリング・[TS] Lintの強化・モノレポ化
  .github/workflows/deploy-ticket.yaml
  .github/workflows/wc-check-textlint.yaml
  .gitignore
  .prettierignore
  .vscode/settings.json
  api/package.json
  api/src/bindings.d.ts
  api/src/features/coupon/coupon.ts
  api/src/features/cron/scheduled.ts
  api/src/index.ts
  api/src/middleware/rateLimiter.ts
  api/src/routes/v1/v1.ts
  api/src/util/supabaseSchema.ts
  api/src/util/user.ts
  api/tsconfig.json
  apis/configs/package.json
  apis/configs/tsconfig.json
  apis/supabase-types/.gitignore
  apis/supabase-types/package.json
  apis/supabase-types/src/index.ts
  apis/supabase-types/src/types/index.ts
  apis/supabase-types/tsconfig.json
  apis/ticket-api/.dev.vars.example
  apis/ticket-api/.gitignore
  apis/ticket-api/README.md
  apis/ticket-api/package.json
  apis/ticket-api/pnpm-lock.yaml
  apis/ticket-api/src/bindings.d.ts
  apis/ticket-api/src/features/coupon/coupon.ts
  apis/ticket-api/src/features/cron/scheduled.ts
  apis/ticket-api/src/index.ts
  apis/ticket-api/src/middleware/rateLimiter.ts
  apis/ticket-api/src/routes/v1/v1.ts
  apis/ticket-api/src/util/authorizationSchema.ts
  apis/ticket-api/src/util/user.ts
  apis/ticket-api/tsconfig.json
  apis/ticket-api/wrangler.toml
  biome.json
  bun.lockb
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Labels: type/bug, related/documentation, related/github, size/XXL

#453 [App] iOS アプリリリース準備
  apps/app/android/app/build.gradle
  apps/app/defines/development.env
  apps/app/ios/Runner.xcodeproj/project.pbxproj
  apps/app/ios/Runner/Info.plist
Labels: related/app, size/S, type/release

#426 [website] ジョブボードの実装
  apps/website/lib/core/i18n/strings.i18n.json
  apps/website/lib/core/router/router.dart
  apps/website/lib/core/router/router.g.dart
  apps/website/lib/feature/job_board/data/job_board_notifier.dart
  apps/website/lib/feature/job_board/data/job_board_notifier.g.dart
  apps/website/lib/gen/i18n/strings.g.dart
  apps/website/lib/ui/pages/home/components/job_board.dart
  apps/website/lib/ui/pages/home/home_page.dart
  apps/website/lib/ui/pages/job_board/components/job_board_view.dart
  apps/website/lib/ui/pages/job_board/job_board_page.dart
  apps/website/lib/ui/pages/sponsor/sponsor_page.dart
Labels: type/feature, related/website, size/L

#469 [website] Faviconが表示されていない問題の修正
  apps/website/web/index.html
Labels: type/bug, related/website, size/XS

#468 [website] タイムテーブルのUIを修正
  apps/website/lib/feature/session/data/model/special_session.g.dart
  apps/website/lib/feature/session/data/special_sessions_notifier.dart
  apps/website/lib/feature/session/data/special_sessions_notifier.g.dart
  apps/website/lib/feature/session/ui/components/session_table_card/session_card_content.dart
  apps/website/lib/feature/session/ui/components/session_table_header.dart
  apps/website/lib/ui/components/sponsor_logo.dart
  apps/website/lib/ui/pages/session/components/session_details_card.dart
Labels: type/bug, related/website, size/M

#470 [data] InfcurionさんのJobBoard画像を差し替え
  packages/common/data/supabase/seed-storage/job_boards/609e3530-355e-4c0e-bf96-e468e946434b.webp
Labels: type/bug, related/data, size/XS

#467 [data] スポンサーセッションのデータ投入
  apps/website/lib/core/router/router.dart
  apps/website/lib/core/router/router.g.dart
  apps/website/lib/feature/job_board/data/job_board_notifier.g.dart
  apps/website/lib/feature/session/data/model/special_session.g.dart
  apps/website/lib/feature/session/data/special_sessions_notifier.dart
  apps/website/lib/feature/session/data/special_sessions_notifier.g.dart
  apps/website/lib/feature/session/ui/components/session_table_card/session_card_content.dart
  apps/website/lib/feature/session/ui/components/session_table_header.dart
  apps/website/lib/ui/components/sponsor_logo.dart
  apps/website/lib/ui/pages/home/home_page.dart
  apps/website/lib/ui/pages/session/components/session_details_card.dart
  packages/common/data/supabase/migrations/20241101175220_alter_sponsor_sort_id.sql
  packages/common/data/supabase/seed-storage/speakers/0116ff6a-5171-44d3-9733-f047f2f17930.webp
  packages/common/data/supabase/seed-storage/speakers/5d252897-2c14-4232-b51d-8f9bfa47fae3.webp
  packages/common/data/supabase/seed-storage/speakers/a87ad2ac-dc69-44fb-861d-ef57f3a3f41b.webp
  packages/common/data/supabase/seed-storage/speakers/cefa50ab-4d04-4cf1-a3f9-9ee50e2b630b.webp
  packages/common/data/supabase/seed-storage/speakers/e34f0e48-bc98-4621-9fd8-97fab8e4f112.webp
  packages/common/data/supabase/seed-storage/speakers/e63e4871-1e52-41f5-845c-335a0ec77e66.webp
  packages/common/data/supabase/seed.sql
Labels: related/website, related/data, size/L

#472 [ticket_web] fix: 曜日間違いを修正
  apps/ticket_web/lib/core/i18n/strings.i18n.json
  apps/ticket_web/lib/core/i18n/strings_en.i18n.json
  apps/ticket_web/lib/gen/i18n/strings.g.dart
Labels: type/bug, related/ticket, size/XS

#428 [website] タイムテーブルの実装
  apps/website/analysis_options.yaml
  apps/website/build.yaml
  apps/website/lib/core/i18n/strings.i18n.json
  apps/website/lib/core/router/router.dart
  apps/website/lib/core/router/router.g.dart
  apps/website/lib/feature/job_board/data/job_board_notifier.g.dart
  apps/website/lib/feature/news/data/news_data_notifier.g.dart
  apps/website/lib/feature/session/data/model/special_session.dart
  apps/website/lib/feature/session/data/model/special_session.freezed.dart
  apps/website/lib/feature/session/data/model/special_session.g.dart
  apps/website/lib/feature/session/data/sessions_notifier.dart
  apps/website/lib/feature/session/data/sessions_notifier.g.dart
  apps/website/lib/feature/session/data/special_sessions_notifier.dart
  apps/website/lib/feature/session/data/special_sessions_notifier.g.dart
  apps/website/lib/feature/session/ui/components/session_table_card/session_card.dart
  apps/website/lib/feature/session/ui/components/session_table_card/session_card_content.dart
  apps/website/lib/feature/session/ui/components/session_table_card/special_session_card.dart
  apps/website/lib/feature/session/ui/components/session_table_grid/model/time_slot.dart
  apps/website/lib/feature/session/ui/components/session_table_grid/model/time_slot.freezed.dart
  apps/website/lib/feature/session/ui/components/session_table_grid/session_grid.dart
  apps/website/lib/feature/session/ui/components/session_table_grid/sessions_row.dart
  apps/website/lib/feature/session/ui/components/session_table_grid/time_display.dart
  apps/website/lib/feature/session/ui/components/session_table_grid/time_slot_row.dart
  apps/website/lib/feature/session/ui/components/session_table_grid/venue_session_card.dart
  apps/website/lib/feature/session/ui/components/session_table_header.dart
  apps/website/lib/feature/session/ui/session_table.dart
  apps/website/lib/feature/sponsor/data/sponsor_notifier.g.dart
  apps/website/lib/gen/i18n/strings.g.dart
  apps/website/lib/ui/components/error_card.dart
  apps/website/lib/ui/components/header/site_header.dart
  apps/website/lib/ui/components/profile_avatar.dart
  apps/website/lib/ui/components/sponsor_logo.dart
  apps/website/lib/ui/pages/home/components/session.dart
  apps/website/lib/ui/pages/home/home_page.dart
  apps/website/lib/ui/pages/session/components/session_details_card.dart
  apps/website/lib/ui/pages/session/session_details_page.dart
  apps/website/lib/ui/pages/session/session_page.dart
  apps/website/lib/ui/pages/sponsor/sponsor_page.dart
  apps/website/pubspec.lock
  apps/website/pubspec.yaml
  packages/common/data/supabase/migrations/20241101175220_alter_sponsor_sort_id.sql
  packages/common/data/supabase/seed-storage/speakers/0116ff6a-5171-44d3-9733-f047f2f17930.webp
  packages/common/data/supabase/seed-storage/speakers/5d252897-2c14-4232-b51d-8f9bfa47fae3.webp
  packages/common/data/supabase/seed-storage/speakers/a87ad2ac-dc69-44fb-861d-ef57f3a3f41b.webp
  packages/common/data/supabase/seed-storage/speakers/cefa50ab-4d04-4cf1-a3f9-9ee50e2b630b.webp
  packages/common/data/supabase/seed-storage/speakers/e34f0e48-bc98-4621-9fd8-97fab8e4f112.webp
  packages/common/data/supabase/seed-storage/speakers/e63e4871-1e52-41f5-845c-335a0ec77e66.webp
  packages/common/data/supabase/seed.sql
Labels: type/feature, related/website, related/data, size/XXL

#473 [All] docs: GET_STARTED の内容で記載漏れていた内容を追記
  .vscode/cspell.json
  docs/GET_STARTED.md
Labels: related/documentation, type/improvement, size/S

#474 [ticket_web]: 学割に中学を追加
  apps/ticket_web/lib/core/i18n/strings.i18n.json
  apps/ticket_web/lib/core/i18n/strings_en.i18n.json
  apps/ticket_web/lib/gen/i18n/strings.g.dart
Labels: type/feature, related/ticket, size/XS

#475 [ticket_web] 特殊文字のバリデーションを削除
  apps/ticket_web/lib/feature/ticket/ui/components/ticket_card_edit_dialog.dart
Labels: type/bug, related/ticket, size/S

#460 [App] About us タブの SNS アイコンのダークモード対応
  packages/app/cores/designsystem/assets/logo/github_logo.svg
  packages/app/cores/designsystem/assets/logo/github_logo_dark.svg
  packages/app/cores/designsystem/assets/logo/github_logo_light.svg
  packages/app/cores/designsystem/assets/logo/medium_logo.svg
  packages/app/cores/designsystem/assets/logo/medium_logo_dark.svg
  packages/app/cores/designsystem/assets/logo/medium_logo_light.svg
  packages/app/cores/designsystem/assets/logo/x_logo.svg
  packages/app/cores/designsystem/assets/logo/x_logo_dark.svg
  packages/app/cores/designsystem/assets/logo/x_logo_light.svg
  packages/app/cores/designsystem/lib/src/gen/assets/assets.gen.dart
  packages/app/cores/designsystem/lib/src/ui/github_logo.dart
  packages/app/cores/designsystem/lib/src/ui/medium_logo.dart
  packages/app/cores/designsystem/lib/src/ui/x_logo.dart
  packages/app/cores/designsystem/lib/ui.dart
  packages/app/features/about/lib/src/ui/about_page.dart
Labels: related/app, size/L

#476 fix: プロフィール編集可能日時を11/12に変更
  apps/ticket_web/lib/core/i18n/strings.i18n.json
  apps/ticket_web/lib/core/i18n/strings_en.i18n.json
  apps/ticket_web/lib/gen/i18n/strings.g.dart
Labels: type/bug, related/ticket, size/XS

#431 [App] Mediumのアイコンにタップイベントを追加
  packages/app/cores/core/lib/constants.dart
  packages/app/cores/core/lib/src/constants/official_social_urls.dart
  packages/app/features/about/lib/src/ui/about_page.dart
Labels: related/app, size/S

#478 [App] Contributor一覧にタップイベントを追加
  packages/app/features/about/lib/src/ui/contributors/contributors_list_item.dart
Labels: related/app, size/XS

#479 [Data] feat: スタッフデータを更新
  packages/common/data/supabase/seed-storage/staffs/granoeste.webp
  packages/common/data/supabase/seed-storage/staffs/jiyuujin.webp
  packages/common/data/supabase/seed-storage/staffs/mightyfrog.webp
  packages/common/data/supabase/seed-storage/staffs/starmAIne777.webp
  packages/common/data/supabase/seed.sql
Labels: type/feature, related/data, size/M

#477 About画面のXアイコンのタップイベントの実装
  packages/app/cores/core/lib/src/constants/official_social_urls.dart
  packages/app/features/about/lib/src/ui/about_page.dart
Labels: type/feature, related/app, size/S

#481 fix: セッション詳細画面でのタイトルの見切れを修正
  packages/app/features/session/lib/src/ui/session_page.dart
Labels: type/bug, related/app, size/M

#483 #398 コントリビューター一覧に草を生やす
  packages/app/features/about/assets/l10n/app_en.arb
  packages/app/features/about/assets/l10n/app_ja.arb
  packages/app/features/about/lib/src/gen/l10n/l10n.dart
  packages/app/features/about/lib/src/gen/l10n/l10n_en.dart
  packages/app/features/about/lib/src/gen/l10n/l10n_ja.dart
  packages/app/features/about/lib/src/ui/about_page.dart
  packages/app/features/about/lib/src/ui/contributors/contributors_list_item.dart
Labels: type/feature, related/app, size/L

#485 [website-api] Linter・Formatter周りの強化・修正
  apis/website-html-rewriter/package.json
  apis/website-html-rewriter/src/bindings.d.ts
  apis/website-html-rewriter/src/ogImage.tsx
  apis/website-html-rewriter/src/server.ts
  apis/website-html-rewriter/src/util/ogpRewriter.ts
  biome.json
Labels: size/XXL

#488 [App]: セッションを SNS で共有する機能を追加
  packages/app/features/session/lib/src/ui/session_page.dart
Labels: type/feature, related/app, size/S

#484 [app] お知らせ一覧画面：有効なお知らせのみを表示する
  packages/app/features/news/lib/src/ui/news_page.dart
Labels: type/bug, related/app, size/S

#487 [app] About画面のGitHubアイコンのタップでリポジトリを開く
  packages/app/cores/core/lib/src/constants/official_social_urls.dart
  packages/app/features/about/lib/src/ui/about_page.dart
Labels: type/feature, related/app, size/S

#492 [App]: セッション以外のタイムテーブルイベントを追加
  packages/app/features/session/lib/src/data/model/timeline_item.dart
  packages/app/features/session/lib/src/data/model/timeline_item.freezed.dart
  packages/app/features/session/lib/src/data/providers/session_timeline.dart
  packages/app/features/session/lib/src/data/providers/session_timeline.g.dart
  packages/app/features/session/lib/src/ui/timeline_item_view.dart
Labels: type/feature, related/app, size/L

#494 [Data] feat: アプリの最小バージョンを管理するテーブルを作成
  packages/common/data/supabase/migrations/20241110162100_add_semver_components.sql
  packages/common/data/supabase/migrations/20241110163100_add_app_version_table.sql
  packages/common/data/supabase/tests/app_minimum_versions_test.sql
  packages/common/data/supabase/tests/semver_components_test.sql
Labels: type/feature, related/data, size/L

#495 fix: typo を修正（replace-contributors）
  .github/workflows/deploy-supabase.yaml
Labels: type/bug, related/github, size/S

#499 [Data] feat: Supabase Realtime の設定
  packages/common/data/supabase/migrations/20241111131632_alter_app_minimum_versions_policy.sql
  packages/common/data/supabase/migrations/20241111131940_alter_realtime_publication.sql
  packages/common/data/supabase/tests/app_minimum_versions_test.sql
Labels: type/feature, related/data, size/M

#502 [App] feat: 強制バージョンアップ機能を実装
  apps/app/assets/l10n/app_en.arb
  apps/app/assets/l10n/app_ja.arb
  apps/app/defines/development.env
  apps/app/lib/force_update_dialog.dart
  apps/app/lib/gen/l10n/l10n.dart
  apps/app/lib/gen/l10n/l10n_en.dart
  apps/app/lib/gen/l10n/l10n_ja.dart
  apps/app/lib/main.dart
  apps/app/lib/main_page.dart
  apps/app/pubspec.lock
  apps/app/pubspec.yaml
  melos.yaml
  packages/app/features/about/pubspec.lock
  packages/app/features/news/pubspec.lock
  packages/common/data/lib/app_minimum_version.dart
  packages/common/data/lib/src/model/app_minimum_version.dart
  packages/common/data/lib/src/model/app_minimum_version.freezed.dart
  packages/common/data/lib/src/model/app_minimum_version.g.dart
  packages/common/data/lib/src/provider/app_minimum_version_provider.dart
  packages/common/data/lib/src/provider/app_minimum_version_provider.g.dart
  packages/common/data/lib/src/repository/app_minimum_version_repository.dart
  packages/common/data/lib/src/repository/app_minimum_version_repository.g.dart
  packages/common/data/pubspec.lock
  packages/common/data/pubspec.yaml
Labels: type/feature, related/app, related/data, size/XL

#506 [App] release: 0.3.0+7
  .github/workflows/deploy-app-android.yaml
  apps/app/android/fastlane/Fastfile
  apps/app/ios/InfoPlist.xcstrings
  apps/app/ios/Runner.xcodeproj/project.pbxproj
  apps/app/ios/Runner/Info.plist
  apps/app/ios/Runner/Runner.entitlements
  apps/app/ios/en.lproj/InfoPlist.strings
  apps/app/ios/ja.lproj/InfoPlist.strings
  apps/app/pubspec.yaml
Labels: related/app, related/github, size/L, type/release

#496 [data] special_sponsorのデータ投入
  apis/supabase-types/src/types/index.ts
  biome.json
  packages/common/data/supabase/migrations/20241110164438_add_special_sponsor_table.sql
  packages/common/data/supabase/migrations/20241110173420_add_sponsor_v2_view.sql
  packages/common/data/supabase/seed-storage/sponsors/1cbc8ff6-882d-4df5-8fab-e3f2ff294149.png
  packages/common/data/supabase/seed-storage/sponsors/1cbc8ff6-882d-4df5-8fab-e3f2ff294149.webp
  packages/common/data/supabase/seed-storage/sponsors/dd6f30c4-fc43-4ccc-b48d-04991a3482a3.png
  packages/common/data/supabase/seed-storage/sponsors/dd6f30c4-fc43-4ccc-b48d-04991a3482a3.webp
  packages/common/data/supabase/seed.sql
  packages/common/data/supabase/tests/special_sponsors/special_sponsors_test.sql
  packages/common/data/supabase/tests/sponsors/sponsors_test.sql
Labels: related/data, size/XXL

#497 [data] 個人スポンサーで公開設定にしているプロフィールを公開
  packages/common/data/lib/src/repository/profile_repository.dart
  packages/common/data/supabase/migrations/20241110173718_alter_profiles_for_personal_sponsor.sql
Labels: related/data, size/M

#505 [website_api]: SpecialSponsorのOGP生成に対応
  apis/website-html-rewriter/src/ogImage.tsx
  apis/website-html-rewriter/src/server.ts
Labels: type/feature, size/S

#504 [website, ticket_web]: SpecialSponsorの対応
  .vscode/launch.json
  apps/ticket_web/lib/feature/promotion_code/ui/on_invited_promotion_code_entered_dialog/on_invited_promotion_code_entered_sponsor_dialog.dart
  apps/ticket_web/lib/feature/sponsor/data/sponsor_provider.dart
  apps/ticket_web/lib/feature/sponsor/data/sponsor_provider.g.dart
  apps/website/lib/core/i18n/strings.i18n.json
  apps/website/lib/feature/session/data/sessions_notifier.dart
  apps/website/lib/feature/session/data/sessions_notifier.g.dart
  apps/website/lib/feature/session/ui/components/session_table_grid/model/time_slot.freezed.dart
  apps/website/lib/feature/session/ui/components/session_table_grid/session_grid.dart
  apps/website/lib/feature/session/ui/components/session_table_grid/sessions_row.dart
  apps/website/lib/feature/session/ui/components/session_table_grid/time_slot_row.dart
  apps/website/lib/feature/session/ui/components/session_table_grid/venue_session_card.dart
  apps/website/lib/feature/session/ui/components/session_table_header.dart
  apps/website/lib/feature/session/ui/session_table.dart
  apps/website/lib/feature/sponsor/data/sponsor_notifier.dart
  apps/website/lib/feature/sponsor/data/sponsor_notifier.g.dart
  apps/website/lib/gen/i18n/strings.g.dart
  apps/website/lib/ui/components/sponsor_logo.dart
  apps/website/lib/ui/pages/home/components/sponsors.dart
  apps/website/lib/ui/pages/session/components/session_details_card.dart
  apps/website/lib/ui/pages/sponsor/components/sponsor_type_logo.dart
  apps/website/lib/ui/pages/sponsor/components/sponsor_view.dart
  apps/website/lib/ui/pages/sponsor/sponsor_page.dart
Labels: type/feature, related/website, related/ticket, size/L

#509 [ticket_web] チケット購入後の画面から プロフィール編集機能を削除
  apps/ticket_web/lib/core/i18n/strings.i18n.json
  apps/ticket_web/lib/core/i18n/strings_en.i18n.json
  apps/ticket_web/lib/gen/i18n/strings.g.dart
  apps/ticket_web/lib/pages/ticket/components/about_profile_information_card.dart
  apps/ticket_web/lib/pages/ticket/components/entrance_information_card.dart
  apps/ticket_web/lib/pages/ticket/components/profile_edit_restriction.dart
  apps/ticket_web/lib/pages/ticket/ticket_page.dart
Labels: type/bug, related/ticket, size/L

#514 [All] melos.yaml の公式スキーマを参照する
  .vscode/settings.json
Labels: type/feature, size/XS

#511 [data, tickets] ticketsテーブルに ネームプレート区画ID(`section_id`) を作成
  apis/supabase-types/src/types/index.ts
  packages/common/data/docs/name_plate_section.md
  packages/common/data/lib/src/model/ticket.dart
  packages/common/data/lib/src/model/ticket.freezed.dart
  packages/common/data/lib/src/model/ticket.g.dart
  packages/common/data/supabase/migrations/20241112162129_alter_ticket_section.sql
  packages/common/data/supabase/util/add_sample_tickets.sql
Labels: related/documentation, type/feature, related/data, size/L

#471 [ticket_web] QRコード表示の実装・Apple Walletの対応
  apis/ticket-api/assets/background.png
  apis/ticket-api/assets/icon.png
  apis/ticket-api/package.json
  apis/ticket-api/pnpm-lock.yaml
  apis/ticket-api/src/bindings.d.ts
  apis/ticket-api/src/files.d.ts
  apis/ticket-api/src/routes/v1/v1.ts
  apis/ticket-api/src/routes/v1/wallet.ts
  apis/ticket-api/wrangler.toml
  apps/ticket_web/assets/images/add_to_apple_wallet.webp
  apps/ticket_web/lib/core/gen/assets.gen.dart
  apps/ticket_web/lib/core/i18n/strings.i18n.json
  apps/ticket_web/lib/core/i18n/strings_en.i18n.json
  apps/ticket_web/lib/feature/auth/data/auth_notifier.dart
  apps/ticket_web/lib/feature/auth/data/auth_notifier.g.dart
  apps/ticket_web/lib/gen/i18n/strings.g.dart
  apps/ticket_web/lib/pages/ticket/components/entrance_information_card.dart
  apps/ticket_web/lib/pages/ticket/components/ticket_qr_code_card.dart
  apps/ticket_web/lib/pages/ticket/components/ticket_section_card.dart
  apps/ticket_web/lib/pages/ticket/components/wallet_qr_dialog.dart
  apps/ticket_web/lib/pages/ticket/components/warning_for_personal_sponsor_card.dart
  apps/ticket_web/lib/pages/ticket/components/warning_for_speaker_profile_card.dart
  apps/ticket_web/lib/pages/ticket/ticket_page.dart
  apps/ticket_web/pubspec.lock
  apps/ticket_web/pubspec.yaml
  pnpm-lock.yaml
Labels: type/feature, related/ticket, size/XL

#512 [data] 個人スポンサーのプロフィールを返すViewのバグ修正
  packages/common/data/supabase/migrations/20241112193700_alter_profiles_with_sns_for_individual_sponsor.sql
Labels: type/bug, related/data, size/S

#508 [website] 個人スポンサーの掲載
  apps/website/lib/core/i18n/strings.i18n.json
  apps/website/lib/feature/sponsor/data/individual_sponsor_notifier.dart
  apps/website/lib/feature/sponsor/data/individual_sponsor_notifier.g.dart
  apps/website/lib/feature/sponsor/ui/components/individual_sponsor_card.dart
  apps/website/lib/feature/sponsor/ui/components/individual_sponsor_card.g.dart
  apps/website/lib/feature/sponsor/ui/individual_sponsor_view.dart
  apps/website/lib/gen/i18n/strings.g.dart
  apps/website/lib/ui/pages/home/components/sponsors.dart
Labels: type/feature, related/website, size/L

#517 [Data] feat: TKMN さんのスタッフ情報を追加
  packages/common/data/supabase/seed-storage/staffs/wtkmn.webp
  packages/common/data/supabase/seed.sql
Labels: type/feature, related/data, size/S

#519 [website] (fix-ci): コミットメッセージに空白が入っていた場合 Websiteデプロイでエラーが起きる問題を修正
  .github/workflows/deploy-website.yaml
Labels: type/bug, related/github, size/XS

#520 [ticket_web](fix): 環境変数のBaseURLでは 末尾のスラッシュを削除
  apps/ticket_web/defines/production.env
  apps/ticket_web/defines/staging.env.example
Labels: type/bug, related/ticket, size/XS

#510 #491 [app] Day 1 と Day 2 のスクロール位置が同期されてしまっている
  packages/app/features/session/lib/src/data/model/session_date.dart
  packages/app/features/session/lib/src/ui/sessions_page.dart
Labels: type/feature, related/app, size/L

#516 [App] About usページのメインロゴと右上設定ボタンにSemantics Labelを追加する
  packages/app/cores/settings/lib/src/ui/settings_button.dart
  packages/app/features/about/assets/l10n/app_en.arb
  packages/app/features/about/assets/l10n/app_ja.arb
  packages/app/features/about/lib/src/gen/l10n/l10n.dart
  packages/app/features/about/lib/src/gen/l10n/l10n_en.dart
  packages/app/features/about/lib/src/gen/l10n/l10n_ja.dart
  packages/app/features/about/lib/src/ui/about_page.dart
Labels: type/feature, related/app, size/S

#525 [App] 左上に表示されるMainLogoにexcludeFromSemanticsパラメータを追加する
  packages/app/cores/designsystem/lib/src/ui/main_logo.dart
Labels: type/feature, related/app, size/XS

#524 [App] 言語設定に応じて、フロアマップを切り替える
  packages/app/features/venue/assets/images/floor_map_en.webp
  packages/app/features/venue/assets/images/floor_map_ja.webp
  packages/app/features/venue/lib/src/gen/assets/assets.gen.dart
  packages/app/features/venue/lib/src/ui/venue_page.dart
  packages/app/features/venue/pubspec.lock
  packages/app/features/venue/pubspec.yaml
Labels: type/feature, related/app, size/M

#527 About画面の各アイコンのエフェクトが反映される領域の調整
  packages/app/features/about/lib/src/ui/about_page.dart
Labels: type/bug, related/app, size/S

#530 fix: 表示名を akeybako に変更
  packages/common/data/supabase/seed.sql
Labels: type/bug, related/data, size/XS

#532 [App]: MainLogoの画像を差し替える
  apps/app/android/app/src/main/res/drawable-hdpi/ic_launcher_foreground.png
  apps/app/android/app/src/main/res/drawable-mdpi/ic_launcher_foreground.png
  apps/app/android/app/src/main/res/drawable-xhdpi/ic_launcher_foreground.png
  apps/app/android/app/src/main/res/drawable-xxhdpi/ic_launcher_foreground.png
  apps/app/android/app/src/main/res/drawable-xxxhdpi/ic_launcher_foreground.png
  apps/app/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  apps/app/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  apps/app/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  apps/app/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  apps/app/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  apps/app/assets/images/main_logo.png
  apps/app/assets/images/main_logo_white.png
  apps/app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
  apps/app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  apps/app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  apps/app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  apps/app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  apps/app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  apps/app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  apps/app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  apps/app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  apps/app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  apps/app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-50x50@1x.png
  apps/app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-50x50@2x.png
  apps/app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-57x57@1x.png
  apps/app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-57x57@2x.png
  apps/app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  apps/app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  apps/app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-72x72@1x.png
  apps/app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-72x72@2x.png
  apps/app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  apps/app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  apps/app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  packages/app/cores/designsystem/assets/logo/main_logo.svg
  packages/app/cores/designsystem/assets/logo/main_logo_dark.svg
  packages/app/cores/designsystem/assets/logo/main_logo_light.svg
Labels: type/feature, related/app, size/L

#529 fix: futabooo さんの画像を変更
  packages/common/data/supabase/seed-storage/speakers/f50c024e-bd44-4740-b343-37a3e6fa71d7.png
  packages/common/data/supabase/seed-storage/speakers/f50c024e-bd44-4740-b343-37a3e6fa71d7.webp
Labels: type/bug, related/data, size/XS

#533 [App] スポンサー画像にSemantics設定追加
  packages/app/features/about/lib/src/ui/sponsors/sponsors_list_item.dart
Labels: type/feature, related/app, size/S

#535 [App] chore: Cocoapods 関連の設定を修正
  apps/app/ios/Flutter/Release.xcconfig
  apps/app/ios/Podfile
  apps/app/ios/Podfile.lock
  melos.yaml
Labels: related/app, type/improvement, size/S

#537 [App] ci: App Store へデプロイ用のワークフローを仮作成
  .github/workflows/deploy-app-ios.yaml
  .vscode/cspell.json
  apps/app/.gitignore
  apps/app/ios/Runner/ExportOptions.plist
  apps/app/ios/fastlane/Fastfile
  melos.yaml
Labels: related/app, related/github, type/improvement, size/L

#507 [App]FlutterKaigi の外部ページURLを定数に置き換える
  apps/ticket_web/lib/core/components/site_footer.dart
  apps/ticket_web/lib/pages/home/components/ticket_will_be_on_sale_card.dart
  apps/website/lib/ui/components/footer/site_footer.dart
  apps/website/lib/ui/components/header/hamburger_menu.dart
  apps/website/lib/ui/pages/home/components/lead.dart
  apps/website/lib/ui/pages/home/components/sponsor.dart
  packages/app/cores/core/lib/constants.dart
  packages/app/features/about/lib/src/ui/about_page.dart
  packages/common/data/lib/constant.dart
  packages/common/data/lib/src/constant/official_social_urls.dart
Labels: related/app, related/website, related/data, related/ticket, size/M

#523 [Website] HomePage以外でのDrawerの挙動を修正
  apps/website/lib/ui/components/header/site_header.dart
  apps/website/lib/ui/pages/job_board/job_board_page.dart
  apps/website/lib/ui/pages/sponsor/sponsor_page.dart
Labels: type/bug, related/website, size/S

#536 [Website]基調講演の情報追加
  apps/website/assets/images/kevin_image.webp
  apps/website/lib/feature/session/data/model/special_session.dart
  apps/website/lib/feature/session/data/model/special_session.freezed.dart
  apps/website/lib/feature/session/data/model/special_session.g.dart
  apps/website/lib/feature/session/data/special_sessions_notifier.dart
  apps/website/lib/feature/session/data/special_sessions_notifier.g.dart
  apps/website/lib/feature/session/ui/components/session_table_card/special_session_card.dart
Labels: type/feature, related/website, size/L

#542 [App] Release/app 1.0.0
  .github/workflows/deploy-app-ios.yaml
  apps/app/android/app/build.gradle
  apps/app/ios/Podfile
  apps/app/ios/Podfile.lock
  apps/app/ios/Runner.xcodeproj/project.pbxproj
  apps/app/ios/Runner/ExportOptions.plist
  apps/app/ios/ci_scripts/ci_post_clone.sh
  apps/app/ios/fastlane/Fastfile
  apps/app/pubspec.yaml
  melos.yaml
Labels: related/app, related/github, size/L, type/release

#539 [ticket_reader] ログイン機能の実装
  .vscode/launch.json
  apps/app/ios/Podfile.lock
  apps/ticket_reader/analysis_options.yaml
  apps/ticket_reader/assets/icon.webp
  apps/ticket_reader/assets/sign_in_with_google.svg
  apps/ticket_reader/defines/.gitignore
  apps/ticket_reader/defines/development.env
  apps/ticket_reader/defines/production.env
  apps/ticket_reader/defines/staging.env.example
  apps/ticket_reader/ios/Flutter/Debug.xcconfig
  apps/ticket_reader/ios/Flutter/Release.xcconfig
  apps/ticket_reader/ios/Podfile
  apps/ticket_reader/ios/Podfile.lock
  apps/ticket_reader/ios/Runner.xcodeproj/project.pbxproj
  apps/ticket_reader/ios/Runner.xcworkspace/contents.xcworkspacedata
  apps/ticket_reader/ios/Runner/Info.plist
  apps/ticket_reader/lib/app.dart
  apps/ticket_reader/lib/core/components/error/error_card.dart
  apps/ticket_reader/lib/core/components/error/error_dialog.dart
  apps/ticket_reader/lib/core/components/full_screen_loading.dart
  apps/ticket_reader/lib/core/provider/environment.dart
  apps/ticket_reader/lib/core/provider/environment.freezed.dart
  apps/ticket_reader/lib/core/provider/environment.g.dart
  apps/ticket_reader/lib/core/provider/image_picker_provider.dart
  apps/ticket_reader/lib/core/provider/image_picker_provider.g.dart
  apps/ticket_reader/lib/core/router/router.dart
  apps/ticket_reader/lib/core/router/router.g.dart
  apps/ticket_reader/lib/core/theme/theme.dart
  apps/ticket_reader/lib/features/auth/data/auth_notifier.dart
  apps/ticket_reader/lib/features/auth/data/auth_notifier.g.dart
  apps/ticket_reader/lib/features/auth/data/on_auth_state_change_provider.dart
  apps/ticket_reader/lib/features/auth/data/on_auth_state_change_provider.g.dart
  apps/ticket_reader/lib/features/auth/ui/sign_in_with_google_button.dart
  apps/ticket_reader/lib/features/profile/data/profile_notifier.dart
  apps/ticket_reader/lib/features/profile/data/profile_notifier.g.dart
  apps/ticket_reader/lib/features/profile/data/user_avatar_image_provider.dart
  apps/ticket_reader/lib/features/profile/data/user_avatar_image_provider.g.dart
  apps/ticket_reader/lib/features/profile/ui/profile_avatar.dart
  apps/ticket_reader/lib/features/profile/ui/profile_card.dart
  apps/ticket_reader/lib/features/profile/ui/role_chip.dart
  apps/ticket_reader/lib/main.dart
  apps/ticket_reader/lib/pages/home_page.dart
  apps/ticket_reader/lib/pages/login_page.dart
  apps/ticket_reader/macos/Flutter/Flutter-Debug.xcconfig
  apps/ticket_reader/macos/Flutter/Flutter-Release.xcconfig
  apps/ticket_reader/macos/Flutter/GeneratedPluginRegistrant.swift
  apps/ticket_reader/macos/Podfile
  apps/ticket_reader/pubspec.lock
  apps/ticket_reader/pubspec.yaml
  packages/app/cores/settings/pubspec.yaml
  packages/common/data/lib/src/repository/auth_repository.dart
Labels: related/app, related/data, related/ticket, size/XXL

#543 [ticket-reader] ユーザ検索機能の実装
  apps/ticket_reader/lib/core/components/error/error_card.dart
  apps/ticket_reader/lib/core/extension/async_value.dart
  apps/ticket_reader/lib/core/extension/ticket.dart
  apps/ticket_reader/lib/core/router/router.dart
  apps/ticket_reader/lib/core/router/router.g.dart
  apps/ticket_reader/lib/features/profile/data/profile_with_ticket_and_entry_log_notifier.dart
  apps/ticket_reader/lib/features/profile/data/profile_with_ticket_and_entry_log_notifier.g.dart
  apps/ticket_reader/lib/features/profile/data/user_avatar_image_provider.dart
  apps/ticket_reader/lib/features/profile/ui/profile_avatar.dart
  apps/ticket_reader/lib/features/profile/ui/profile_card.dart
  apps/ticket_reader/lib/features/profile/ui/profile_table.dart
  apps/ticket_reader/lib/pages/home_page.dart
  apps/ticket_reader/lib/pages/user_search_page.dart
  apps/ticket_reader/pubspec.lock
  apps/ticket_reader/pubspec.yaml
  packages/common/data/lib/entry_log.dart
  packages/common/data/lib/src/model/entry_log.dart
  packages/common/data/lib/src/model/entry_log.freezed.dart
  packages/common/data/lib/src/model/entry_log.g.dart
  packages/common/data/lib/src/model/view/profile_with_ticket_and_entry_log.dart
  packages/common/data/lib/src/model/view/profile_with_ticket_and_entry_log.freezed.dart
  packages/common/data/lib/src/model/view/profile_with_ticket_and_entry_log.g.dart
  packages/common/data/lib/src/repository/entry_log_repository.dart
  packages/common/data/lib/src/repository/entry_log_repository.g.dart
  packages/common/data/lib/src/repository/profile_repository.dart
  packages/common/data/supabase/migrations/20241117163548_add_entry_log.sql
Labels: type/feature, related/data, related/ticket, size/XXL

#541 [ticket-reader] QRコード読み取りの実装
  apps/ticket_reader/android/gradle.properties
  apps/ticket_reader/ios/.gitignore
  apps/ticket_reader/ios/Flutter/AppFrameworkInfo.plist
  apps/ticket_reader/ios/Podfile
  apps/ticket_reader/ios/Podfile.lock
  apps/ticket_reader/ios/Runner.xcodeproj/project.pbxproj
  apps/ticket_reader/ios/Runner/Info.plist
  apps/ticket_reader/lib/core/components/error/error_card.dart
  apps/ticket_reader/lib/core/extension/async_value.dart
  apps/ticket_reader/lib/core/extension/ticket.dart
  apps/ticket_reader/lib/core/router/router.dart
  apps/ticket_reader/lib/core/router/router.g.dart
  apps/ticket_reader/lib/features/profile/data/profile_with_ticket_and_entry_log_notifier.dart
  apps/ticket_reader/lib/features/profile/data/profile_with_ticket_and_entry_log_notifier.g.dart
  apps/ticket_reader/lib/features/profile/data/user_avatar_image_provider.dart
  apps/ticket_reader/lib/features/profile/ui/profile_avatar.dart
  apps/ticket_reader/lib/features/profile/ui/profile_card.dart
  apps/ticket_reader/lib/features/profile/ui/profile_table.dart
  apps/ticket_reader/lib/pages/home_page.dart
  apps/ticket_reader/lib/pages/ticket_reader_page.dart
  apps/ticket_reader/lib/pages/user_search_page.dart
  apps/ticket_reader/macos/Flutter/GeneratedPluginRegistrant.swift
  apps/ticket_reader/macos/Runner/DebugProfile.entitlements
  apps/ticket_reader/macos/Runner/Release.entitlements
  apps/ticket_reader/pubspec.lock
  apps/ticket_reader/pubspec.yaml
  packages/common/data/lib/entry_log.dart
  packages/common/data/lib/src/model/entry_log.dart
  packages/common/data/lib/src/model/entry_log.freezed.dart
  packages/common/data/lib/src/model/entry_log.g.dart
  packages/common/data/lib/src/model/view/profile_with_ticket_and_entry_log.dart
  packages/common/data/lib/src/model/view/profile_with_ticket_and_entry_log.freezed.dart
  packages/common/data/lib/src/model/view/profile_with_ticket_and_entry_log.g.dart
  packages/common/data/lib/src/repository/entry_log_repository.dart
  packages/common/data/lib/src/repository/entry_log_repository.g.dart
  packages/common/data/lib/src/repository/profile_repository.dart
  packages/common/data/supabase/migrations/20241117163548_add_entry_log.sql
Labels: type/feature, related/data, related/ticket, size/XXL

#544 [ticket-reader] 入場履歴の管理(DB) / ユーザ一覧検索機能の実装
  apps/ticket_reader/lib/core/components/error/error_card.dart
  apps/ticket_reader/lib/features/profile/data/profile_with_ticket_and_entry_log_notifier.g.dart
  apps/ticket_reader/lib/features/profile/data/profile_with_ticket_and_entry_log_provider.dart
  apps/ticket_reader/lib/features/profile/data/profile_with_ticket_and_entry_log_provider.g.dart
  apps/ticket_reader/lib/features/profile/data/profile_with_ticket_and_entry_logs_search_notifier.dart
  apps/ticket_reader/lib/features/profile/data/profile_with_ticket_and_entry_logs_search_notifier.g.dart
  apps/ticket_reader/lib/features/profile/ui/entry_log/entry_log_detail.dart
  apps/ticket_reader/lib/features/profile/ui/entry_log/entry_log_view.dart
  apps/ticket_reader/lib/features/profile/ui/entry_log/entry_status_chip.dart
  apps/ticket_reader/lib/features/profile/ui/entry_log/no_entry_log_card.dart
  apps/ticket_reader/lib/features/profile/ui/entry_log_view.dart
  apps/ticket_reader/lib/features/profile/ui/profile_avatar.dart
  apps/ticket_reader/lib/features/profile/ui/profile_card.dart
  apps/ticket_reader/lib/features/profile/ui/profile_table.dart
  apps/ticket_reader/lib/features/profile/ui/user_card.dart
  apps/ticket_reader/lib/pages/components/user_search/chip/user_search_email_filter_chip.dart
  apps/ticket_reader/lib/pages/components/user_search/chip/user_search_has_entry_log_chip.dart
  apps/ticket_reader/lib/pages/components/user_search/chip/user_search_has_ticket_chip.dart
  apps/ticket_reader/lib/pages/components/user_search/chip/user_search_sort_chip.dart
  apps/ticket_reader/lib/pages/components/user_search/chip/user_search_user_id_filter_chip.dart
  apps/ticket_reader/lib/pages/components/user_search/user_search_parameter.dart
  apps/ticket_reader/lib/pages/home_page.dart
  apps/ticket_reader/lib/pages/user_search_page.dart
  packages/common/data/lib/src/model/view/profile_with_ticket_and_entry_log.dart
  packages/common/data/lib/src/model/view/profile_with_ticket_and_entry_log.freezed.dart
  packages/common/data/lib/src/repository/profile_repository.dart
  packages/common/data/supabase/migrations/20241117163548_add_entry_log.sql
Labels: type/feature, related/app, related/github, related/data, related/ticket, size/XXL

#545 [ticket-api] 返金APIを実装
  .vscode/settings.json
  apis/ticket-api/package.json
  apis/ticket-api/src/routes/v1/payment.ts
  apis/ticket-api/src/routes/v1/v1.ts
  apis/ticket-api/src/routes/v1/wallet.ts
  packages/common/ticket_api/lib/model/payment/payment_refund_response.dart
  packages/common/ticket_api/lib/model/payment/payment_refund_response.freezed.dart
  packages/common/ticket_api/lib/model/payment/payment_refund_response.g.dart
  packages/common/ticket_api/lib/model/payment/payment_search_response.dart
  packages/common/ticket_api/lib/model/payment/payment_search_response.freezed.dart
  packages/common/ticket_api/lib/model/payment/payment_search_response.g.dart
  packages/common/ticket_api/lib/ticket_api.dart
  packages/common/ticket_api/lib/ticket_api.g.dart
  pnpm-lock.yaml
Labels: type/feature, related/ticket, size/XXL

#546 [ticket-reader] チケット返金UIの実装
  apis/ticket-api/src/routes/v1/payment.ts
  apps/ticket_reader/defines/development.env
  apps/ticket_reader/defines/production.env
  apps/ticket_reader/lib/core/components/error/error_card.dart
  apps/ticket_reader/lib/core/provider/environment.dart
  apps/ticket_reader/lib/core/provider/environment.freezed.dart
  apps/ticket_reader/lib/core/router/router.dart
  apps/ticket_reader/lib/core/router/router.g.dart
  apps/ticket_reader/lib/features/payment/data/payment_notifier.dart
  apps/ticket_reader/lib/features/payment/data/payment_notifier.g.dart
  apps/ticket_reader/lib/features/payment/data/payment_repository.dart
  apps/ticket_reader/lib/features/payment/data/payment_repository.g.dart
  apps/ticket_reader/lib/features/payment/ui/payment_card.dart
  apps/ticket_reader/lib/features/payment/ui/payment_refund_modal.dart
  apps/ticket_reader/lib/features/profile/ui/user_card.dart
  apps/ticket_reader/lib/features/profile/ui/user_qr_dialog.dart
  apps/ticket_reader/lib/pages/home_page.dart
  apps/ticket_reader/lib/pages/payment_search_page.dart
  apps/ticket_reader/pubspec.lock
  apps/ticket_reader/pubspec.yaml
  packages/common/ticket_api/build.yaml
  packages/common/ticket_api/lib/model/payment/payment_search_response.g.dart
  packages/common/ticket_api/lib/model/ticket/post_promotion_request.g.dart
Labels: type/feature, related/ticket, size/XL

#547 [ticket-reader] QR読み取り機能を実装
  apps/ticket_reader/lib/features/profile/ui/entry_log/entry_log_detail.dart
  apps/ticket_reader/lib/features/profile/ui/entry_log/entry_log_view.dart
  apps/ticket_reader/lib/features/profile/ui/entry_log/no_entry_log_card.dart
  apps/ticket_reader/lib/features/profile/ui/entry_log_view.dart
  apps/ticket_reader/lib/features/profile/ui/ticket_qr_dialog.dart
  apps/ticket_reader/lib/features/profile/ui/user_card.dart
  apps/ticket_reader/lib/pages/home_page.dart
  apps/ticket_reader/lib/pages/ticket_reader_page.dart
  apps/ticket_reader/pubspec.yaml
  packages/common/data/supabase/migrations/20241117163548_add_entry_log.sql
Labels: type/feature, related/data, related/ticket, size/L

#550 [Data] feat: スポンサー追加
  packages/common/data/supabase/seed-storage/sponsors/9a86a7c7-991e-4ba4-b481-b14e7f15237e.png
  packages/common/data/supabase/seed-storage/sponsors/9a86a7c7-991e-4ba4-b481-b14e7f15237e.webp
  packages/common/data/supabase/seed.sql
Labels: type/feature, related/data, size/S

#551 [ticket-reader] Androidの実装修正
  apps/ticket_reader/README.md
  apps/ticket_reader/android/app/build.gradle
  apps/ticket_reader/android/app/src/main/AndroidManifest.xml
  apps/ticket_reader/android/app/src/main/kotlin/jp/flutterkaigi/ticketReader/MainActivity.kt
  apps/ticket_reader/android/gradle/wrapper/gradle-wrapper.properties
  apps/ticket_reader/android/settings.gradle
  apps/ticket_reader/lib/features/auth/data/auth_notifier.dart
  apps/ticket_reader/lib/features/profile/ui/user_card.dart
  apps/ticket_reader/lib/main.dart
  apps/ticket_reader/lib/pages/login_page.dart
  apps/ticket_reader/macos/.gitignore
  apps/ticket_reader/macos/Flutter/Flutter-Debug.xcconfig
  apps/ticket_reader/macos/Flutter/Flutter-Release.xcconfig
  apps/ticket_reader/macos/Flutter/GeneratedPluginRegistrant.swift
  apps/ticket_reader/macos/Podfile
  apps/ticket_reader/macos/Runner.xcodeproj/project.pbxproj
  apps/ticket_reader/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  apps/ticket_reader/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  apps/ticket_reader/macos/Runner.xcworkspace/contents.xcworkspacedata
  apps/ticket_reader/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  apps/ticket_reader/macos/Runner/AppDelegate.swift
  apps/ticket_reader/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  apps/ticket_reader/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
  apps/ticket_reader/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
  apps/ticket_reader/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
  apps/ticket_reader/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
  apps/ticket_reader/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
  apps/ticket_reader/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
  apps/ticket_reader/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
  apps/ticket_reader/macos/Runner/Base.lproj/MainMenu.xib
  apps/ticket_reader/macos/Runner/Configs/AppInfo.xcconfig
  apps/ticket_reader/macos/Runner/Configs/Debug.xcconfig
  apps/ticket_reader/macos/Runner/Configs/Release.xcconfig
  apps/ticket_reader/macos/Runner/Configs/Warnings.xcconfig
  apps/ticket_reader/macos/Runner/DebugProfile.entitlements
  apps/ticket_reader/macos/Runner/Info.plist
  apps/ticket_reader/macos/Runner/MainFlutterWindow.swift
  apps/ticket_reader/macos/Runner/Release.entitlements
  apps/ticket_reader/macos/RunnerTests/RunnerTests.swift
  apps/ticket_reader/pubspec.yaml
Labels: size/XXL

#552 [ticket-reader] 返金APIの修正・それに伴うアプリ側修正
  apis/ticket-api/src/routes/v1/payment.ts
  apps/ticket_reader/lib/core/router/router.g.dart
  apps/ticket_reader/lib/features/auth/data/auth_notifier.g.dart
  apps/ticket_reader/lib/features/payment/data/payment_notifier.dart
  apps/ticket_reader/lib/features/payment/data/payment_notifier.g.dart
  apps/ticket_reader/lib/features/payment/data/payment_repository.dart
  apps/ticket_reader/lib/features/payment/ui/payment_card.dart
  apps/ticket_reader/lib/features/profile/ui/entry_log/entry_log_detail.dart
  apps/ticket_reader/lib/features/profile/ui/user_card.dart
  apps/ticket_reader/lib/pages/home_page.dart
  apps/ticket_reader/lib/pages/payment_search_page.dart
  packages/common/ticket_api/lib/model/payment/payment_search_response.dart
  packages/common/ticket_api/lib/model/payment/payment_search_response.freezed.dart
  packages/common/ticket_api/lib/model/payment/payment_search_response.g.dart
  packages/common/ticket_api/lib/ticket_api.dart
  packages/common/ticket_api/lib/ticket_api.g.dart
Labels: type/bug, related/ticket, size/XL

#553 [ticket-api] 返金APIのログ出力・・エラーレスポンスの改善
  apis/ticket-api/src/routes/v1/payment.ts
Labels: type/bug, size/S

#554 fix(data): sectionsテーブルに対するRLSを有効化
  packages/common/data/supabase/migrations/20241120145542_alter_section_rls.sql
Labels: type/bug, related/data, size/XS

#555 chore(ticket-api): チケット販売状況のSlack Notifyを行うCron Triggerを削除
  apis/ticket-api/wrangler.toml
Labels: size/XS
