Repository FlutterKaigi/2024, pull requests merged in 2024-06, with the labels that each got.

#103 [Website] Production DeployのWorkflowを修正
  .github/workflows/deploy-web.yaml
Labels: bug, github

#105 [Website] Faviconの修正
  apps/website/assets/images/icon.png
  apps/website/assets/images/icon.webp
  apps/website/lib/ui/home/components/title_and_logo.dart
  apps/website/web/index.html
Labels: bug, website

#106 [Website] Mediumのリンクを修正
  apps/website/lib/ui/components/footer/site_footer.dart
Labels: bug, website

#107 [Website] HTMLのtitleとdescriptionを設定
  apps/website/web/index.html
Labels: bug, website

#77 chore: Add Textlint workflow and configuration files
  .github/workflows/check-textlint.yaml
  .gitignore
  .textlintrc
  bun.lockb
  package.json
  textlint.ts
  tsconfig.json
Labels: github

#111 [webpage]サイトフッターの必須表記追加
  apps/website/lib/i18n/strings.g.dart
  apps/website/lib/i18n/strings.i18n.json
  apps/website/lib/ui/components/footer/site_footer.dart
  apps/website/pubspec.lock
  apps/website/pubspec.yaml
Labels: feature, website

#116 [Website] Sponsor情報の追加
  apps/website/lib/i18n/strings.g.dart
  apps/website/lib/i18n/strings.i18n.json
  apps/website/lib/ui/home/components/sponsor.dart
  apps/website/lib/ui/home/home_page.dart
  apps/website/lib/ui/theme/extension/theme_extension.dart
  apps/website/lib/ui/theme/extension/theme_extension.tailor.dart
Labels: feature, website

#112 【App】ライセンスページを表示するようにしました。
  .vscode/cspell.json
  apps/app/lib/main.dart
  apps/app/lib/widget/debug_screen.dart
Labels: feature, app

#124 【Web】SelectionAreaを用いてTextを選択できるように
  apps/website/lib/ui/home/home_page.dart
Labels: feature, website

#123 【App】コントリビューター・スタッフ一覧ページを作成しました
  packages/app/features/about/assets/l10n/app_en.arb
  packages/app/features/about/assets/l10n/app_ja.arb
  packages/app/features/about/lib/src/gen/l10n/l10n.dart
  packages/app/features/about/lib/src/gen/l10n/l10n_en.dart
  packages/app/features/about/lib/src/gen/l10n/l10n_ja.dart
  packages/app/features/about/lib/src/ui/about_page.dart
  packages/app/features/about/lib/src/ui/staff/contributors_page.dart
  packages/app/features/about/lib/src/ui/staff/staff_card_widget.dart
  packages/app/features/about/lib/src/ui/staff/staff_page.dart
Labels: feature, app

#126 [website] ローディングUI追加
  apps/website/web/index.css
  apps/website/web/index.html
  apps/website/web/index.js
Labels: feature, website
