Repository FlutterKaigi/2024, pull requests merged in 2024-08, with the labels that each got.

#170 fix: 警告を修正
  .vscode/settings.json
  apps/website/build.yaml
  apps/website/lib/data/data_provider.dart
  apps/website/lib/domain/repository/repository_provider.dart
  apps/website/lib/i18n/strings.g.dart
  apps/website/lib/ui/home/home_page_notifier.dart
  apps/website/lib/ui/home/home_page_state.dart
  packages/app/features/about/lib/src/ui/about_page.dart
  packages/common/data/build.yaml
  packages/common/data/lib/src/model/sponsor.g.dart
  packages/common/data/lib/src/repository/sponsor_repository.dart
  packages/common/data/lib/src/repository/sponsor_repository.g.dart
  packages/common/data/lib/src/repository/staff_repository.g.dart
  packages/common/data/lib/src/supabase_client.g.dart
Labels: bug, app, website, data

#172 【Data】お知らせ機能のData実装
  packages/common/data/lib/news.dart
  packages/common/data/lib/src/model/news.dart
  packages/common/data/lib/src/model/news.freezed.dart
  packages/common/data/lib/src/model/news.g.dart
  packages/common/data/lib/src/repository/news_repository.dart
  packages/common/data/lib/src/repository/news_repository.g.dart
  packages/common/data/lib/src/repository/news_repository_impl.dart
  packages/common/data/lib/src/repository/news_repository_impl.freezed.dart
  packages/common/data/lib/src/repository/news_repository_impl.g.dart
Labels: feature, data

#174 [WEBSITE] 環境分けの実装
  .github/workflows/deploy-web-on-pr.yaml
  .github/workflows/deploy-web.yaml
  .vscode/launch.json
  apps/website/defines/development.env
  apps/website/defines/production.env
  apps/website/lib/main.dart
  packages/common/data/lib/src/model/news.g.dart
  packages/common/data/lib/src/repository/news_repository.g.dart
  packages/common/data/lib/src/repository/news_repository_impl.g.dart
Labels: feature, website, github, data

#175 [Website&Data - fix] お知らせの型を修正
  apps/website/lib/ui/home/notifier/news_data_state.dart
  packages/common/data/lib/src/model/news.dart
  packages/common/data/lib/src/model/news.freezed.dart
  packages/common/data/lib/src/model/news.g.dart
  packages/common/data/lib/src/repository/news_repository_impl.dart
  packages/common/data/supabase/migrations/20240804212229_alter_news_started_at_not_null.sql
Labels: bug, website, data

#179 【Web】スピーカー募集コンポーネント作成・配置
  apps/website/lib/i18n/strings.g.dart
  apps/website/lib/i18n/strings.i18n.json
  apps/website/lib/ui/components/contents_margin/contents_margin.dart
  apps/website/lib/ui/components/footer/site_footer.dart
  apps/website/lib/ui/home/components/speaker_wanted.dart
  apps/website/lib/ui/home/home_page.dart
  apps/website/lib/ui/theme/extension/theme_extension.dart
  apps/website/lib/ui/theme/extension/theme_extension.tailor.dart
Labels: feature, website

#182 [App] プライバシーポリシー(外部サイト)へ遷移する
  packages/app/features/about/assets/l10n/app_en.arb
  packages/app/features/about/assets/l10n/app_ja.arb
  packages/app/features/about/lib/src/gen/l10n/l10n.dart
  packages/app/features/about/lib/src/gen/l10n/l10n_en.dart
  packages/app/features/about/lib/src/gen/l10n/l10n_ja.dart
  packages/app/features/about/lib/src/ui/about_page.dart
Labels: feature, app

#183 【App】スポンサー一覧画面のレビュー
  apps/app/pubspec.lock
  packages/app/features/about/lib/src/ui/sponsors/sponsors_item.dart
  packages/app/features/about/lib/src/ui/sponsors/sponsors_page.dart
  packages/app/features/about/pubspec.lock
  packages/app/features/about/pubspec.yaml
Labels: feature, app

#180 [Website] ヘッダーナビゲーションの実装
  apps/website/lib/common/util/scroll_to_section.dart
  apps/website/lib/i18n/strings.g.dart
  apps/website/lib/i18n/strings.i18n.json
  apps/website/lib/ui/components/header/hamburger_menu.dart
  apps/website/lib/ui/components/header/site_header.dart
  apps/website/lib/ui/home/home_page.dart
  apps/website/lib/ui/theme/extension/theme_extension.dart
  apps/website/lib/ui/theme/extension/theme_extension.tailor.dart
Labels: feature, website

#184 fix: analysis_options.yamlをapps/*にも追加
  apps/app/analysis_options.yaml
  apps/website/analysis_options.yaml
Labels: bug, app, website

#181 【App】スポンサー一覧画面を作成しました
  apps/app/pubspec.lock
  packages/app/features/about/lib/src/ui/about_page.dart
  packages/app/features/about/lib/src/ui/sponsors/model/sponsor.dart
  packages/app/features/about/lib/src/ui/sponsors/model/sponsor.freezed.dart
  packages/app/features/about/lib/src/ui/sponsors/model/sponsor.g.dart
  packages/app/features/about/lib/src/ui/sponsors/sponsors_item.dart
  packages/app/features/about/lib/src/ui/sponsors/sponsors_page.dart
  packages/app/features/about/pubspec.lock
  packages/app/features/about/pubspec.yaml
Labels: feature, app

#169 [TICKET] チケット販売ページの基盤づくり
  .github/ISSUE_TEMPLATE/task_for_ticket_staff.yaml
  .github/labeler.yaml
  .github/workflows/deploy-ticket.yaml
  .vscode/launch.json
  apps/ticket_web/.gitignore
  apps/ticket_web/.metadata
  apps/ticket_web/README.md
  apps/ticket_web/docs/stripe_connect.md
  apps/ticket_web/lib/main.dart
  apps/ticket_web/pubspec.lock
  apps/ticket_web/pubspec.yaml
  apps/ticket_web/web/icon.webp
  apps/ticket_web/web/index.css
  apps/ticket_web/web/index.html
  apps/ticket_web/web/index.js
Labels: documentation, feature, github, ticket

#188 fix: 警告を修正してリビルド
  .vscode/cspell.json
  apps/app/lib/routing/router.g.dart
  apps/app/pubspec.lock
  packages/app/cores/designsystem/lib/src/font_family.g.dart
  packages/app/cores/designsystem/lib/src/theme.g.dart
  packages/app/cores/designsystem/pubspec.lock
  packages/app/cores/settings/pubspec.lock
  packages/app/features/about/pubspec.lock
  packages/common/data/lib/src/model/news.g.dart
  packages/common/data/lib/src/repository/news_repository.g.dart
  packages/common/data/lib/src/repository/news_repository_impl.g.dart
Labels: bug, app, data

#187 docs: GET_STARTED.md を改善
  .vscode/cspell.json
  docs/GET_STARTED.md
Labels: bug, documentation

#173 【Webサイト】お知らせ表示追加
  .github/workflows/deploy-web-on-pr.yaml
  .github/workflows/deploy-web.yaml
  .vscode/launch.json
  apps/website/defines/development.env
  apps/website/defines/production.env
  apps/website/lib/i18n/strings.g.dart
  apps/website/lib/i18n/strings.i18n.json
  apps/website/lib/main.dart
  apps/website/lib/ui/home/components/news_component.dart
  apps/website/lib/ui/home/home_page.dart
  apps/website/lib/ui/home/notifier/news_data_notifier.dart
  apps/website/lib/ui/home/notifier/news_data_notifier.g.dart
  apps/website/lib/ui/home/notifier/news_data_state.dart
  apps/website/lib/ui/home/notifier/news_data_state.freezed.dart
  apps/website/pubspec.lock
  apps/website/pubspec.yaml
  packages/common/data/lib/src/model/news.dart
  packages/common/data/lib/src/model/news.freezed.dart
  packages/common/data/lib/src/model/news.g.dart
  packages/common/data/lib/src/repository/news_repository_impl.dart
  packages/common/data/supabase/migrations/20240804212229_alter_news_started_at_not_null.sql
Labels: feature, website, github, data

#189 [Data, Ticket] Profileテーブルの作成
  packages/common/data/supabase/migrations/20240817072443_add_profiles_table.sql
  packages/common/data/supabase/tests/profiles/profile_basic_test.sql
  packages/common/data/supabase/tests/profiles/rls_test_as_admin_role.sql
  packages/common/data/supabase/tests/profiles/rls_test_as_user_role.sql
  packages/common/data/supabase/tests/sponsors_test.sql
  packages/common/data/supabase/tests/staff_social_networking_services_test.sql
  packages/common/data/supabase/tests/staffs_test.sql
Labels: feature, data

#195 【App】スポンサー詳細画面を作成しました
  packages/app/features/about/assets/l10n/app_en.arb
  packages/app/features/about/assets/l10n/app_ja.arb
  packages/app/features/about/lib/src/gen/l10n/l10n.dart
  packages/app/features/about/lib/src/gen/l10n/l10n_en.dart
  packages/app/features/about/lib/src/gen/l10n/l10n_ja.dart
  packages/app/features/about/lib/src/ui/sponsors/sponsors_item.dart
  packages/app/features/about/lib/src/ui/sponsors/sponsors_page.dart
Labels: feature, app

#200 Feature/contact us
  packages/app/features/about/assets/l10n/app_en.arb
  packages/app/features/about/assets/l10n/app_ja.arb
  packages/app/features/about/lib/src/gen/l10n/l10n.dart
  packages/app/features/about/lib/src/gen/l10n/l10n_en.dart
  packages/app/features/about/lib/src/gen/l10n/l10n_ja.dart
  packages/app/features/about/lib/src/ui/about_page.dart
Labels: feature, app

#197 【App】スタッフページにDBデータを組み込みました
  packages/app/features/about/lib/src/ui/staff/notifer/staff_notifer.dart
  packages/app/features/about/lib/src/ui/staff/staff_card_widget.dart
  packages/app/features/about/lib/src/ui/staff/staff_page.dart
  packages/app/features/about/pubspec.lock
  packages/app/features/about/pubspec.yaml
  packages/app/features/news/pubspec.lock
Labels: feature, app

#201 【App】Google マップ アプリを開く
  packages/app/features/about/lib/src/ui/about_page.dart
Labels: feature, app

#199 設定の永続化に対応する
  apps/app/pubspec.lock
  packages/app/cores/core/lib/providers.dart
  packages/app/cores/core/lib/src/providers/shared_preferences_instance.dart
  packages/app/cores/core/lib/src/providers/shared_preferences_instance.g.dart
  packages/app/cores/core/pubspec.lock
  packages/app/cores/core/pubspec.yaml
  packages/app/cores/designsystem/lib/src/font_family.dart
  packages/app/cores/designsystem/pubspec.lock
  packages/app/cores/designsystem/pubspec.yaml
  packages/app/cores/settings/pubspec.lock
  packages/app/features/news/pubspec.lock
Labels: feature, app
