Repository FlutterKaigi/2024, pull requests merged in 2025-02, with the labels that each got.

#567 [Data] feat: データ取得をローカルJSONに変更
  packages/common/data/lib/src/repository/contributor_repository.dart
  packages/common/data/lib/src/repository/contributor_repository.g.dart
  packages/common/data/lib/src/repository/job_board_repository.dart
  packages/common/data/lib/src/repository/job_board_repository.g.dart
  packages/common/data/lib/src/repository/news_repository.dart
  packages/common/data/lib/src/repository/news_repository.g.dart
  packages/common/data/lib/src/repository/news_repository_impl.dart
  packages/common/data/lib/src/repository/speaker_repository.dart
  packages/common/data/lib/src/repository/speaker_repository.g.dart
Labels: type/feature, related/data, size/M

#568 [Data] feat: staffs データ取得をローカルJSONに変更
  packages/common/data/lib/src/repository/staff_repository.dart
  packages/common/data/lib/src/repository/staff_repository.g.dart
Labels: type/feature, related/data, size/S

#569 [Data] feat: sessions データ取得をローカルJSONに変更
  packages/common/data/lib/session.dart
  packages/common/data/lib/src/model/view/session_venues_with_sessions_v2_view.dart
  packages/common/data/lib/src/model/view/session_venues_with_sessions_v2_view.freezed.dart
  packages/common/data/lib/src/model/view/session_venues_with_sessions_v2_view.g.dart
  packages/common/data/lib/src/model/view/session_venues_with_sessions_view.dart
  packages/common/data/lib/src/model/view/session_venues_with_sessions_view.freezed.dart
  packages/common/data/lib/src/model/view/session_venues_with_sessions_view.g.dart
  packages/common/data/lib/src/repository/session_repository.dart
  packages/common/data/lib/src/repository/session_repository.g.dart
Labels: type/feature, related/data, size/XXL

#570 [Data] feat: sponsors データ取得をローカルJSONに変更
  packages/common/data/lib/src/repository/sponsor_repository.dart
  packages/common/data/lib/src/repository/sponsor_repository.g.dart
Labels: type/feature, related/data, size/L

#571 [Data] feat: appMinimumVersions データ取得をローカルJSONに変更
  packages/common/data/lib/src/repository/app_minimum_version_repository.dart
  packages/common/data/lib/src/repository/app_minimum_version_repository.g.dart
Labels: type/feature, related/data, size/M

#572 [Data] feat: profiles データ取得をローカルJSONに変更
  packages/common/data/lib/src/repository/profile_repository.dart
Labels: type/feature, related/data, size/M

#573 [Data] feat: 画像読み込みをネットワークからアセットに変更
  apps/website/lib/feature/sponsor/ui/sponsor_logo.dart
  apps/website/lib/feature/staff/ui/components/staff_card.dart
  apps/website/lib/ui/components/profile_avatar.dart
  apps/website/lib/ui/components/sponsor_logo.dart
  apps/website/lib/ui/pages/home/components/sponsors.dart
  apps/website/lib/ui/pages/job_board/components/job_board_view.dart
  packages/app/features/about/lib/src/ui/sponsors/sponsors_list_item.dart
  packages/app/features/about/lib/src/ui/staff/staff_list_item.dart
  packages/app/features/session/lib/src/ui/session_speaker_icon.dart
  packages/common/data/lib/src/repository/job_board_repository.dart
  packages/common/data/lib/src/repository/job_board_repository.g.dart
  packages/common/data/lib/src/repository/speaker_repository.dart
  packages/common/data/lib/src/repository/speaker_repository.g.dart
  packages/common/data/lib/src/repository/sponsor_repository.dart
  packages/common/data/lib/src/repository/sponsor_repository.g.dart
  packages/common/data/lib/src/repository/staff_repository.dart
  packages/common/data/lib/src/repository/staff_repository.g.dart
  packages/common/data/lib/src/supabase_client.dart
  packages/common/data/lib/src/supabase_client.g.dart
  packages/common/data/pubspec.yaml
Labels: type/feature, related/app, related/website, related/data, size/L

#574 [App] Release/app 2.0.0
  apps/app/pubspec.yaml
  apps/website/macos/Podfile.lock
Labels: related/app, related/website, size/S, type/release

#575 chore: [Web] 開催後のメッセージに変更
  apps/website/lib/core/i18n/strings.i18n.json
  apps/website/lib/gen/i18n/strings.g.dart
  apps/website/lib/ui/pages/home/home_page.dart
Labels: related/website, size/S
